[2021-10-12 14:13] peterdesmet commented on #212
Was able to swap to `detections_limited` and all 74 tests run in 78.0 s. 🥳

[2021-10-12 14:13] #212 closed

[2021-10-12 14:59] peterdesmet opened #225 "Reinstate etn vignette?"
In b94e99f37dd4933752a0426a76828a3afdfa636f the `etn.Rmd` was removed, which served as the _Getting started_ page at https://inbo.github.io/etn/articles/etn.html

@damianooldoni, does `acoustic_telemetry.Rmd` replaces this introductory documentation? Should we make it the getting started or leave it on the same level as later "archival" and "cpod" documentation?

[2021-10-12 15:07] peterdesmet opened #226 "Update field definitions page"
The page https://inbo.github.io/etn/articles/etn_fields.html needs a number of updates:

- [ ] Should list all tables
- [ ] Should list fields as returned by the functions
- [ ] Should list fields in the same order as returned by the functions
- [ ] SHOULD pull field definitions from `app.field_metadata` (or other source where the field definitions are maintained).

[2021-10-12 15:11] #204 closed, assigned to peterdesmet

[2021-10-12 15:12] peterdesmet commented on #179
Thanks for reporting @salvafern, this has now been fixed.

[2021-10-12 15:14] peterdesmet opened #227 "Run function examples on website"
I think it might be useful to remove the `dontrun{}` for the examples. @damianooldoni?

[2021-10-12 15:17] peterdesmet commented on #160
This has now been implemented:

- connect_to_etn()
- download_acoustic_dataset()
- etn-deprecated()
- get_acoustic_deployments()
- get_acoustic_detections()
- get_acoustic_projects()
- get_acoustic_receivers()
- get_animal_projects()
- get_animals()
- get_cpod_projects()
- get_tags()
- list_acoustic_project_codes()
- list_acoustic_tag_ids()
- list_animal_ids()
- list_animal_project_codes()
- list_

[2021-10-12 15:18] peterdesmet opened #228 "Create function get_cpod_detections()"

[2021-10-12 16:10] peterdesmet opened #229 "Allow latest version of odbc"
Installing the latest version (1.3.2) of `odbc` fails on RStudioServer. It should be investigated why. It might be related to the fact that RStudioServer uses R 3.6. @jreubens who is responsible for https://rstudio.lifewatch.be/?

Installing odbc@1.2.2 works fine, so I have indicated that in DESCRIPTION.

[2021-10-12 17:39] #218 closed, assigned to nobody

[2021-10-12 18:33] damianooldoni commented on #227
Yes, I think so too. Typically I don't use `dontrun{}` to be sure that the examples are valid and do not contain errors .

[2021-10-13 15:16] peterdesmet commented on #227
This is now implemented.

[2021-10-13 15:16] #227 closed

[2021-10-14 17:12] PieterjanVerhelst commented on #206
The moment of deployment can be used to analyse if fish were not detected if a deployment was simply absent. However, if I understand correctly, `dep.deploy_date_time` is actually more suited for that, so okay to keep this field in and leave `dep.date_created` out.

[2021-10-14 17:39] PieterjanVerhelst commented on #192
Here I am a bit confused, because an acoustic tag can have sensors as well. So is the mentioned `sensor-tag` here an acoustic transmitter with sensors or an archival tag (basically only existing of sensors, as it has not an 'emitting' part; it is not a transmitter, but a datalogger).

[2021-10-14 17:41] PieterjanVerhelst commented on #201
Would keep it full as `alternative` to make it more self-explanatory, as I can imagine some confusion will arrise with this field.

[2021-10-14 17:50] PieterjanVerhelst commented on #222
Not that important imo. I think it is good practice to always use the exact names (taking into account lower and upper case) in coding.

[2021-10-14 17:52] PieterjanVerhelst commented on #220
Agreed.

[2021-10-15 09:04] peterdesmet commented on #222
Thanks @PieterjanVerhelst, then we will not implement case insensitive station name. Closing issue.

[2021-10-15 09:04] #222 closed

[2021-10-15 09:36] peterdesmet commented on #215
Ok, a bit more context:

- `tag_device.qc_migration`: contains values such as `ok`, `not ok`, `double serial_numbers with different attributes`. I think that can be ignored
- `tag_device.archive_floating`: all values empty
- `tag_device.archive_weight`: all values empty
- `tag_device.archive_length`: all values empty
- `tag_device.archive_diameter`: all values empty
- `tag_device.device_internal_m

[2021-10-15 10:04] #206 closed, assigned to PieterjanVerhelst, jreubens

[2021-10-15 10:48] peterdesmet commented on #207
@jreubens @PieterjanVerhelst or someone else: can you confirm the columns the `get_cpod_deployments()` should return? I started with all the columns returned by `get_acoustic_deployments()` plus some specific cpod ones. Especially the remarks in **bold** are important.

column | example value | action
--- | --- | ---
deployment_id | 12739 | include
receiver_id | POD-3330 | include
cpod_project_cod

[2021-10-15 17:22] PieterjanVerhelst commented on #216
The name of the field is `tag_end_date` (or something similar). As Jan mentions, this is now compulsory, but it wasn't in the past. If we want to do this right, the only option is to ask the manufacturers or the researchers who ordered the transmitters about the battery lifetime of the transmitters. @jreubens, can you do this?

[2021-10-15 17:24] PieterjanVerhelst commented on #220
Yes, but I think this issue needs a much wider elaboration and therefore I would suggest to do this all at once, instead of implementing a part now and the rest later. Just to be sure we won't have to undo previous work.

[2021-10-16 12:14] #228 closed, assigned to peterdesmet

[2021-10-18 11:50] PieterjanVerhelst commented on #215
1. Indeed, you can remove the `archive` prefix
2. `floating` probably is a boolean, namely whether or not a tag floats. Some archival transmitters are buoyant so they drift to the surface and wash ashore when they come off the animal.
3. Yes, good suggestion to change to `archive_memory`

[2021-10-18 11:53] PieterjanVerhelst commented on #192
ok, that is clear. No further questions or suggestions, except that it would indeed be good common practice to fill in the full sensor type (so e.g. 'pressure' instead of 'P') to make it more self-explanatory.

[2021-10-25 08:47] peterdesmet opened #232 "Include battery_estimated_end_date in detections_limited view"
@aubrivliz, to avoid returning detections well beyond the tag end date (currently the case in #220), can you adapt the `detections_limited` view with the following line in the WHERE clause:

[code]

In context:

[code]

[2021-10-25 14:45] #220 closed, assigned to PieterjanVerhelst, jreubens

[2021-10-25 14:47] #232 closed, assigned to aubrivliz

[2021-10-27 12:10] peterdesmet opened #233 "No access to PhD_Goossens"
@JolienGoossens reported she does not see all detections from her PhD_Goossens animal project.

@aubrivliz could it be caused by this line being commented:

https://gist.github.com/peterdesmet/697eb97746d9a793f572c01a80af34e5#file-detections_limited-sql-L56

Is that commented in the `detections_limited` view? Should it be?

[2021-10-28 14:06] peterdesmet opened #234 "Good shortname for underwater acoustics"
@debusscheree we need a good short name for underwater acoustic monitoring, one that can be used in ETN functions/parameters. I used `cpod` but as you mentioned, that is a specific technology/manufacturer, which we want to avoid.

Alternatives:

- `underwater`?
- `hydrophone`?

Example of function name: `get_hydrophone_deployments()`

[2021-10-29 08:51] peterdesmet opened #235 "Review access settings to `_limited` views"
## Animals

`common.animal_release_limited` should limit on:

[code]

## Tags

`common.tag_device_limited` should limit on:

[code]

## Acoustic detections

`detections_limited` should limit on:

[code]

## Acoustic deployments

Currently not limited, but maybe it should limit on:

[code]

If not, then why are we limiting detections based on deployment -> network -> group -> access?

## Acoustic r

[2021-11-01 08:02] JolienGoossens opened #236 "get_acoustic_detections output lacks sensor_type"
The output of get_acoustic_detections contains the sensor_value (as transmitted), but not the sensor type. As a user, you now have to perform an extra step to link the detection to the acoustic_tag_id to know what sensor was used. In addition, the output contains the column sensor2_value and sensor2_unit, but a tag can't transmit two different sensor values at once: the different sensors in one ta

[2021-11-03 14:20] aubrivliz commented on #233
@peterdesmet, that line is not commented in my view.

[2021-11-03 14:23] aubrivliz commented on #233
@peterdesmet I have been looking into the animal_release_limited view and there was an incorrect join. I've adjusted this.

But this wil only show the details of the (acoustic) tags but not the details of the (archival) sensor tags, is this intented?

[2021-11-08 14:14] PieterjanVerhelst opened #237 "Empty fields when downloading animal data from multiple projects"
When I try to download animal data from multiple `animal_projects`, the fields `tag_serial_number` and `acoustic_tag_id` are empty for some projects. This was not the case before the etn R-package upgrade.

Here the code to reproduce my issue:

[code]

[2021-11-08 16:05] PieterjanVerhelst opened #238 "No data of specific projects"
I want to download data for several `animal_projects` to which I normally have access. However, for the following `animal_project_codes` no data is generated after running the code underneath:

- `EMMN`
- `2011_Loire`
- `2004_Gudena`
- `life4fish`

[code]

[2021-11-08 19:56] damianooldoni commented on #238
Thanks @PieterjanVerhelst, I checked as well and I can reproduce what you said:

[code]

Based on the data retrieved with `etn` package it seems that there are tagged animals for `EMMN` but they have never been detected.

[2021-11-08 20:00] PieterjanVerhelst commented on #238
So the detections are missing? Or how should I interpret this? Before the adjustments of the `etn` package, I was able to extract this data with the package.

[2021-11-10 12:47] peterdesmet commented on #238
@PieterjanVerhelst, @aubrivliz and I updated/corrected some aspects of the views this morning. Can you install the latest version of the package (`devtools::install_github("inbo/etn")`) and try again. The problem might be resolved.

[2021-11-10 13:40] PieterjanVerhelst commented on #238
@peterdesmet the issue persists; still no data coming out from the function-call.

[2021-11-10 13:45] PieterjanVerhelst commented on #237
@peterdesmet @aubrivliz this issue is solved due to the changes you made 👍 .

[2021-11-10 13:45] #237 closed

[2021-11-10 13:55] damianooldoni commented on #238
Indeed, I can confirm it.

[2021-11-10 14:09] peterdesmet commented on #238
Thanks.

**There are detections.** You can find them by looking on `acoustic_tag_id` (@PieterjanVerhelst meaning you can use that for now). Apparently there is no`animal_id` or `animal_project_code` associated. I have to figure out why.

[code]

[2021-11-10 15:15] peterdesmet commented on #238
It depends. If you are searching detections on a specific animal project code, then it will only return tags associated with animals from that project (and not other detections), thus not creating duplicates. You can always test if `detection_id` is unique in your results.

[2021-11-10 15:20] PieterjanVerhelst commented on #238
aah ok, I am indeed downloading data based on `animal_project_code`. Let me know when I can run another test.

[2021-11-10 15:46] peterdesmet opened #239 "Verify why animal_project_code is not associated with some tags"
`S256-234` occurs as `acoustic_tag_id` and `acoustic_tag_id_alternative`. Figure out why both are associated with EMMN, but only 73500234 is associated with an animal:

[code]

[2021-11-10 15:50] PieterjanVerhelst commented on #238
Still no data, but when reinstalling `etn` I got the notification nothing changed. So no changes have been made to the package, but on database level?

[2021-11-10 15:53] peterdesmet commented on #238
That is correct, only changes in the database.

So, no data for:

[code]

I get 25850 detections.

[2021-11-10 15:56] PieterjanVerhelst commented on #238
Correct! However, I still get no data for the project `life4fish`.

[2021-11-10 16:00] peterdesmet commented on #238
I'm confused by your "however" 😄. Are you getting data for 2011_Loire or not?

These are the Anguilla anguilla detections I get for:
[code]

[2021-11-10 16:01] PieterjanVerhelst commented on #238
Yes, I indeed get data for `2011_Loire`, as well as the other 2 projects you list :smiley:. But for some reason, `life4fish` returns no data.

[2021-11-10 16:04] peterdesmet commented on #238
Indeed, same for me (no records for life4fish), so we can rule out an access rights issue. Try to see if you get records by searching on `acoustic_tag_id`?

[2021-11-10 16:12] peterdesmet commented on #238
To truly test on acoustic_tag_id, you have to drop the filter on scientific_name. But it doesn't make any difference here:

[code]

... returns no data.

Is it possible this project did not generate detections for Anguilla anguilla?

[2021-11-10 16:13] PieterjanVerhelst commented on #238
aah, but the only data that is included, is on Anguilla anguilla. So yes, it should contain data. I'll have a check if this data is in the ETN database itself.

[2021-11-10 16:25] PieterjanVerhelst commented on #238
Update: In ETN it says there is no data available. @jreubens @aubrivliz could you check why the data from `life4fish` is not coming through?

[2021-11-18 10:28] aubrivliz commented on #238
@peterdesmet @PieterjanVerhelst @jreubens
I am updating 100M+ detections with incorrect Lotek transmitter names. If the update is done I will check the data for <code>life4fish</code>

[2021-11-22 07:31] PieterjanVerhelst commented on #238
@aubrivliz any news on the Lotek data? I tried to download the `life4fish` data but still no output.

[2021-11-22 10:23] aubrivliz commented on #238
@PieterjanVerhelst all the detection data has been updated. But there is still no data avalaible for some reason.
I will investigate further and get back to you asap.

[2021-11-22 12:01] aubrivliz commented on #238
@PieterjanVerhelst I've made some changes in the detections_limited view, I am getting now detection data for animal_project_code = 'life4fish'.

Can you verify?

[2021-11-22 12:12] PieterjanVerhelst commented on #238
Yes! Now I can download the data and according to some quick checks I should have the data for all 146 eels in the project `life4fish`. Just FYI, I get 415,903 data records. I will have a more thorough check on Friday and will close this issue if no further problems arise.
Great job 👍 !

[2021-11-26 17:31] peterdesmet opened #240 "Don't use @importFrom (except for %>%), but call with ::"
See https://github.com/frictionlessdata/frictionless-r/commit/750eef30fa1e29d5bd5611e99ae1ef748c90de95

Makes for clearer code (i.e. where does a function come from).

[2021-11-30 09:11] #240 closed

[2022-01-20 13:26] DebusschereE commented on #234
@peterdesmet fyi the 'underwater acoustic monitoring' contains several different hydrophones, with completely different purposes, but one combining factor is that they measure some part of the underwater sound. So I know it needs to be kept short, but I would suggest 'acoustic'.

[2022-01-20 13:31] peterdesmet commented on #234
Unfortunately we already use `acoustic` for acoustic telemetry functions: https://inbo.github.io/etn/reference/index.html#section-explore-acoustic-telemetry-data

Would `underwater` make sense?

@jreubens @PieterjanVerhelst or is there a better name than `acoustic` for acoustic telemetry functions like `get_acoustic_detections()`?

[2022-01-20 14:07] DebusschereE commented on #234
To my opinion, it makes more sense to use 'acoustic' for the hydrophone measurements, and change for the acoustic telemetry to 'telemetry' ? 'underwater' doesn't make sense, but 'sound' would be fine if 'acoustic' is claimed by @PieterjanVerhelst @jreubens

[2022-01-21 09:49] jreubens commented on #234
acoustics can't be changed... as it is linked to acoustic telemetry. Telemetry also has a lot of different functionalities. thus that's not a good alternative. thus I suggest @DebusschereE goes for 'sound' :-)

[2022-01-21 09:50] DebusschereE commented on #234
ok for me. @peterdesmet 'sound' it is.

[2022-03-08 13:18] peterdesmet opened #242 "OpenCPU approach"
Summary of March 8 meeting:

Create two "flavours" of all functions in the etn package: **local** and **remote**. Function names remain the same, the difference is made in the `con` variable. For local `con` is a database connection, for remote `con` are credentials to be passed via OpenCPU. The intent is to keep a single R package.
- Users on rstudio.lifewatch.be use the local flavour (and connec

[2022-03-09 14:21] salvafern commented on #242
I changed slightly one function to make a connection to the etn directly by providing your username and password in https://github.com/inbo/etn/commit/34254e2db2c8c048094e1566d6f4a41582f1cbe3.

Now it works fine with opencpu! so it seems that we have to go for this solution instead of using the connection object. I hope this is ok for you @peterdesmet?

[2022-03-09 19:55] peterdesmet commented on #242
Great! For backwards compatibility, I suggest to keep using the `con` variable as a single parameter, e.g. as a list with:

[code]

That avoids parameters to be shifted in functions:

[code]

[2022-03-10 10:15] salvafern commented on #242
I gave it a try in [8f93f5a](https://github.com/inbo/etn/commit/8f93f5a348f6b0bf5fb732b1df32c46f364fad63). It works but you will have to be careful with the encoding of the  `=`  equal symbol(See https://github.com/opencpu/opencpu/issues/110).

This doesn't work
[code]

This does:
[code]
See also the opencpu documentation about passing arguments: https://www.opencpu.org/api.html#api-arguments

I h

[2022-03-11 13:20] peterdesmet commented on #242
Ok great! Within the function(s) we can `URLencode` all parameters before calling the OpenCPU endpoint.

We can also extend `con` now to contain a remote property:

[code]

[2022-05-17 15:08] cfmuniz opened #243 "get_tags() failure to retrieve archival and acoustic-archival data"
I am having issues retrieving tag data other than acoustic because the function does not seem to recognise the 'tag_type' argument:

Error in get_tags(con, tag_type = c("acoustic", "archival", "acoustic-archival")) :
  unused argument (tag_type = c("acoustic", "archival", "acoustic-archival"))

I am Rstudio server from VLIZ:

R version 3.6.3 (2020-02-29)
Platform: x86_64-pc-linux-gnu (64-bit)
Runn

[2022-05-18 14:46] peterdesmet commented on #243
@cfmuniz I think you are indeed using an outdated version of the package (can be checked if you copy/paste the result of `sessionInfo()`) in this issue.

The package is not on CRAN, so `install.packages('etn')` won't work to update. Please use:

1. `devtools::install_github("inbo/etn")`
2. If asked to update dependencies, select all (this process can take a while).
3. The process will eventually f

[2022-05-19 13:50] IPauwels opened #244 "Code for finding owners of foreign (non-ghosts) tags on you receiver network"
**Is there a piece of code available already that can be used to go over a list of tags (full tag id) to check who these tags belong too?**

(_For now I specifically want to evaluate the attached list of tags. These full-tag-IDs were detected in the Rügen see, and the German researchers want to find out to whom the tags belong too._)

@damianooldoni @peterdesmet @PieterjanVerhelst @jreubens
[unkno

[2022-05-19 15:42] PieterjanVerhelst commented on #244
I don't think so. I think such a functionallity was discussed at the very beginning of this database and if I remember correctly, it was decided not to include this because you can often guess which species you detected based on the tag owner. This is in conflict with moratoria rules of course.

[2022-05-30 07:22] jreubens commented on #244
Indeed, there is no code for that. This is something that is on the planning. However, once this is implemented, you won't be allowed to see the details, but only that there are detections.
To see the details you still will need to upload your metadata to the system (and than you automatically have access).

[2022-05-30 07:55] peterdesmet commented on #244
Closing this issue, since it has been answered.

[2022-05-30 07:55] #244 closed

[2022-05-31 13:56] #243 closed

[2022-06-16 06:55] peterdesmet commented on #242
@salvafern I would like to implement the OpenCPU functionality over the summer. Are all the ETN package endpoints available in OpenCPU now?

[2022-06-16 06:57] peterdesmet opened #245 "Bug in get_tags()"
Reported by @aubrivliz:

Ik denk dat er een bug is in de query van get_tag()

https://github.com/inbo/etn/blob/6553d4f25f8d4004183014cd47a82802c12425db/R/get_tags.R#L106

Als je dit uitvoert:

    tags <- get_tags(connection = my_con, tag_type = "acoustic-archival")

Dan krijg je niet enkel de acoustic-archival tags terug maar ook de sensor-tags van acoustic telemetry.

In het schema common heb je

[2022-06-16 07:03] peterdesmet opened #246 "Some animal projects not appearing in the animal project list"
Reported by @jreubens and Carlota Muñiz:

I would need to have an overview of all detections of these animal projects:

[code]
 And then I run

[code]

But it mentions “ Error: Invalid value(s) for animal_project_code argument.”
Any idea what the problem can be? I check all names and they all seem correct…

---

There is an issue with some animal projects not appearing in the animal project list.

[2022-06-16 07:16] peterdesmet commented on #246
@jreubens, as Carlota indicated, of the codes you used, `2021_Dijle` does not exist in the project table. `2021_Dijle_VPS` does, is that the one you are looking for?

- [x] `2010_phd_reubens`
- [x] `2015_phd_verhelst_cod`
- [x] `2015_phd_verhelst_eel`
- [x] `2021_YEELAZ` also code of a network project
- [x] `NARVAEEL` also code of a network project
- [x] `PhD_Goossens`
- [x] `Rijke_Noordzee`
- [x]

[2022-06-16 07:21] peterdesmet commented on #246
@jreubens please reopen this issue if that doesn't answer your question.

[2022-06-16 07:21] #246 closed

[2022-06-16 07:30] peterdesmet commented on #245
@aubrivliz the three categories are currently defined like this:

https://github.com/inbo/etn/blob/6553d4f25f8d4004183014cd47a82802c12425db/inst/sql/tag.sql#L4-L8

What would be a better way to assign those categories?

[2022-06-16 07:49] PieterjanVerhelst commented on #246
Just a side note: the project `NARVAEEL` is not up to date. Some partners did not want the data to be uploaded in the ETN database.

[2022-06-16 08:41] aubrivliz commented on #245
This should be:
[code]
But the tag_type field is misinterpreted.

If we speak of tag type this should be: "id-tag", "sensor-tag", "pit tag", "radio tag".
Those tags can be used in multiple telemetry types: "acoustic telemetry", "archival data" ...

Ideally there should be 2 fields, "tag_type" and "tag_telemetry_type".

this should be the correct way to add those fields:
[code]

[2022-06-17 09:01] salvafern commented on #242
Hi @peterdesmet we are working on it and they will be ready as soon as possible. I will let you know.

[2022-07-15 08:33] cfmuniz opened #248 "Tags not recognised by get_acoustic_detections()"
I am trying to see if some tags were detected by receivers in the ETN. The tags are not in the ETN database (it was a request from someone whose tags in OTN seem to have been detected in ETN).

get_acoustic_detections() does not recognise the tags and throws an error:

Error: Invalid value(s) for acoustic_tag_id argument.
Valid inputs are: [...]

Is the function able to search for tags not in the

[2022-09-14 10:12] peterdesmet opened #249 "Animal with missing tag"
One animal is missing a tag:

[code]

<sup>Created on 2022-09-14 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

This causes a test to fail

[2022-09-14 10:18] peterdesmet opened #250 "`get_acoustic_receivers()` SQL error caused by missing role "ETN__GROUP_MARINE_RESOURCES_JERSEY""
Running `get_acoustic_receivers()` runs into a SQL error because of a missing role. @aubrivliz any idea what is going on?

[code]

<sup>Created on 2022-09-14 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2022-09-14 10:24] peterdesmet commented on #250
The error can be narrowed down to:

[code]

@aubrivliz It seems that the `receivers_limited` table is using a role that does not exist.

[2022-09-14 10:42] aubrivliz commented on #250
The role was missing I've added "ETN__GROUP_MARINE_RESOURCES_JERSEY"

[2022-09-14 10:42] #250 closed

[2022-09-14 10:44] salvafern commented on #242
The etn package is available at: https://opencpu.lifewatch.be/

[2022-09-14 10:56] peterdesmet commented on #242
I'm getting a  403 error for https://opencpu.lifewatch.be/

[2022-09-14 10:59] peterdesmet commented on #250
Thanks!

[2022-09-14 11:00] salvafern commented on #242
The access is forbidden for internet browsers. Try with curl or from R.

[2022-09-14 11:03] peterdesmet opened #251 "`get_receivers()` no longer returns unique `receiver_id`"
`get_receivers()` used to return rows with a unique `receiver_id()`. That is no longer the case:

[code]

<sup>Created on 2022-09-14 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

@aubrivliz @jreubens is this no longer expected? Doesn't this affect how detections can then be connected to the correct receiver (location)?

[2022-09-14 11:33] peterdesmet opened #252 "Find alternative test for `acoustic_tag_id_alternative`"
The following test fails:

https://github.com/inbo/etn/blob/db8c820ba934b49a7a3727765ea314253d5fad44/tests/testthat/test-get_acoustic_detections.R#L280-L292

It looks like those acoustic_tag_ids are no longer `acoustic_tag_id_alternative`. For the top test, the acoustic_tag_id is also not unique

[2022-09-14 12:24] damianooldoni commented on #242
Thanks @salvafern. Indeed, connection can be established via R (package curl):

[code]

[2022-09-20 20:08] PieterjanVerhelst commented on #249
@peterdesmet is this because data is missing in ETN? If so, I can ask the people responsible for the MICHIMIT project to have a look.
Or is it an issue on data extraction level?

[2022-09-21 16:30] peterdesmet commented on #249
This data is missing in ETN.

[2022-09-21 19:13] PieterjanVerhelst commented on #249
Ok, I'll dig into this

[2022-09-27 13:26] jreubens commented on #246
this answers the question.. thanks

[2022-10-21 13:52] aubrivliz commented on #251
This was a mistake. I've added "id" back to the view.

[2022-10-21 13:57] aubrivliz commented on #235
All the "limited views" are User specific limited by:

`WHERE pg_has_role("current_user"(), ('ETN_'::text || projects.projectcode::text)::name, 'member'::text) OR projects.moratorium = false OR pg_has_role("current_user"(), 'ETN__full_access'::name, 'member'::text);`

Is this not working properly?

[2022-10-21 14:03] aubrivliz commented on #213
- coordinating_organization **by acoustic.imis_dasid_imis_institute**
- principal_investigator_email & principal_investigator **by common.etn_users and common.etn_user_project_role**
- mrgid (Marine Regions ID) can be returned
- mda_folder_id can be ignored

[2022-10-21 14:08] aubrivliz opened #254 "Add receiver logs View"
Receiver logs are now avalaible:

`SELECT id_pk, deployment_fk, record_type, log_data, datetime FROM acoustic.receiver_logs_data `

* deployment_fk -> the link to the deployment
* record_type -> type of the log data record
* log_data -> json object with the logged data from the receiver
* datetime -> datetime of the logged record

The metadata about the fields can be found:
`SELECT id_pk, metadata

[2022-11-14 08:24] arnclnge opened #255 "Scram authentication requires libpq version 10 or above"
Updated rlang package and now when connecting to etn, I am getting this error. Thanks for looking into this!

![image](https://user-images.githubusercontent.com/95431100/201610655-075c6c72-e2ac-45e8-be4f-af46f23ce13d.png)

[2022-11-14 09:50] arnclnge commented on #255
Somehow when I logged in at https://rstudio.vsc.lifewatch.be/, this error didn't occur.

[2022-11-14 09:50] #255 closed

[2022-11-21 12:08] peterdesmet commented on #229
The upgrade of operating system of the R servers to Ubuntu 16.04 (mail @bart-v on Nov 15) now allows the latest version of odbc (v1.3.3) to be installed. 👍

Since users are advised to reinstall all packages, many will now install odbc v1.3.3. We should therefore lift the restriction in DESCRIPTION:

https://github.com/inbo/etn/blob/main/DESCRIPTION#L30

[2022-11-21 12:34] #229 closed

[2022-11-21 17:26] peterdesmet opened #256 "Export data as Darwin Core"
Add function to export data as Darwin Core

## Human Observations

- [x] type
- [x] license: provided by user, CC-BY / CC0
- [x] rightsHolder: provided by user
- [x] datasetID: URL including imis_dataset_id
- [x] institutionCode: VLIZ
- [x] collectionCode: ETN
- [x] datasetName: imis title
- [x] basisOfRecord
- [x] dataGeneralizations: NULL
- [x] occurrenceID
- [x] sex
- [x] lifeStage
- [x] occurr

[2022-11-21 17:27] peterdesmet commented on #256
@jreubens @jonasmortelmansvliz is there a standardized value to be used for license? Is it always CC0 (recommended) or CC-BY?

[2022-11-21 17:54] peterdesmet commented on #256
I notice that the `coordinating_organization` as stored in the DB can be really long:

vs

I think I'll include `rights_holder` this as a user provided value

[2022-11-22 13:01] jreubens commented on #256
@peterdesmet regarding the questions:
1. we use CC-BY as standard
2. Not sure how to implement: a project is always linked to a group (but it can be linked to different groups)...So it is not 1 on 1. Better to link it to an organization through the PI?
3. Does this has added value?
4. If this doesn't has coordinates it doesn't has added value. Should we make recap lat and long compulsory? (problem

[2022-11-22 13:16] peterdesmet commented on #256
Thanks!

1. Ok, I will use CC-BY by default, but allow to set it to CC0
2. I will have the user provide a rightsHolder as part of the function (none by default)
3. I can remove it if not useful
4. I think recapture coordinates would be good to have in the database. I think I'll keep he record for now (even without coordinates), so users are aware that the animal was recaptured (the date is useful

[2022-11-22 13:44] peterdesmet commented on #256
6. Serial number is likely the best approach. Note that currently 3,291 of the 22,780 rows in the `tag_device` table have duplicate serial_number (see #173), but I notice comments such as "not ok, double serial_numbers with different attributes", so I'm guessing this will be resolved at some point?

[2022-11-22 18:11] PieterjanVerhelst commented on #249
@peterdesmet the crab with `animal_id` = 11046 can be removed. This is a duplicate without a tag. The animal with tag ID is already in the database and has `animal_id` = 11049.

[2022-11-22 18:59] peterdesmet commented on #249
Great! Do you have rights to remove it from the DB?

[2022-11-22 19:09] jreubens commented on #256
Yes, archival tags are also associated with an animal. It has a serial number which is linked to the animal-ID
6. I'll check this in more detail with data centre
7. yes on project level we have 'code' and 'title' . code is the short name, title the full name. @peterdesmet Can you access project metadata?

[2022-11-23 08:32] peterdesmet commented on #249
@aubrivliz can you delete this animal (animal_id = 11046) from the DB?

[2022-11-23 08:37] aubrivliz commented on #249
@peterdesmet animal has been deleted

[2022-11-23 08:38] peterdesmet commented on #256
7. In `common.projects` we have the information `name` (2014 Demer) and `code` (2014_demer). The information I'm looking for is the title (below) as provided in [IMIS](https://www.vliz.be/en/imis?module=dataset&dasid=5871). Is that information also accessible through the ETN DB or do I need to query that from IMIS?

8. For the archival tags, I'll have to test with an example to see if I get the co

[2022-11-23 08:39] peterdesmet commented on #249
Great, MICHIMIT now has the expected 34 animals.

[2022-11-23 08:39] #249 closed

[2022-11-23 08:50] aubrivliz commented on #148
@peterdesmet is this still relevant or can this be closed?

[2022-11-23 08:51] aubrivliz commented on #150
@peterdesmet is this still relevant or can this be closed?

[2022-11-23 08:51] aubrivliz commented on #155
@peterdesmet is this still relevant or can this be closed?

[2022-11-23 08:51] aubrivliz commented on #156
@peterdesmet is this still relevant or can this be closed?

[2022-11-23 08:54] peterdesmet commented on #128
No, the definition page is to be revamped in #226 and will not rely on an order in the DB. Closing.

[2022-11-23 09:03] peterdesmet commented on #156
The views are used in the [etn_fields](https://github.com/inbo/etn/blob/99e96e35ce66d8c0c7710e6be8553d89cc42c574/vignettes/etn_fields.Rmd) overview, but we will derive the info directly from `app.field_metadata` (see #226). I would therefore suggest to remove all `_view2` to avoid confusion. Assuming these are not used elsewhere.

- [ ] animals_view2
- [ ] tags_view2
- [ ] detections_view2
- [ ] d

[2022-11-23 09:04] aubrivliz commented on #176
There are duplicate tag devices in the system. I am gonna merge/remove those devices.

[2022-11-23 09:06] peterdesmet commented on #155
I think it is still useful to include `datatype` in `app.field_metadata`. Do you think that is possible?

[2022-11-23 09:07] PieterjanVerhelst commented on #256
@peterdesmet do you mean an example of a tag serial number? You can take sensor ID `A16031` which is from an eel tagged in 2018.

[2022-11-23 09:07] #150 closed

[2022-11-23 09:13] peterdesmet commented on #256
@PieterjanVerhelst thanks, I see that is a G5 pop-off tag with pressure and temperature sensors. In Darwin Core we express occurrences, i.e. observations/detections of an organism at a place and time. Am I correct in understanding that is not what archival tags record, unless they are a combined archival-acoustic tag?

[2022-11-23 09:17] peterdesmet commented on #148
No, the views can be deleted, see #156.

[2022-11-23 09:17] #148 closed

[2022-11-23 09:18] PieterjanVerhelst commented on #256
@peterdesmet the archival tags indeed register pressure and temperature. They do not log positions. Positions are obtained based on the logged pressure and temperature data through a modelling method called 'geolocation'. So if you want tracking data obtained from the archival tags into Darwin Core, this will be processed data. Note that geolocation modelling requires certain assumptions and links

[2022-11-23 09:19] peterdesmet commented on #256
Great, in that case I am keeping processed position data from archival data out of scope for Darwin Core.

[2022-11-23 09:26] aubrivliz commented on #155
All the information is provided in `app.field_metadata.field_units_format_description`. Do you have enouph information with that field?

Example: `format: integer; as in: 1003`

[2022-11-23 09:33] peterdesmet commented on #155
Yes, as the content is for humans (not machines) that should be sufficient.

[2022-11-23 13:33] aubrivliz commented on #156
@peterdesmet the views and col are deleted.

[2022-11-23 14:09] aubrivliz commented on #170
@peterdesmet for which tables you want id_pk added?

[2022-11-23 14:23] aubrivliz commented on #170
action | id_pk | table_column | field_name | application | remark |
--- | --- | --- | --- | ---|--|
update | 395 | ~NOT_USED~ | SENSOR_ID_CODE | Archival (as "SENSOR") | Used in the metadaupload. But not avalaible in the forms. |
update | 394 | ~NOT_USED~ | TAG_SERIAL_NUMBER | Acoustic | Has been moved to tagdevice but used in the animal upload metadata |
update | 112 | end_date_tag | TAG_END_DATE

[2022-11-23 14:32] peterdesmet opened #258 "Subsample detections"
With the work on #257 I figured out an efficient way to subsample detections by time (e.g. by day, hour, etc.)

@PieterjanVerhelst @IPauwels @JolienGoossens @jreubens would this be a useful option to have in `get_acoustic_detections()`?

[2022-11-24 00:12] PieterjanVerhelst commented on #258
Hmm, for me difficult to answer. For the way I explore and analyse the data, it is not useful. I reduce the dataset (which is essentially what subsampling also does) by binning detections to certain arrival and departure windows.

[2022-11-24 09:49] peterdesmet opened #259 "Duplicate detections, except for station_name"
In `2014_demer` (but likely in other projects), I discovered detections that are duplicates (same `datetime`, `receiver`, `transmitter`), except for their `station_name` and `file` (source of data):

@PieterjanVerhelst @IPauwels is this valid data? If not, @aubrivliz do you think this is an issue in the `acoustic.detections_limited` query?

<img width="911" alt="Screenshot 2022-11-24 at 10 45 42"

[2022-11-24 10:50] aubrivliz commented on #259
Is this from a specific deployment?

[2022-11-24 12:58] peterdesmet commented on #259
No, this is across the entire project. The issue also occurs in other projects. Here's the code to get all duplicates:

[code]

File: [dups.csv](https://github.com/inbo/etn/files/10084739/dups.csv)

[2022-11-24 15:47] jreubens commented on #254
@peterdesmet can you have a look to the view Aubri has created to visualize receiver diagnostics. Can we easily implement this in the package? Could users see all the fields? or should we make a selection?

[2022-11-24 19:43] PieterjanVerhelst commented on #259
@peterdesmet the file `inbo_data_file` contains all detection data from INBO projects untill a certain date; I think 31st December 2014. This file was uploaded in ETN. We decided to do this bulk upload because it was impossible to figure out the different deployments over the various projects before that date. However, it seems that the data from `2014_Demer` was still uploaded afterwards, leading

[2022-11-25 11:27] peterdesmet commented on #259
Thanks @PieterjanVerhelst. Unfortunately the issue is not only related to that or INBO-projects only:

animal_project_code | duplicates
--- | ---
2010_phd_reubens | 2766
2011_rivierprik | 46054
2012_leopoldkanaal | 690512
2013_albertkanaal | 1136927
2014_demer | 8298
2015_dijle | 5050
2015_homarus | 796
2015_phd_verhelst_cod | 479797
2015_phd_verhelst_eel | 13282

See all duplicate records in: [du

[2022-11-25 11:33] PieterjanVerhelst commented on #259
@peterdesmet could you create a csv with duplicates for the projects `2015_PHD_VERHELST_COD` and `2015_PHD_VERHELST_EEL` so I can look into these? I am currently abroad with limited internet access.

[2022-11-25 12:48] peterdesmet commented on #259
@PieterjanVerhelst here you go: [dups_pj.csv.zip](https://github.com/inbo/etn/files/10092879/dups_pj.csv.zip)

I notice I already reported this issue before for `2013_albertkanaal` at https://github.com/inbo/etn/issues/259 and for `2010_phd_reubens_sync` at https://github.com/inbo/etn-occurrences/issues/78, where @jreubens answered that is difficult to detect these.

I do think we'll have to tackl

[2022-11-25 17:49] IPauwels commented on #259
I can check this for the Demer project. Could you create a csv with all duplicates for that project too, please?
I'll also check for Albertkanaal. If in both projects, as well as in the ones of Pieterjan we find that it is only the station names and the ID_pk (it seems) that differ between certain duplicates (who are duplicates in datetime AND receiver AND transmitter), then I guess we can keep th

[2022-11-26 10:09] peterdesmet commented on #259
@IPauwels here are the files with duplicates:

- [dups_demer.csv.zip](https://github.com/inbo/etn/files/10096027/dups_demer.csv.zip)
- [dups_albertkanaal.csv.zip](https://github.com/inbo/etn/files/10096028/dups_albertkanaal.csv.zip)

The station name is sometimes the same, the constant difference is `detection_id` (so these are actual different rows, not something created by the query) and `deploy

[2022-11-26 10:12] peterdesmet commented on #259
Correction: the `deployment_id` is sometimes the same for the duplicates. 🤷‍♂️

[2022-11-26 11:22] PieterjanVerhelst commented on #259
I checked the file `dups_pj.csv` file and apart from the `deployment_id` column, the records are identical. IMO we can remove one of the duplicates, but better to first check how these duplicates got into the database. In case one of the records holds more info (e.g. station name) we should keep that record and remove the other.
@aubrivliz would it be possible to check when two duplicates were upl

[2022-11-28 12:00] peterdesmet opened #260 "Full project title available in ETN database"
In `common.projects` we have the information `name` (2014 Demer) and `code` (2014_demer). The information I'm looking for is the title (below) as provided in [IMIS](https://www.vliz.be/en/imis?module=dataset&dasid=5871).

@jreubens @aubrivliz Is that information also accessible through the ETN DB or do I need to query that from IMIS?

[2022-11-29 09:06] aubrivliz commented on #260
@peterdesmet
The project metadata is not provided in ETN, you need to query this from IMIS.

[2022-11-29 09:30] peterdesmet commented on #260
Any advise on how to best do this? Is there an API?

[2022-11-29 09:33] aubrivliz commented on #260
You can get the data in Json format. Example:

 [IMIS](https://www.vliz.be/en/imis?module=dataset&dasid=5871)
https://www.vliz.be/en/imis?module=dataset&dasid=5871&show=json

Just add the "&show=json"

[2022-11-29 10:03] peterdesmet commented on #260
Excellent, thanks!

[2022-11-29 10:31] aubrivliz commented on #259
@PieterjanVerhelst I've checked and there are 2 files uploaded for the same deployment.
![image](https://user-images.githubusercontent.com/50659924/204505030-b3a67cb0-b0cb-49d6-88ff-410ba16638a3.png)

Once with the "inbo_data_file" and "VR2W_122322_20141121_1.csv"

But there is no trace of them in the database.

[2022-11-29 11:14] jreubens commented on #256
regarding 7. this information goes through IMIS.
In the ETN project metadata, there is a link to the IMIS record

[2022-11-29 11:29] peterdesmet commented on #256
All fields are now mapped in #257. Remaining questions @jonpye @jreubens @jonasmortelmansvliz

- [ ] `samplingProtocol`: `acoustic detection` or `acoustic telemetry` (to not confuse with sound recording)
- [ ] `parentEventID` / `eventID`: currently consists of `animal_id + tag_serial_number`. Should the manufacturer be included with the serial number to avoid collisions? So `304_1187449` -> `304_V

[2022-11-29 14:05] #260 closed

[2022-11-29 16:39] peterdesmet commented on #256
@jonpye comments:

I agree, here are all the possible manufacturers:

[code]

Are there some we should shorten?

[2022-11-30 08:14] peterdesmet commented on #256
@jdpye, here's how the identifiers would differ if we include the manufacturer:

[code]

[code]

Note that **within a dataset** the identifiers are unique in both cases. Adding the manufacturer would only solve the use case where we want to combine multiple datasets where the `animal_id+serial_number` combination looks identical, but is actually different and they originate from a different manufa

[2022-11-30 09:33] aubrivliz opened #261 "Add depth in the detections output"
There has been a new field added on the `acoustic.detections_limited` .
Is it possible to add `depth_in_meters` in the output for the detections?

[2022-11-30 14:22] jdpye commented on #256
oops, I see these now, I'm @jdpye here and @jonpye on Google-side.

I would say 1000m (or more) from a center point is reasonable. If you are looking for a flat upper bound for coordinateUncertaintyInMeters, the accepted range of a high-powered tag in open water is around that. We place gates 800m apart to cover most cases of degraded signal transmission. This is a highly variable situation, with

[2022-11-30 14:34] peterdesmet commented on #256
Thanks @jdpye, I'll have the `write_dwc()` function use 1000m as the default upper limit and refer to your comment. Users can always alter the output of the `write_dwc()` to be more precise.

Any feedback on default coordinateUncertainty for human obs (capture, release, ...) and regarding those identifiers?

[2022-11-30 14:38] jdpye commented on #256
I don't have any info that would overrule the standard commercial GPS precision being ~30m, I'd be happy to roll with that.
coordinatePrecision might be an interesting companion to this, if data creators are recording only a few decimal places of location for their release/deployment points, would we hash that out in coordinatePrecision instead?

[2022-11-30 14:41] diniangela commented on #256
For the standard vocabularies for lifestage, we at OTN hold a link to the NERC vocabulary: http://vocab.nerc.ac.uk/collection/S11/current/

[2022-11-30 14:47] peterdesmet commented on #256
**coordinateUncertainty for human obs**
@jdpye We could go for 30m, but apparently I opted for [1000m](https://github.com/inbo/movepub/blob/9a908904da3efed2d306f8d835516c6bc47c71dd/inst/sql/dwc_occurrence.sql#L71-L74) for Movebank data, since the origin of the coordinates is often not known. I think the same is true here. 1000m is likely to capture most uncertainty, but thoughts welcome (and then

[2022-11-30 14:48] peterdesmet opened #262 "Map lifeStage to controlled vocab in DwC"
_Originally posted by @diniangela in https://github.com/inbo/etn/issues/256#issuecomment-1332268387_

[2022-11-30 15:08] peterdesmet commented on #262
Life stage values are currently not controlled and include

life_stage | cleaned value | vocab
--- | --- | ---
adult, Adult, ADULT | adult | http://vocab.nerc.ac.uk/collection/S11/current/S1116/
FII | ?
FIII | ?
FIV | ?
FV | ?
I | immature? | http://vocab.nerc.ac.uk/collection/S11/current/S1171/
imature | immature | http://vocab.nerc.ac.uk/collection/S11/current/S1171/
juvenile, JUVENILE | juvenil

[2022-11-30 15:51] diniangela commented on #262
we use http://vocab.nerc.ac.uk/collection/S11/current/S1173/ for 'SMOLT'

[2022-11-30 16:01] jdpye commented on #256
i like the idea of having a parameter for the function, but i can see the scope creeping. Would the user provide a different blanket value for the whole export, or a conditional blanket value, or be required to sub in their own per instrument or per event column of data?

 The default is what nearly all existing data will be published with so we all definitely have to be happy with the 1000m being

[2022-11-30 16:43] PieterjanVerhelst commented on #262
@peterdesmet
Where the value is `JUVENILE/ADULT` that is a bit weird, since it can only be one of both. So it is rather inconclusive.
The values `I`, `FII`, `FIII`, `FIV`, `FV` and `MII` are eel classification stages according to Durif et al. (2005)[https://doi.org/10.1111/j.0022-1112.2005.00662.x](url)
For a cleaned value, we could do as follows:
`I`, `FII`, `FIII` = `juvenile`
`FIV`, `FV` and `M