[2017-07-06 09:06] peterdesmet opened #1 "Taxonomic coverage figure"
As discussed with @IPauwels, for taxonomic coverage, create a figure with:

* [ ] Rows: species
* [ ] Columns: year
* [ ] Values: number of **published** detections
* [ ] Colour cells on detection range (per species, see figure below)
* [ ] Indicate scientific name and English vernacular name
* [ ] Indicate years with data that are under moratorium: e.g. rather than having number of detections, in

[2017-07-06 09:40] peterdesmet opened #2 "Sampling extent figure with deployed tags/year"
As discussed with @IPauwels, for sampling coverage, create a figure with:

* [ ] Rows: species
* [ ] Columns: year
* [ ] Values: number of **deployed** tags (including not yet published tags)
* [ ] Colour cells on values (per species, see figure below)
* [ ] Indicate scientific name and English vernacular name
* [ ] Maybe group species on habitat: obligatory marine, etc. (or extra column)

Example

[2017-12-05 11:29] peterdesmet opened #5 "Deployment information relevant for external users?"
As a test I've made a deployment (+ receiver) extraction from the data.

https://github.com/inbo/fish-tracking-data-publication/blob/master/data/output/temp/deployment.csv

Each record is basically a deployment (file) that was uploaded to the database. I wonder if that information will be relevant for the open data/external users ?

1. Since the coordinates of the receivers are going to be in the

[2018-01-19 15:11] peterdesmet opened #8 "Required fields for publication of DwC occurrence data"
For the publication of DwC occurrence data, the following fields are required at a detection view level:

## Already in detection_view

* [ ] `detections_view.id_pk`: is this a stable identifier for the detection that can be made public?
* [ ] `detections_view.datetime`
* [ ] `detections_view.transmitter` (= `tags.tag_code_space`)
* [ ] `detections_view.receiver` (= `receivers.receiver`)
* [ ] `de

[2018-01-26 10:46] stijnvanhoey opened #9 "basic set of functions for ETN data access"
@jreubens @PieterjanVerhelst as we discussed:

As a replacement of the current `getLWData`  function, we aim to go to a minimal set of functions for the data access. Each of these functions target a specific set of data-tables, comparable to the online ETN data portal.

Apart from a `make_connection` function, the first set of functions that we will focus on are. For each function, we define the r

[2018-01-26 16:05] jreubens commented on #9
@stijnvanhoey
below you can find an overview of all the header I would keep included. It is still quite a lot, thus if this is still too much, let me know and I'll see whether I can do a further reduction...
From projects, detections and tags I kept all the headers.
From the other ones I removed some redundant ones

## vliz.detections_view

"receiver"                  "transmitter"               "

[2018-01-26 18:44] PieterjanVerhelst commented on #9
@jreubens I think some fields in animals are redundant. Although everything can have its purpose for someone in the future, I think the listed column names below will only rarely be used. If one column appears to be more important than previously thought, it can be added to the function at a later stage.

 "wild_or_hatchery"
"stock" "dna_sample_taken"
"treatment_type" "dissolved_oxygen"
"date_of_s

[2018-01-26 19:20] jreubens commented on #9
some can indeed be removed I guess
but I want to keep the following...
"wild_or_hatchery"
"stock"
"dna_sample_taken"
"date_of_surgery"
"implant_type"
"implant_method"
"capture_method"

for some projects this might be important in the near future...

[2018-02-07 13:06] #8 closed

[2018-02-22 13:13] peterdesmet opened #10 "Info included in data dump"
Here's a quick overview of the data that will be included in the dataset we will publish. @PieterjanVerhelst @IPauwels can you have a look if this makes sense? Let me know if you need more info.

animal_project_name | scientific_name | detections | individuals | stations | end_date | start_date
--- | --- | --- | --- | --- | --- | ---
2011 Rivierprik | Lampetra fluviatilis | 114605 | 29 | 29 | 2012

[2018-02-22 13:13] peterdesmet opened #68 "Handle ghost detections (at DB & pkg)"
Here's a quick overview of the data that will be included in the dataset we will publish. @PieterjanVerhelst @IPauwels can you have a look if this makes sense? Let me know if you need more info.

animal_project_name | animals.scientific_name | detections | individuals | stations | start_date | end_date
--- | --- | --- | --- | --- | --- | ---
2011 Rivierprik | Lampetra fluviatilis | 114605 | 29 | 2

[2018-02-22 13:25] PieterjanVerhelst commented on #10
The project '2012 Leopoldkanaal' ended in January 2016 (i.e. the last receiver of that project was removed on 18/01/2016). Could you check which eel was detected till 2017? Was it 29920?

[2018-02-22 13:32] peterdesmet commented on #10
@PieterjanVerhelst very few detections:

datetime | transmitter
--- | ---
2016-05-05T21:55:57Z | A69-1601-29954
2017-02-18T02:10:39Z | A69-1601-29961
2017-02-20T14:38:25Z | A69-1601-29961
2017-03-12T00:43:14Z | A69-1601-29961
2017-03-12T02:31:25Z | A69-1601-29961

[2018-02-22 13:34] PieterjanVerhelst commented on #10
Could you give the station name for those detections?

[2018-02-22 13:36] peterdesmet commented on #10
Updated (+ plus in original overview it now has start, end, not end, start)

[2018-02-22 13:42] PieterjanVerhelst commented on #10
I just checked the battery end dates of those two tags and they dropped dead in February 2015. These 5 detections are likely ghost detections and can be removed from the dataset.
However, this poses the urge for a quality check regarding tag detections post battery end date.

[2018-02-22 14:58] peterdesmet commented on #10
Indeed. I've updated this issue title. Can you check this and remove those from the database itself? I think that's better than me removing them from my data dump.

Once done and checked, let me know if there were many: if not, I'll remove them from my dump. If yes, I'll ask for a new dump.

[2018-04-18 11:29] PieterjanVerhelst commented on #10
I finally found time to get to this issue :-). I discussed this with the VLIZ team and they prefer that such data removals don't occur at the database level. @peterdesmet what do you think?

[2018-04-18 11:45] peterdesmet commented on #10
Can they be flagged by the user as ghost detections, so these can be filtered upon?

[2018-04-18 11:48] PieterjanVerhelst commented on #10
That should be possible. I'll check with them.

[2018-04-18 12:03] PieterjanVerhelst commented on #10
It should be possible to add a column with a boolean `TRUE` `FALSE`. @jreubens @bwydoogh this can be implemented? If this would be done, we only need a rule to consider ghost detections.

[2018-04-18 12:04] bwydoogh commented on #10
Yes, why not (if Jan agrees; I hope he is also watching this Github repo).
What are the exact rules to set that flag to `TRUE`?

[2018-04-18 12:24] PieterjanVerhelst commented on #10
We could consider a ghost detection when the detection timestamp > battery end date & there is no recapture date.

[2018-04-18 19:13] jreubens commented on #10
It seems logic to me that this should be flagged as 'possible ghost detection'.
However, it should be clear that it is the responsibility of the user/data owner to use or not use these detections. It is just a flag.
Having said this, we should have clear rules what we consider as ghost detections.
THe rule mentioned by Pieterjan can be a start (this is a simple example. However, there should be mo

[2018-04-27 08:38] stijnvanhoey opened #12 "project filtering as function input"
@PieterjanVerhelst and @jreubens
when requesting for data and addingnetwork or animal projects to the input, which type of input do you expect to use: `name` or `projectcode`?

Let me explain with an example: For the usage of for example the `get_tags` function,

[code]
In the example, I use the `projectcode`. Is this the appropriate naming or will people use the `name`?

An example of the info ab

[2018-04-27 08:55] peterdesmet commented on #12
At least for the INBO datasets, we have standardized project names/codes:

id  | name               | project code
----|--------------------|--------------------
22  | 2015 Dijle         | 2015_dijle
18  | 2013 Albertkanaal  | 2013_albertkanaal
15  | 2012 Leopoldkanaal | 2012_leopoldkanaal
621 | 2016 PhD Vergeynst | 2016_phd_vergeynst
17  | 2015 PhD Verhelst  | 2015_phd_verhelst
622 | 2015 Fint

[2018-04-27 09:00] PieterjanVerhelst commented on #12
Currently, the `name` is used, but I prefer the` project code`, as it contains no capitals or spaces and is therefore more straightforward (less mistakes/errors will occur). @jreubens , what do you think?

[2018-04-27 09:31] PieterjanVerhelst commented on #10
Notably, Since the exact hour of tagging and therefore battery end date are often unknown, I would add a buffer of at least one day. Or even a month. So a detection is considered a ghost detection if it occurred > 1 month after the battery end date. Detections < 1 months should be checked by the researcher if a wrong tagging time stamp was given.

[2018-04-27 09:40] jreubens commented on #12
I also prefer the project_code

[2018-04-27 09:44] stijnvanhoey commented on #10
ny link with  https://gitlab.oceantrack.org/GreatLakes/glatos#filtering-and-summarizing functions?

[2018-04-27 09:53] jreubens commented on #10
Fyi there is also another package called Vtrack with some functionalities
https://github.com/cran/VTrack

From: Stijn Van Hoey [mailto:notifications@github.com]
Sent: 27 April 2018 11:45
To: inbo/etn <etn@noreply.github.com>
Cc: Jan Reubens <jan.reubens@vliz.be>; Mention <mention@noreply.github.com>
Subject: Re: [inbo/etn] Check dataset for ghost detections post battery end date (#10)

ny link wit

[2018-04-27 09:57] stijnvanhoey opened #15 "controlled vocabulary for `receiver_status`"
As we aim to provide receiver status as an input argument of the function `get_edployments`, we have to know the possible inputs (or have access to query these options).

The options I can currently find are:
[code]
I do not think the normal user has access rights to the original table with the receiver_status options, but having the controlled vocabulary hard coded in the package won't be that ba

[2018-04-27 10:02] stijnvanhoey commented on #15
Or do we just want to have the options: `active` (subset of the active only) versus ALL?

[2018-04-27 10:03] jreubens commented on #15
This won't change often indeed.
by default a receiver is available (if not used in a deployment) or active (if in a deployment).
the other status options the user had to select themselves.
i would include them all, if you quickly want to know something on a specific status

[2018-04-27 10:16] stijnvanhoey commented on #12
`projectcode` it will be! closing

[2018-04-27 10:16] #12 closed

[2018-04-27 11:51] stijnvanhoey commented on #15
ok, receiver_status can be one or multiple options of `c("Available", "Lost", "Broken", "Active", "Returned to manufacturer")`

[2018-04-27 12:01] PieterjanVerhelst commented on #15
I think that would be best.

[2018-04-27 12:19] stijnvanhoey opened #18 "Extend the `animals_view` (and others) on database level wit the `projectcode` column"
As decided in #12 to use the `projectcode` to enable the user to subselect specific projects, it would be more convenient to have the `projectcode` columns added to the views for which this selection is relevant and when it is possible:

*  [x]  deployments_view
*  [x]  animals_view
* [x] tags  *possible?!?*
* [x] receivers *possible?!?*
* [x] detections_view

[2018-04-27 12:34] bwydoogh commented on #18
@jreubens Yes, I'm here 🙂.
For `tags` and `receivers` there is no link with a project, so I cannot add it there.
I've added the `code` to the `animal_view`.

[2018-04-27 12:38] stijnvanhoey commented on #18
@bwydoogh thanks!

[2018-04-27 12:47] stijnvanhoey commented on #18
for the animals view, the obsolete section (join inside the R-function) is excluded, see https://github.com/inbo/etn/commit/74ece79aa7b51041edf8dc3df2ec0e17f649d6ea

closing here.

[2018-04-27 12:47] #18 closed

[2018-04-27 12:49] stijnvanhoey commented on #15
handled by https://github.com/inbo/etn/commit/66e4ec81653bfcafb7d22dfb060dd5d6ed81a639 closing here

[2018-04-27 12:49] #15 closed

[2018-04-27 12:51] stijnvanhoey opened #19 "species subsetting as function input"
@PieterjanVerhelst and @jreubens when subsetting on species name, I assume you'll provide a number of scienitific names as these seem to be provided, whereas common_name not:
[code]

ok to filter on the scientific names?

[2018-04-27 13:02] damianooldoni opened #20 "Authentication failed while trying establishing connection"
I am busy developing code with @stijnvanhoey.
While testing function `connect_to_etn(user, password), I get  this error message:

I am using same credentials as those ones for RStudio server. Any idea?
Thanks!

[2018-04-27 13:09] stijnvanhoey opened #21 "Uniqueness of scientific names not guaranteed"
When I query the DISTINCT names from the animals view, I get  both `Salmo salar` and `salmo salar`
[code]
@bwydoogh something to fix on dbase_level? Or should I make sure to do all evaluations on lower case?

[2018-04-27 13:26] bwydoogh commented on #20
@damianooldoni There doesn't exist a user called `damianoo`. You need to use `damiano.oldoni@inbo.be` as username. I assume you received the password belonging to that user? If not, let me know and I send you an e-mail.

[2018-04-27 13:34] PieterjanVerhelst commented on #19
@jreubens so we can change the names into lower case letters with underscore?

[2018-04-27 13:39] stijnvanhoey commented on #19
lowercase, ok; see #21 for the lower_case way of working...

[2018-04-27 14:50] stijnvanhoey opened #23 "`get_tag` handling of the animal_project choice"
When I check the tags data coupled with the `projectcode` to enable searches using a set of animal project codes:

[code]
(@bwydoogh, I do think I do this correct?)

I do get (on my account) 1403 NA values for the `projectcode`. @PieterjanVerhelst or @jreubens when users request the data and the default is all projects (`get_tags(connection)` is by default all projects), should this result in *all

[2018-04-27 14:56] stijnvanhoey commented on #23
Additional question, can a tag be linked to > 1 animal project as well? I get 45 records more when adding the `project_code` to the tags table.

[2018-04-27 15:03] peterdesmet commented on #19
In my opinion scientific names in ETN DB should **not** be changed to "lower_case", those names have to be written as proper scientific names (`Salmo salar`). Any function accepting scientific names as input, should also expect properly written scientific names _and_ as @jreubens suggests Aphia IDs, which are an even more stable identifier.

[2018-04-27 15:06] peterdesmet opened #24 "Exclude "sync tag" when returning detections"
See list in #21. I would propose to exclude "sync tag" by default when returning occurrences, but maybe allow a flag to include those. @jreubens @PieterjanVerhelst are there other _non animal_ detections in the database?

[2018-04-27 15:11] PieterjanVerhelst commented on #23
It depends where those NAs come from. I suspect from range tests? Could you provide some example records of the NAs here?
Yes, it can occur a tag is retrieved from an animal and used in another animal in another project. For example, tag `29920` has been used in `2012 Leopoldkanaal` and `2013 Albertkanaal`.

[2018-04-27 15:15] PieterjanVerhelst commented on #24
Yes, the `Built-in` and `Sentinel` are non-animals as well.

[2018-04-27 15:15] damianooldoni commented on #20
Thanks @bwydoogh . Bart Vanhoorne fixed it, it seems. Thanks for your support.

[2018-04-27 15:15] #20 closed

[2018-04-27 15:16] peterdesmet commented on #24
Ok, so for any relevant function, it would be useful something like a `exclude_non_animals` parameter, with default value `TRUE`. Better name suggestions welcome.

[2018-04-27 15:35] PieterjanVerhelst commented on #23
I think all tags should have a project code as they are linked to a certain project. Therefore, it is logic to give by default _only those tags that can be linked to an animal project_ .

[2018-04-27 15:44] jreubens commented on #19
lowercase for me certainly ok!

[2018-04-27 15:51] stijnvanhoey opened #27 "Refactor input checks to common functionalities"
Cfr. the `check_null_or_value` input check, this should be extended to all functions having `network_project` or `animal_project` as input argument.

[2018-04-27 15:58] damianooldoni opened #28 "Data for unit-tests"
We are adding unit-tests to `etn` package.
In particular we would like to test functions we are developing based on #9 .
To do it, we need using data which are:
1. public available,
2. stable (= always present and never change)

Are there such data available?

[2018-04-28 16:42] PieterjanVerhelst commented on #28
I think the data from project 2012_leopoldkanaal are suitable: finished project, so it doesn't change anymore and public available.

[2018-04-29 17:53] jreubens commented on #19
ok, I hadn't seen comment of Peter when I accepted lower case...
Don't know whether this has been implemented now... But To my opinion we should change to Aphia asap...

[2018-04-29 17:57] jreubens commented on #24
Ok to have an function to exclude non-animals.
as name I would go for 'reference_tags'
@PieterjanVerhelst OK?

[2018-04-29 18:05] jreubens commented on #28
another one is PhD Jan Reubens is another stable one.
Includes sync tags as well...

[2018-04-30 07:26] damianooldoni commented on #28
Great! Thanks @PieterjanVerhelst , thanks @jreubens. I will go further writing the unit-tests in the afternoon.

[2018-04-30 07:49] peterdesmet commented on #24
I'd opt for parameter, not separate functions. Maybe called `include_reference_tags`, default `FALSE`

[2018-04-30 13:20] stijnvanhoey opened #30 "`get_tags` to `get_transmitters`"
@jreubens and @PieterjanVerhelst, in #9, we defined the function `get_tags`. However, working on the code I do think it would be more consistent to call it `get_transmitters`, as this is the naming used in the detections view as well to define the tag identifiers. Moreover, it complements better the `get_receivers` function.

I propose to provide the function `get_transmitters` instead of `get_tag

[2018-04-30 14:40] stijnvanhoey commented on #9
For the moment, I propose to keep the full table views as output to the user without any filtering. We can show in a `vignette`/`tutorial` how to quickly select columns as a user, based on the given result. OK?

[2018-04-30 14:43] stijnvanhoey commented on #23
Closing here, as the current version implements this as such: tags/transmitters without a project are not returned to the user.

[2018-04-30 14:43] #23 closed

[2018-04-30 14:47] stijnvanhoey commented on #19
For the moment, no filtering is done and names are compared as such.

From the package side, we can use the `wm_records_taxamatch(name = '...')` [worrms function](https://github.com/ropensci/worrms) to check incoming names from the user, but this only makes sense if we can use these worms-names to query the database.

hence, I do think, this should be covered on the database level first...

[2018-04-30 14:48] stijnvanhoey commented on #21
closing here, discussion on #19

[2018-04-30 14:48] #21 closed

[2018-04-30 15:38] stijnvanhoey opened #33 "Create vignette about the handling of username/pwd"
We should inform the users to not store their credentials as such or support them properly so they don't have to... Some options are provided [here](http://db.rstudio.com/best-practices/managing-credentials/), but would be good to have a proper one documented to the users as part of the package:

1. fixing this on the [server/DSN-level](http://db.rstudio.com/best-practices/managing-credentials/#in

[2018-04-30 15:58] stijnvanhoey commented on #28
@bwydoogh any dummy or anonymous account to use for the unit-testing?

[2018-04-30 16:09] stijnvanhoey commented on #28
@PieterjanVerhelst you provided two `animal` type projects, is there also an example to use of the `ǹetwork` type?

[2018-04-30 16:26] damianooldoni commented on #28
@bwydoogh at the moment I am just asking username and psswd to users via old school way:

[code]

Obviously, it would be better to have a dummy account for package tests; obviously with restricted access to data @PieterjanVerhelst  and @jreubens suggested. And a `network` project too as @stijnvanhoey noticed would be great!

[2018-04-30 16:40] damianooldoni commented on #28
As @stijnvanhoey suggested, better to work with RStudio API:

[code]

[2018-04-30 17:43] stijnvanhoey commented on #28
@damianooldoni for the credentials discussion, see #33
(actually, I just noticed that running the vignettes from command line with the `rstudioapi` does not work... :-()

[2018-04-30 18:49] jreubens commented on #30
definitely OK!

[2018-04-30 18:54] jreubens commented on #28
you can use 'Leopoldkanaal' and 'Thorntonbank' as network projects. Those are the two networks related to the animal projects suggested

[2018-04-30 19:29] #30 closed

[2018-04-30 19:52] damianooldoni commented on #28
Thanks, @jreubens! You mean `thornton` and `leopold`, I think. There are 37 network projects up to now:
[code]

[2018-04-30 21:47] damianooldoni opened #36 "get_ functions output: tibble or just data.frame?"
The output of the `get_` functions like `get_animals()` or `get_projects()` return a classic `data.frame`. However, nowadays more and more R developers tend to use `tibble` data.frames.
In order to see the differences among a tibble df and a normal df, read this [tutorial](https://tibble.tidyverse.org/) from `tidyverse` (yes, tibble comes from the `tidyverse` world!) or this chapter from [R for Da

[2018-04-30 22:13] damianooldoni opened #37 "get_animals() suspect behavior if only network_project is given as input"
I am wondering whether it is correct that
[code]
are equal. In fact no error is asserted by executing the code below:
[code]

Moreover, the `network_project` value given as input is not one of the `projectcode` in the output df:
[code]
I would rather prefer an empty data.frame as output or a warning. Or maybe do I miss something about the structure of the database?

[2018-05-01 09:18] stijnvanhoey commented on #37
Good comment!

@jreubens and @PieterjanVerhelst in #9 you defined as function for animals:
[code]
but does it make sense to add the `network_project` argument here?

[2018-05-01 15:00] PieterjanVerhelst commented on #24
Reference tags are a good, general name for non-animal tags. Function name proposed by Peter is ok for me.

[2018-05-01 15:43] PieterjanVerhelst commented on #36
I would prefer a tibble data frame as well.

[2018-05-01 16:47] stijnvanhoey opened #38 "Add information to potential etn users about setup/login info/..."
As the package only works within the Rstudio server (or within the VLIZ network), we have to provide this information to potential users in the [readme](https://github.com/inbo/etn/blob/master/README.md) (which is the landing page of the documentation).

@jreubens could you add that kind of information (here or direclty edit the [readme](https://github.com/inbo/etn/blob/master/README.md))? Short t

[2018-05-01 18:15] PieterjanVerhelst commented on #37
I would say no, as the `animal_project` and `network_project` are linked with each other (e.g. animal project `2012_Leopoldkanaal` and network project `leopold`). When performing a selection based on the animal project, you get he animals of that project, which is what we want the function to do, no?
@jreubens what do you think?

[2018-05-01 19:07] jreubens commented on #37
Network argument shouldn't be added. As you also want to see detections from your tags (i.e. animal project) on someone else's network...By default network projects should be 'all'...
Of course you should be able to select a specific network as well. (e.g  show me all detections that occurred in the Westernscheldt...)

[2018-05-01 19:14] jreubens commented on #36
From the tutorial it seems that tibble is better than a data.frame.
I'm not yet familiar with tibble, but I thrust you guys on this :-)

[2018-05-02 06:33] bwydoogh commented on #33
@stijnvanhoey

@stijnvanhoey I don't exactly know what you mean with a "_fix on the server-level_", as every user has a different credential. So I think you probably mean fixing this on the user his own machine (using Rstudio Desktop), by foreseeing this DSN. If you ask me, yes, this is the preferred solution (compared to requesting the user for this (username, password) combination).

[2018-05-02 07:18] stijnvanhoey commented on #33
As currently the usage is only possible on the Rstudio server of VLIZ, I assumed that the user authentification of the Rstudio server application could be linked to some LDAP or AD based system that would support the user access to the databases as well. As such, the user would have access databases without having to authenticate again. Is that supported by Rstudio server?

[2018-05-02 07:25] bwydoogh commented on #33
@stijnvanhoey Okay, now I understand it, sorry. We are aware of this problematic authentication step and will examine the use of LDAP. It is also requested within the context of another project here at VLIZ, so something that will be examined _(not sure whether we will have issues on Rstudio Server... no analysis has been made yet)_ and hopefully brought in place. But notice that this topic isn't

[2018-05-02 07:36] stijnvanhoey commented on #33
Thanks and good to know. As such, we have to inform users on the usage of their username/password and the issue remains open.

In the current vignette, the usage of environmental variables is used and I actually like that approach as a temporary solution. Any reasons for choosing another option? @peterdesmet @damianooldoni

[2018-05-02 08:09] stijnvanhoey commented on #37
@jreubens if I understand you well:
- for the `get_animals` function, the usage of a network_project argument is useless and should be removed
- for the `get_detections` function, the usage of network_project and animal_project is required

ok?

[2018-05-02 08:16] stijnvanhoey commented on #24
For which functions is this relevant?

* [ ] get_projects() | Get project overview
* [ ] get_receivers() | Get receiver data
* [x] get_deployments() | Get deployments data
* [ ] get_animals() | Get animals data
* [x] get_transmitters() | Get transmitter metadata

@PieterjanVerhelst  and  @jreubens can you verify this?

[2018-05-02 14:19] #28 closed

[2018-05-02 18:04] PieterjanVerhelst commented on #24
I think it is only relevant for the` get_transmitters()` function. Deployments reflect receiver activity and therefore not relevant for that function.

[2018-05-02 19:31] jreubens commented on #37
no.. network_project should be available to filter. It might be needed in some occasions to filter for specific network. But by default get_animals should include all network_projects

[2018-05-02 19:36] PieterjanVerhelst commented on #37
Aah indeed, Jan is correct. When eels migrate to the North Sea, we detect them at various networks (Zeeschelde, Westerschelde, North Sea, Albert Canal...). For example, it occurs that we want to analyse the detections of the eels in the network of the Albert Canal only.

[2018-05-02 19:55] stijnvanhoey commented on #37
As the default for all these arguments is to include all of them, I think we can close this issue here.

[2018-05-02 19:55] #37 closed

[2018-05-07 10:16] jreubens commented on #38
when connecting to ETN I had to add a comment line to read my .Renviron file:
'readRenviron("~/.Renviron")'
Without this comment line I could not access my credentials

Thanks to Benny (and google) to sort this out

[2018-05-07 10:33] stijnvanhoey commented on #38
Thanks for solving this out. We will add this to the documentation.

[2018-05-07 11:31] jreubens opened #41 "get_receivers"
currently the get_receivers function links receivers to a network.
Some remarks on this:
- output gives an overview of all deployment that occur/have occurred. Thus receivers can be present multiple times. I don't think this is a wanted output. Should be unique receives to my opinion
- currently you can only link to the network_project. should be extended to animal_project as well
- next to projec

[2018-05-07 11:34] jreubens opened #42 "my_projects"
- owner_organisation/group should be added to the available output fields. Currently you don't know to which group the project belongs; Ideally a PI should be added as well, but this is not yet available in the database. --> should be added soon

[2018-05-07 11:51] jreubens commented on #42
sorry, I've been too fast. filter for animal works!
However second remark stays

[2018-05-08 09:16] PieterjanVerhelst opened #43 "my_animals"
Some bugs in the `get_animals()` functionality:
- When I run the code `my_animals <- get_animals(my_con, animal_project = "2012_leopoldkanaal")` I get the animals for both the `2012_leopoldkanaal` and `PhD van der Knaap` projects. This also holds true when other animal projects are selected; apparently `PhD van der Knaap` comes as a standard in the output.

- The function does not return informati

[2018-05-08 09:26] PieterjanVerhelst opened #44 "Project names and project codes"
It is sometimes not very clear if you need to use a project name or project code in the function. I think for us it is often quite obvious, but for external/new users in the future, this may require some extra documentation.

[2018-05-08 10:13] jreubens opened #45 "get_deployments"
When you filter for 'Active' deployments for a specific project, you currently get a list of all deployments that have occured  in this project for the (currently) active receivers. This includes also closed deployments.
What we want is a list of the 'open deployements (i.e. no end date). thus probably we need to include an extra criterion in this function.
@PieterjanVerhelst  correct me if I'm wr

[2018-05-08 10:15] jreubens commented on #45
Currently you can only filter for a specific network_project.
Would be nice if you could also filter for a specific station_name

[2018-05-08 10:22] jreubens opened #46 "Parameters for get_transmitters()"
- would be nice to have the filter function on species here as well
- filtering on sensor type, tag type, owner organisation would be nice as well
@PieterjanVerhelst other filters needed?

[2018-05-08 11:38] PieterjanVerhelst commented on #46
- A filter on species would indeed be interesting. Just for the record: all transmitters in the database are linked with an animal or are unused transmitters also in the output of `get_transmitters()`?
-  Another interesting filter, would be on `end_date`. For example, to check which transmitters will die out at a specific moment.

[2018-05-08 11:44] jreubens commented on #45
indead :-)
I changed the name of the issue...

[2018-05-08 11:46] PieterjanVerhelst opened #47 "get_detections"
I think the `get_detections()` functionality can be improved by adding filters on:
- Receiver
- species

[2018-05-08 11:52] jreubens commented on #47
I agree... btw transmitter is already included (see ?get_detections)

[2018-05-08 11:56] jreubens commented on #46
I think it shows everything in the database. If i run the command "my_tags <- get_transmitters(my_con)" I get 1904 records and there are currently 1801 animals in the db.
@bwydoogh would it be interesting to add a field 'transmitter_status' (similar as for receivers) to the tag metadata (with available, active and ended as options)?

[2018-05-08 11:59] PieterjanVerhelst commented on #47
Indeed, I removed transmitter from the improvement list.

[2018-05-08 12:00] PieterjanVerhelst commented on #46
Yes, but it gives non-animal tags (e.g. built-in, sentinel...) as well.

[2018-05-08 12:04] jreubens commented on #46
I checked the webapp. there are 2331 tags in the db
@bwydoogh can you provide a query with all unused tags in the db (i.e. available...)?

[2018-05-08 12:09] PieterjanVerhelst commented on #45
@jreubens wouldn't it be interesting to make the selection on open deployments optionally? It can be handy to see the whole track of deployments for a specific station.

[2018-05-08 12:17] jreubens commented on #45
I would suggest:

- if you filter for a project you get the open deployments by default

- if you filter for a station you get all deployments by default

But in both options you can change settings, depending on your needs
agree?

[2018-05-08 12:28] stijnvanhoey commented on #43
With regard to adding additional filtering options in this issue as well as some other issues  (e.g. #45, #46), make sure it is worthwhile to add the functionality. For `get_detections`, these filters provide the ability to limit the requested data and overcome the risk of getting too large tables and large useless  data transfers.

However, for functions that will return just a relative small amo

[2018-05-08 13:33] bwydoogh commented on #46
@jreubens You want a query or a list of?
See https://bennyw.stackstorage.com/s/qOlafXLVonhB74f: the list of unused tags.
If you want a query, please let me know.

[2018-05-08 13:51] PieterjanVerhelst commented on #45
Based on #43 , I suggest to just keep the function as it is, returning all deployments. Extracting the open deployments can be done by, for instance, a separate pipe.

[2018-05-08 13:53] PieterjanVerhelst commented on #46
independently of an additional transmitter status, the suggested filters are redundant for the functionalities of the etn-package.

[2018-05-08 14:02] PieterjanVerhelst commented on #47
Since retrieving detections is, to my opinion, the core of the package and results in large datasets, adding the above suggested filters may improve the function `get_detections()`. For instance, in the project `2015_phd_verhelst` two species (i.e. `Gadus morhua` and `Anguilla anguilla`). Since we are often interested in one species for analysis, selecting that one species during the 'data call' c

[2018-05-08 14:07] PieterjanVerhelst commented on #43
I agree; comments added to the issues. The only function where additional filters can still be helpfull, is the `get_detections()` function. So the more data that can be reduced on the data extraction level, the better. See examples at #47 .

[2018-05-09 12:38] damianooldoni commented on #33
@stijnvanhoey : no, no reason for not using it!
I am actually using it extensively in tests and I am saving other variables for usage in other repositories as well.

[2018-05-10 21:13] PieterjanVerhelst commented on #47
I was trying to download the dataset of the animal network `2013_albertkanaal` and apparently we cannot download files larger than 100 Mb. Is it possible to allow download of larger files?
Here is the error I got: `Error: cannot allocate vector of size 100.0 Mb`

[2018-05-14 18:06] jreubens commented on #45
Based on #43 I agree that we should keep the functionality as it is.
Regarding the filtering for 'active' deployments. I'm still convinced you should only get an overview of the 'open' deployments (i.e. no end date). In this filtering you are not interested in all deployments that occurred for stations that have an 'active' deployment.
For the latter you can use an extra pipe in dplyr...

Adding t

[2018-05-14 18:06] jreubens commented on #46
agree with @PieterjanVerhelst

[2018-05-14 18:11] jreubens commented on #24
get_animals as well.
BUT... we will link 'scientific_name' to aphia of worms soon. Thus this means that built-in, sentinel, ... can't be seen as 'animals' any longer. an new field will be needed. @bwydoogh en @jreubens wil work on this

[2018-05-15 07:42] jreubens commented on #38
I would write the following:

'This package is built for users from the European Tracking Network (ETN) http://www.lifewatch.be/etn/
It provides access to data and metadata stored in the ETN central database.
This package only works within the Rstudio server of VLIZ (http://rstudio.lifewatch.be/) and is password protected. A login can be requested at http://www.lifewatch.be/etn/contact.
You will b

[2018-05-15 10:47] peterdesmet commented on #38
I would provide a step-by-step instruction how to request access. Adapting from Jan's text:

Question: are the same credentials used for the RStudio server and ETN database?

[2018-05-15 11:04] bwydoogh commented on #38
No. Those are different credentials.

[2018-05-15 12:53] PieterjanVerhelst commented on #38
Agree with @peterdesmet

[2018-05-15 13:44] peterdesmet commented on #38
Thanks @bwydoogh. Have simplified phrasing + added that unrestricted data can be accessed _without_ ETN login.

[2018-05-16 09:20] JolienGoossens opened #48 "connect_to_etn"
When using the function (both with the Sys.getenv and by typing my credentials in the function), I get:
Error: nanodbc/nanodbc.cpp:950: 28P01: [unixODBC]FATAL: password authentication failed for user "jolien.goossens@vliz.be"

I double checked if I am using the right username and password (and tried with another account as well, same issue). Is this a problem of the code or should I change my acce

[2018-05-16 09:28] bwydoogh commented on #48
@JolienGoossens I don't know which password you are using, but it is *not* the ETN data portal password. It is the password you got when requesting access to R-studio (_password is present in a `.pgpass` file_). So, which one did you use? Leave me an e-mail if you don't have that `.pgpass` file anymore.

[2018-05-16 09:37] JolienGoossens commented on #48
Check!

[2018-05-16 09:37] #48 closed

[2018-05-16 11:13] JolienGoossens commented on #43
The `network_project` argument in the `get_animals()` function doesn't seem to filter anything.
For example:
[code]
All of these render the same result.

[2018-05-16 11:47] JolienGoossens commented on #47
In `get_detections` I would change the `deployment_station_name` argument to `station_name` (is called station_name in the dataframes).

[2018-05-16 14:10] #36 closed

[2018-05-18 12:56] jreubens commented on #38
agree as well!

[2018-05-28 14:08] stijnvanhoey commented on #9
Closing this issue here, as the basic functions are currently available.

[2018-05-28 14:08] #9 closed

[2018-05-28 14:14] stijnvanhoey opened #50 "transmitter type not standardised"
When requesting the transmitter information, I see the following unique types:
[code]
I would clear the usage of `acoustic` versus `Acoustic` on the database or import application side.

[2018-05-28 14:38] stijnvanhoey commented on #24
Regarding issue #50 and the discussion above. Let's summarize the required implementation:

The aim is an additional argument `include_reference_tags` (default `FALSE`), so for example the implementation would be:
[code]

Still, I do not completely get how to exclude these? On what field name doe we have to filter or how can I extend the query? Moreover, we need a complete and proper list of value

[2018-05-28 14:45] #38 closed

[2018-05-28 17:56] stijnvanhoey commented on #50
intermezzo: we don(t do `rm(list = ls())` any more ;-)

[2018-05-28 18:53] jreubens commented on #50
There is an inconsistency in the database.
We have 'tag_type' and 'acoustic_tag_type'
Tag_type should be 'Acoustic, DST, PIT, radio... and so on. thus meaning the type of telemetry.
within the tag_type 'Acoustic you should have the field 'Acoustic_tag_type'. with the different levels:
- animal
- built-in
- sync

We'll have to clean this up on database level first...
I'll discuss with @bwydoogh  ho

[2018-05-28 18:59] jreubens commented on #50
Perhaps it's better to change the field 'tag_type to 'telemetry_type' and 'acoustic_tag_type' to 'tag_type'.
Seems more logic to me...

[2018-05-28 19:01] stijnvanhoey commented on #33
Hence, we will promote the usage of environmental variables in a vignette, as explained [here](https://db.rstudio.com/best-practices/managing-credentials/#use-environment-variables)

[2018-05-28 19:04] jreubens commented on #24
Referring to #50 you should use the field 'Acoustic_tag_type' to filter on. only the type "animal" is animal, all the other (built-in, sentinel, sync) are non-animal.

[2018-05-28 19:04] stijnvanhoey commented on #41
@jreubens are these nice to have features are rather required package functionalities to tackle for the first release?

[2018-05-28 19:16] stijnvanhoey commented on #42
I can find an `owner_organization` field linked to the `tags` or linked to the `receivers` in the database and an `owner_pi` linked to the tags.

@bwydoogh do you tackle this on the dbase level, extending the `vliz.projects_view` view? Or should I setup an appropriate query? If the latter, please explain me how to properly connect the `owner_organization` with the projects.

[2018-05-28 19:28] stijnvanhoey commented on #43
@PieterjanVerhelst

1. the output columns (as derived from the database view) are named: `length3_type` and `length4_type` instead of `length_type3` and `length_type4`

2. The output only returns the requested animal project when I'm running the code:

[code]

[2018-05-28 19:35] stijnvanhoey commented on #43
@JolienGoossens  I do have the same issue here

When I request all the network project names (with my account), I get the following list:
[code]
so, I would also assume that `dijle` and `AZ0` are valid inputs to select from. However, when using the projectcodes returned when requesting ALL animals, I do get another set of names:

[code]
This last list is actually coming from the animals view direc

[2018-05-28 19:43] stijnvanhoey commented on #45
@jreubens can you explicitly define the column name and the value to filter on (or if it needs more requests, define in detail what condition an active deployment define).

Am I correct that it is those records with an `NA` value for `recover_date_time` (i.e. no end date):
[code]
can you have a check?

[2018-05-28 19:56] stijnvanhoey commented on #46
If I understand the discussion, this issue handles the request of an additional field `transmitter_status` on the database level?

@bwydoogh remark that I use the following query for the ``get_transmitters` function:
[code]
Either an adaptation of the tags-table is required or I should get the information on how to extend the query with the additional information to setup an `transmitter_status` c

[2018-05-28 20:03] stijnvanhoey commented on #47
@JolienGoossens Actually, both are in...

[code]

As in the database and the dataframe that is returned, a difference is made in between `detections.station_name` and `deployments.station_name AS deployment_station_name`. I took the naming of the latter to populate the data filter, as we actually use the `deployment_station_name` to filter the records and not the `station_name`.

[2018-05-28 20:05] PieterjanVerhelst commented on #43
@stijnvanhoey indeed, the headers which also should be retrieved are
`length3`
`length3_type`
`length3_unit`
`length4`
`length4_type`
`length4_unit`
`Weight`
`Weight_unit`

Indeed, now only `2012_leopoldkanaal` is given in the output

[2018-05-28 20:06] stijnvanhoey commented on #47
@PieterjanVerhelst can you make a separate issue for the max size to download (and add the database label to the issue)? This issue can tackle the additional filters for the `get_detections` function.

[2018-05-28 20:13] stijnvanhoey commented on #43
[code]
ar all in the output. **Remark**: length3_unit**s**.  @PieterjanVerhelst, if you have other questions regard this, please open a new issue, so we focus this issue on the `projectcode` column in the available `vliz.animals_view` view, cfr. [comment above](https://github.com/inbo/etn/issues/43#issuecomment-392591896)

[2018-05-28 20:21] PieterjanVerhelst opened #52 "Size limit data upload"
I was trying to download the dataset of the animal network 2013_albertkanaal and apparently we cannot download files larger than 100 Mb. Is it possible to allow download of larger files?
Here is the error I got: Error: cannot allocate vector of size 100.0 Mb

[2018-05-29 07:54] bwydoogh commented on #43
A project is uniquely identified by its `projectcode`, a field which is returned by the `animals_view`. So you can join with the `projects_view` based on that field. Notice that the `animals_view` has 2 project-related fields: the `projectcode` and the `name`. I believe the 2 are mixed here.

[2018-05-29 07:58] bwydoogh commented on #46
@stijnvanhoey The `tags`-table will indeed by extended (one extra field), so this should be transparent.

[2018-05-29 08:04] bwydoogh commented on #42
@stijnvanhoey The table `tags` has a field `owner_group_fk`, referring to the table `etn_group` (and there you can grab the field `name`). The same is true for the `receivers`-table.

Regarding `PI`: no changes foreseen yet (we will get that information from IMIS and will *not* store it in ETN. @jreubens Correct? This was what we discussed last week, right?)

[2018-05-29 08:06] jreubens commented on #43
Keep in mind that there are two different types of projects: network projects and animal projects.
Networks are normally not under moratorium (as it is interesting to see where others have put receivers.
Animals are typically put under moratorium (thus the list will be much more restricted)....

[2018-05-29 08:10] jreubens commented on #41
The ones in this issue are more than 'nice to have' thus should be part of the first release to my opinion

[2018-05-29 08:12] jreubens commented on #42
regarding PI : no changes are indeed foreseen currently

[2018-05-29 08:36] jreubens commented on #45
This is indeed correct!

[2018-05-29 09:12] bwydoogh commented on #42
@stijnvanhoey No, that would not be the right place (as this is information on tag and receiver level). I granted access to `etn_group` (there are no secrets in that table). So please try again.

[2018-05-29 10:08] stijnvanhoey commented on #42
@bwydoogh I think it would be good to have a quick control on my attempt to setup the query to make sure the animal/network owner group is linked properly. If I am correct, I have to JOIN differently for both animal versus network projects:

[code]

- is it ok to join on the projectcode?
- looking for animal projects, I get double owner-organizations (cfr. phd_verhelst), as well as projects withou

[2018-05-29 11:43] bwydoogh commented on #42
@jreubens @stijnvanhoey I don't know how I should interpret the question of @jreubens but a project has no _owning group_. A **receiver** has its _owning group_ and a **project** isn't link to a receiver **but to a receiver deployment**. And a group gets access to a project. But there is no immediate 1-on-1  relationship between a project and a group.
So, @jreubens, what exactly do you want?

[2018-05-29 18:04] stijnvanhoey commented on #46
Thanks! Can you let us know on this issue when this is done, than we can test and close the issue.

[2018-05-29 18:05] stijnvanhoey commented on #44
We will have to document that we always rely on the `projectcode`, should be added to the documentation.

[2018-05-29 18:12] damianooldoni commented on #41
@stijnvanhoey , @jreubens : nice. I will find the needed time to implement this features and update documentation and tests before the start of my 10 days holidays on Wed 6th of June. :+1:

[2018-05-29 18:13] stijnvanhoey commented on #41
I agree on point

1. receivers should not provide information on all deployments

3. as the `owner_group_fk` can [now](https://github.com/inbo/etn/issues/42#issuecomment-392708047) be linked to the `etn_group`, we can add this to the table

I do not agree on point

2. animal_projects are linked to animals; in order to be able to filter network projects as well, the issue is similar to #43, but now

[2018-05-30 05:08] bwydoogh commented on #43
@stijnvanhoey Not necessarily (_we could keep the logic within the ETN web application_) but we could foresee this if it is a demand within this context of the R-package.

[2018-05-30 09:46] stijnvanhoey commented on #43
Well, I can't optimize the query, but with the access rights that I have, it boils down to the following query in order to include the network_projects:

[code]
which takes a while ;-). So I propose to foresee the availability in the database as a view to have a win-win...

[2018-05-30 12:16] stijnvanhoey commented on #43
maybe, a suboption is to pass one of the binned views, making it feasible to query...
e.g. with `bins_week_view`

[code]

[2018-05-30 13:40] stijnvanhoey commented on #47
@PieterjanVerhelst
which column names to use for the filtering?

- For receiver -> field `receiver`?

|receiver    |transmitter    |datetime            |
|:-----------|:--------------|:-------------------|
|VR2W-127737 |A69-1601-14869 |2015-12-17 06:53:53 |
|VR2W-127737 |A69-1601-14869 |2015-12-17 07:02:18 |
|VR2W-127737 |A69-1601-14869 |2015-12-17 07:06:30 |
|VR2W-127737 |A69-1601-14869 |2015-12-

[2018-05-30 13:54] PieterjanVerhelst commented on #47
@stijnvanhoey those suggestions are correct.

[2018-05-30 14:57] damianooldoni commented on #33
I find this documentation more than sufficient.

[2018-05-30 14:57] #33 closed

[2018-05-30 15:44] #45 closed

[2018-05-31 10:26] damianooldoni opened #56 "Consistency project_code and project_name"
While writing a vignette about the usage of project code (instead of project name) (see #44) I found a kind of inconsistency about the name of the columns related to project codes and project names.

Here below the thing I am speaking about.

In functions like `get_detections()` we get columns named like this:

[code]
which is fine.

While running functions `get_projects()` we get:
[code]
As you s

[2018-05-31 10:45] damianooldoni commented on #56
Another example is the following:
[code]

All column names contain words separated by underscore except project-related ones (columns [1], [2] and [69]). Maybe there is a reason for it, but I don't find it.

[2018-06-12 08:55] jreubens commented on #42
I'll discuss this with @bwydoogh  on dblevel and come back to this one!

[2018-06-12 08:56] jreubens commented on #42
another remark, currently also the CPOD projects are listed (as they are part of the same database)
This should be avoided
@bwydoogh I guess this should also be tackled on DB level?

[2018-06-12 08:59] bwydoogh commented on #42
@jreubens Yes (as discussed yesterday).
Please register this issue in JIRA.

[2018-06-12 09:40] jreubens commented on #42
Just discussed with @bwydoogh.
On project level there is the fiels 'administrators'. We will add an extra field to assign one of the administrators as PI. Once we have this field available, the link can be made and added to the output

[2018-06-12 10:13] jreubens commented on #24
I'm not sure whether I understand your question correctly.

for get_transmitters() use the 'acoustic_tag_type' and exclude everything that is not 'animal'
for get_animals() the problem will be solved once we use the aphia_ID. Thus I would wait with this one.

[2018-06-12 13:08] stijnvanhoey commented on #24
@jreubens for the `get_animals`you can add a separate issue now of later on when the ID is available.

This issue is particularly about the `get_transmitters()` and using the `acoustic_tag_type` and exclude as such everything that is not 'animal'... @damianooldoni any fit to take this in your schedule?

[2018-06-12 13:11] stijnvanhoey commented on #42
@jreubens, if I understand correctly, the package does not need adjustments regarding this issue? All on dbase level?

[2018-06-12 14:11] jreubens commented on #42
adjustment is indeed on DB level.
@bwydoogh is administrator (and later PI) available on the view?

[2018-06-12 14:18] bwydoogh commented on #42
@jreubens No, administrators is no part of any view. It is a concept which exists in the ETN dataportal only, and I strongly believe this should stay like that. Administrators (how it is functionally defined right now) get some additional access rights in the Dataportal. Why should those administrators be exposed by this package? PI (Principal Investigator) is something else... that has some funct

[2018-06-12 14:40] peterdesmet opened #58 "trias is loaded in testthat.R"
I guess it should be `etn`

https://github.com/inbo/etn/blob/b64c4349726964235c14efb43d4f99f7cb09df83/tests/testthat.R#L1-L3

[2018-06-12 16:54] stijnvanhoey commented on #58
solved by https://github.com/inbo/etn/blob/add-vignette-projectcode/tests/testthat.R when accepted

[2018-06-18 07:31] damianooldoni commented on #24
Hi! Yes, @stijnvanhoey, I will.

[2018-06-18 10:59] damianooldoni commented on #24
After reading the entire issue, I will proceed by introducing a new input parameter for function `get_transmitter()` called `include_reference_tags` which acts as a filter. I will follow the instructions as written by @stijnvanhoey [above](https://github.com/inbo/etn/issues/24#issuecomment-392544111), i.e.
[code]

I will deploy it in a new branch called `include_reference_tags_param`.

[2018-06-18 12:13] damianooldoni opened #59 "Conflict in functions due to new column called "project_type" in view/database"
While starting solving issue #24 I found that many functionalities of package `etn` start crashing or not returning the desired result. After debugging @stijnvanhoey and I are both very sure that the problem is the introduction of a new column called `project_type`. Using such a name is quite unlucky because it is also the name of input parameter for filtering on `animal` or `network` projects. An

[2018-07-03 13:19] jreubens commented on #59
@stijnvanhoey After discussion with @bwydoogh, we decided to rename the column `project_type` into `context_type` (we will let you know when that field has been renamed). The allowed values for that field are (currently): acoustic_telemetry and cpod. At the same time we believe that this ETN package should not return data within that **cpod** context. So, is it possible to filter the data on **aco

[2018-07-04 11:34] bwydoogh commented on #59
Done.

[2018-07-04 11:50] bwydoogh commented on #42
Done, and available by the field `principal_investigator` (`project_view`)

[2018-07-26 09:45] stijnvanhoey commented on #42
@damianooldoni should we add this in a separate unit-test (although it would test dbase-structure instead of package functionality...), just to make sure thus keeps available?

[2018-07-26 09:48] stijnvanhoey commented on #59
@damianooldoni also, here; should we add this as a unit-test (maybe with ref to the issue and some context description about the naming, as a kind of 'minimal' documentation?

[2018-07-26 10:33] damianooldoni commented on #59
@stijnvanhoey : yes, I agree. I don't think a unit-test is the best place where to get context description or _minimal documentation_.  A reference to the issue in unit-test seems good. This change in column name could be otherwise added in general documentation/vignette. And maybe in description of the (related) functions as well?

[2018-08-08 12:56] PieterjanVerhelst commented on #47
I tried to extract data via the `get_detections` function, but no data was returned. I did use the function according to the vignette:
`my_detections <- get_detections(my_con, animal_project = "2015_phd_verhelst")`

[2018-08-08 13:32] stijnvanhoey commented on #47
Currently, the package uses the following query (mentioning all possible values of the non-mentioned arguments):
[code]
So probably there is an issue on the requests for all possible values for one of the `WHERE` clauses...

[2018-08-08 13:41] stijnvanhoey commented on #47
As such, a difference between`tag_full_id` and `tag_code_space` which is used as `transmitter` column within the detections table... @jreubens or @bwydoogh any chance this recently has been changed?

[2018-08-08 13:47] PieterjanVerhelst commented on #47
According to the query, `network_project_code` and `animal_project_code` are required instead of  `network_project` and `animal_project`. However, the former returns an error and consequently does not work as well.

[2018-08-08 14:03] bwydoogh commented on #47
ETN release on 2018-06-21 introduced a new field `tag_full_id` (f.e. A69-1008-001) in the table `tags`, and it is the concatenation of `tag_code_space` (f.e. A69-1008) and `id_code` (001). Before that change, the field `tag_code_space` (incorrectly) contained the full tag id (f.e. A69-1008-001).

[2018-08-08 14:33] stijnvanhoey commented on #47
I see and I checked the unit-tests which indeed currently fail on the master:

[code]

Hence, I propose to make sure that the tests are rerun when changes are made to `etn`  (in the Rstudio, this is `devtools::test()` when the project is open) or ask us to check the uni tests. If VLIZ would have a jenkins/... like environment to test builds of the R-package, we can do automatic tests as well, as w

[2018-08-08 14:39] stijnvanhoey commented on #47
@PieterjanVerhelst can you re-install the package and try again?

tip, maybe limit the records with more fields, as probably asking for all of them will not be feasible with the current setup. You can also just test by using `limit` argument:

[code]

[2018-08-08 14:53] PieterjanVerhelst commented on #47
@stijnvanhoey apparently Rstudio fails to install the etn package?

[2018-08-08 15:17] stijnvanhoey commented on #47
This error?

[code]

[2018-08-08 15:18] PieterjanVerhelst commented on #47
Yes!

[2018-08-08 19:13] #58 closed

[2018-08-08 19:51] stijnvanhoey commented on #47
@PieterjanVerhelst should be solved. Please open new issue when you would have other installation issues. Closing this issue, as  PR #55 tackled the initial issue theme

[2018-08-08 19:51] #47 closed

[2018-08-09 06:12] PieterjanVerhelst commented on #47
Check! Problem solved, thanks!

[2018-10-05 14:20] PieterjanVerhelst opened #65 "Coordinates"
When I recently downloaded data via the package, I noticed some coordinates were wrong or not filled in (i.e. 'NA'). Therefore, I think the retrieved coordinates were from the columns `Recover_lat` and `Recover_long`. However, the coordinates which should come with the data, are from the columns `Deploy_lat` and `Deploy_long`, which are a obliged field to fill in.

[2018-10-06 10:33] stijnvanhoey commented on #65
As the `etn` package is using the database views as such without making selections of the columns concerning the coordinate information, i.e. the package just passes everything from dbase to user as such, I'm sending this to @bwydoogh and @jreubens as an issue on the database level.

@damianooldoni correct me if I'm wrong and we actually would do coordinate column name based filters.

[2018-10-08 06:45] bwydoogh commented on #65
@stijnvanhoey Please some more information. The database view `detections_view` does return both the latitude / longitude on detection level and the latitude / longitude on deployment level. So what is missing here? Thanks 🙂.

[2018-10-08 07:11] stijnvanhoey commented on #65
@PieterjanVerhelst can you provide to @bwydoogh  the commands you performed in order to retrieve the dataframe which should contain the coordinate information?

[2018-10-08 20:40] PieterjanVerhelst commented on #65
This is the code I ran:
`nseel <- get_detections(my_con, network_project = "bpns" ,
                        scientific_name = "Anguilla anguilla")`

[2018-10-08 21:18] PieterjanVerhelst commented on #65
Indeed, this is what you get. However, the columns `latitude` and `longitude` are the lats and longs from the ETN database fields `Recover_lat` and `Recover_long`, I think. Specifically, these are sometimes not filled in or erroneous. The columns `deployment_lat` and `deployment_long` are the obligatory fields from the ETN database: `deploy_lat` and `deploy_lon`.
I therefore suggest that the colum

[2018-10-09 12:57] PieterjanVerhelst commented on #65
Thanks for the clarification, now I understand :-). However, I think the `deploy_lat` and `deploy_lon` coordinates from the ETN database should come with the detections, because in the field, quick handling or hardware malfunction (e.g. gps) can lead to erroneous or absent coordinates filled in the receiver software and consequently the detections csv file.

[2018-10-09 13:16] bwydoogh commented on #10
@jreubens @PieterjanVerhelst @stijnvanhoey
How do proceed with this topic? Will you use an R package to filter ghost detections, or do we / I add a field in the ETN DB, table `detections`?
Notice that on a total of (currently) 40 million detection records, we have 2.921.976 detection records where `detections.datetime > deployments.drop_dead_date` (and 2.189.176 where `detections.datetime > deploy

[2018-10-09 14:57] stijnvanhoey commented on #10
My proposal:

- define a clear definition about the ghost-detections without arbitrary concepts like + 1 month - @jreubens and @PieterjanVerhelst
- document the definition in this package (documentation website) and other relevant ETN user sources  @jreubens
- add the column with TRUE/FALSE about 'possible ghost detection' @bwydoogh

[2018-10-09 14:59] stijnvanhoey commented on #65
If I understand this correctly, these are already in the dataframe? What is the requested adaptation with respect to which table?

[2018-10-09 21:12] PieterjanVerhelst commented on #65
Indeed, they are in the dataframe as `deployment_lat` and `deployment_long`. My request is to change the columns `latitude` and `longitude` in the dataframe into `recover_lat` and `recover_long`.

[2018-10-09 21:36] stijnvanhoey commented on #65
This is a decision on the database level and should be agreed on by the user community. Should not interfere with the etn-package code. @bwydoogh  and @jreubens your decision

[2018-10-14 07:04] bwydoogh commented on #65
@jreubens @PieterjanVerhelst I really don't know if we should change the field names. On deployment level we do have that `recover_lat` and `recover_long`, and can be freely modified by the scientist. The `latitude` and `longitude` on detection level cannot be changed and is the raw uploaded data. Same on database level: raw detection data is uploaded into the database, and `latitude` and `longitu

[2018-10-14 07:55] PieterjanVerhelst commented on #65
Than we need to come up with another solution, as the names are now very ambiguous: `latitude `and `longitude `are not specified what they are.

[2018-10-14 07:58] bwydoogh commented on #65
@PieterjanVerhelst `detection_lat` and `detection_lon`? All the same to me, but no duplication of field names between different concepts (and which may even have different values as the actual `recover_lat` and `recover_lon` can be changed on deployment level). Other suggestions are also welcome.

[2018-10-15 07:05] jreubens commented on #65
hmmm difficult one.
I suggest that 'latitude' and 'longitude' are not given standard  (set as FALSE?) when you do get_detections.
I agree with Benny to rename them to detection_lat and detection_long

[2018-10-15 07:28] jreubens commented on #65
I just had a brief discussion with Benny and we decided the following:
- latitude and longitude from the csv files won't be used anymore, this raw data contains too many errors due to field deployments.
- Recover lat/long will be automatically duplicated from the deploy lat/long. And can be changed on DB level if needed.
- we rename lat/long to recover_lat and recover_long.
- this can stay like th

[2018-10-15 07:39] jreubens commented on #10
IMOS has written a nice piece of code on QCs
see 'https://github.com/aodn/aatams/tree/master/scripts/R/QC'
I suggest we currently keep this on hold. We should discuss with IMOS first

The reason we have so many detections after deployment recovery is because we have receivers with a built-in tag that keep on pinging until you disconnect battery (which is not always immediately done.
Anyway, we hav

[2018-10-15 07:40] bwydoogh commented on #65
@jreubens OK.
One small additional note: it is not a rename of the field "lat" / "long" but the view `detections_view` (used by get_detections) will return the field `recover_lat` and `recover_lon` from the deployment.

[2018-10-15 10:09] PieterjanVerhelst commented on #65
if I understand correctly, this `recover_lat` and `recover_lon` will be the same as the `deploy_lat` and `deploy_lon`? Just to be sure.
If this is the case, ok for me :-)

[2018-10-15 11:04] jreubens commented on #65
They will indeed be the same, unless the mooring moved during deployment and you manually adapted it in the webapp

[2019-01-04 10:09] jreubens commented on #50
This adaptation has been done.
thus the field 'tag_type is changed to 'telemetry_type' and the field 'acoustic_tag_type' to 'tag_type'.
does there need to be done anything on code level here? or can this issue be closed

[2019-01-04 10:12] jreubens commented on #59
Does we need to do anything here? Or can this issue be closed?

[2019-01-04 10:13] jreubens commented on #52
@bwydoogh something on our side?

[2019-01-04 10:19] jreubens commented on #46
This has been performed, thus the test can be done.

[2019-01-04 10:21] jreubens commented on #43
@bwydoogh do we still need to do anything here?
Apparently the issue is not yet fixed. @JolienGoossens mentioned she gets addition data when requesting here project.

[2019-01-04 13:32] bwydoogh commented on #43
@jreubens Yes, as nothing was planned for development. See https://jira.vliz.be/browse/ETN-231.

[2019-01-04 13:35] bwydoogh commented on #52
@jreubens I assume this happened on the R-studio server of VLIZ, so this is most likely infrastructure-related. In that case you will need to ask support (support@vliz.be).

[2019-01-04 13:37] bwydoogh commented on #59
@jreubens I guess so. Issue is assigned to you and myself (and I renamed the field, so "job done").

[2019-01-04 13:41] bwydoogh commented on #50
@jreubens on code level? Don't think so, otherwise things wouldn't work anymore since May 2018.
So I guess you can close it.

[2019-01-04 13:44] #59 closed

[2019-01-04 13:44] #50 closed

[2019-01-07 08:56] damianooldoni opened #66 "Create unit-tests to check column names in db views"
Based on https://github.com/inbo/etn/issues/59#issuecomment-398036400, we should add some basic unit-tests to identify immediately changes in any column name of the database views.

[2019-01-16 16:56] #66 closed

[2019-01-17 10:06] peterdesmet commented on #68
@PieterjanVerhelst I don't know. But I would like you to have a look at the original question, which is now at https://github.com/inbo/etn-occurrences/issues/7 😄

[2019-04-11 10:16] LienReyserhove opened #69 "tag_owner_organisation requested in get_transmitters"
In the data retreived by the function `get_transmitters()`, the column `tag_owner_organisation`, present in the [ETN view](http://www.lifewatch.be/etn/tags) for tags, is not included.
I would like to have this information included, is it possible to integrate this column?

[2019-04-11 12:31] damianooldoni commented on #69
Yes, indeed. I see that in `vliz.tags` there is a column called `owner_group_fk`, which is the primary key of table `vliz.etn_group`.
Adding a `LEFT JOIN` to [transmitters_query #L51](https://github.com/inbo/etn/blob/master/R/get_transmitters.R#L51) should solve it.

In other words, this:
[code]
should become this:
[code]
This should add column `owner_organization` to the output of function `get_t

[2019-04-15 09:21] stijnvanhoey commented on #69
sure! Maybe use `tag_owner_organisation` as column name to have the similarity with the app?

[2019-04-17 15:09] damianooldoni commented on #69
Thanks @stijnvanhoey.
I was thinking to use `owner_organization` as there are already two columns starting with `owner_`:
1. `owner_pi`
2. `owner_group_fk`.

I found thus a natural choice to use `owner_organization`. Still, you have the last word...

[2019-07-08 09:12] peterdesmet commented on #69
@damianooldoni this can be implemented: add `owner_organization` to `my_animals`

[2019-08-22 08:54] jreubens opened #72 "Error when loading package"
When I want to load the package using
"devtools::install_github("inbo/etn")
library(etn)"
I get the following error
"Error: package ‘digest’ was installed by an R version with different internals; it needs to be reinstalled for use with this R version"

I'm not sure what to do.
@damianooldoni or @peterdesmet can you help me out?

[2019-08-22 09:45] damianooldoni commented on #72
It seems you need to reinstall digest package.

You can try this:
1. Session tab -> "Restart R" (Ctrl + Shift + F10)
2. Digit `install.packages("digest")` in console
3. Try to install etn again by `devtools::install_github("inbo/etn")`

Let me know how it works.

[2019-09-20 09:53] damianooldoni opened #73 "Incorrect time on machine running RStudio server"
I was checking the package by launching the standard `devtools::check()` commando while I got this error which stops the check at an early stage:

[code]

It seems that machine time is not correct? Could somebody with admin rights on the machine running Rstudio server check this asap? Thanks!

[2019-09-21 19:47] bart-v commented on #73
Done

[2019-09-23 08:11] damianooldoni commented on #73
Thanks. Problem is solved, indeed.

[2019-09-23 08:11] #73 closed

[2019-09-23 08:12] damianooldoni commented on #72
@jreubens: is the problem solved?

[2019-09-23 09:17] jreubens commented on #72
yes it is!
Thanks for the help!

[2019-09-25 12:23] #69 closed

[2019-09-26 06:44] damianooldoni commented on #69
Hi @LienReyserhove : I see you closed this issue: that means that PR #70 can be merged? I addded you as reviewer so you can test and approve (?) the changes. Thanks.

[2019-10-09 09:34] #24 closed

[2019-10-22 09:01] PieterjanVerhelst commented on #72
I still have an error when trying to load the ETN R-package.
[code]
Even after reinstalling package `processx` I get this error.

[2019-10-22 22:23] damianooldoni commented on #72
Thanks @PieterjanVerhelst to let us know.
Is this a problem while using [RStudio server](http://rstudio.lifewatch.be/)? Or do you encounter this problem in your own R environment?

I have just connected to http://rstudio.lifewatch.be/ and I run `devtools::install_github("inbo/etn")`.
I was asked whether I wanted to get some packages updated. I updated all them and everything works fine.

Could you

[2019-10-23 07:22] PieterjanVerhelst commented on #72
Problem solved! I closed the R-session on the server and reopened it. Now I got also to question to upload some or all packages. After I did this, the etn-package was back on a role :-).

[2019-10-23 07:22] #72 closed

[2019-12-06 15:14] peterdesmet opened #74 "Support id as parameter in get_animals()"
I would like `get_animals()` to have an additional parameter `id`, to get metadata on specific animals I look for.

[2019-12-06 15:26] damianooldoni opened #75 "get_animals don't filter on animal_project"
Bug found by @peterdesmet. Thanks for it. Indeed, I confirmed that `get_animals` returns too much animals as it doesn't filter properly.

Example:
[code]
`animals` should contain 39 lines, but it is not.

The problem is that we have param `netework_project` in the query too and if no network is specified than we take all network projects. This should be avoided. Removing `network_project` param fr

[2019-12-06 15:58] damianooldoni commented on #75
This issue seems vaguely related to #43.

[2019-12-06 17:00] damianooldoni commented on #75
Solved by #76.

[2019-12-06 17:00] #75 closed

[2019-12-06 17:01] damianooldoni commented on #43
@PieterjanVerhelst , @jreubens : is this issue in some way also solved now that i solved #75?

[2019-12-09 10:17] PieterjanVerhelst commented on #43
Indeed, issue solved. Thanks for the nice work! I let you close the issue :-)

[2019-12-09 10:26] damianooldoni commented on #43
Thanks @PieterjanVerhelst!

[2019-12-09 10:26] #43 closed

[2020-01-15 10:58] peterdesmet opened #77 "Create COST course material as vignette"
@damianooldoni will organize a short session on using the etn package. As course material we propose to create a vignette, which quickly explains a typical workflow.

Workflow suggested by @jreubens:

Additional comments by @PieterjanVerhelst:

Additional comments by @IPauwels:

[2020-01-15 11:10] damianooldoni commented on #77
Thanks @peterdesmet to summarize previous emails in this issue.
Yes, I will make a vignette about it. I first try myself to code all proposed steps and give them a kind of structure. I will contact all of you in case I have doubts and/or I cannot code it properly. Your final review will be also nice to have. Keep in touch.

[2020-01-30 11:02] damianooldoni opened #78 "Problems installing etn package"
People are getting problems installing `etn` package, very likely due to old packages which need to be updated. I encountered this problem as well just now. This is what I got:

[code]
Attention: you could get something else, depending on status of your packages.

Here below I share with you how I solved it by reinstalling the package and updating all packages `etn` directly or indirectly depends

[2020-01-30 11:21] damianooldoni opened #79 "Extending etn package to retrieve cpod data"
This issue discusses the enhancements proposed by user @DebusschereE about extending etn package to get cpod data, which are stored in etn database as well: http://www.lifewatch.be/etn/cpoddeployments.

Yes, this enhancement would be nice for sure. We have already some changes planned for the package as answer to some changes at db level. I will make my best to extend the package to cpod data as w

[2020-01-30 12:50] damianooldoni commented on #78
Jolien Goossens replied:

I can close the issue

[2020-01-30 12:50] #78 closed

[2020-01-30 17:39] peterdesmet commented on #79
Damiano, that seems (imo unrealistically) optimistic, but I love the optimism. 😄 More urgent are updating the pkg to the new view and the vignette.

[2020-01-30 17:44] peterdesmet opened #80 "Update pkg to work with new views"
@jreubens @IPauwels @PieterjanVerhelst @fwaumans and myself completely reviewed the 5 views offered by ETN (tags, animals, receivers, deployments, detections) to make them consist and to expose users with the same information via the ETN application and the etn package.

Once @fwaumans is finished with implementing the views, we should update all functions to make use of the new views. This might

[2020-01-31 08:13] damianooldoni commented on #80
Thansk @peterdesmet to let me know. That's a great news!
@fwaumans: do you have an idea about time schedule? Just to reserve some days in my agenda.

[2020-02-07 09:28] DebusschereE commented on #79
Beste Damiano,

Ik zag onderstaand bericht van Peter Desmet en nu vroeg ik me af of het aanpassen van etn r pakket nog in je planning past? Er komen ook cpod users naar de etn workshop in maart, dus zou het heel leuk zijn dat dit op workshop komt;
Volgens mij zijn de gevraagde toevoegingen niet veel werk zijn. Enkel de detections tab 'train analysis per minute' en 'train details' moeten toegevoegd

[2020-02-17 14:11] peterdesmet opened #81 "Cannot edit .Renviron on rstudio.lifewatch.be"
@fwaumans, I notice my `.Renviron` file on rstudio.lifewatch.be contains:

[code]

I would like to update this to:

[code]

Which is the RStudio default (https://db.rstudio.com/best-practices/managing-credentials/#use-environment-variables) and used by this vignette:

https://github.com/inbo/etn/blob/03d60109a8315fd5d76c41db35d674b29c1b7cc0/vignettes/access-etn-data.Rmd#L40-L41

When I try to do s

[2020-02-17 14:31] peterdesmet opened #82 "Don't export certain functions"
I noticed that for some helper functions/variables, pages are build on pkgdown where they probably should just stay internal:

- [x] https://inbo.github.io/etn/reference/ETN_SERVER.html
- [x] https://inbo.github.io/etn/reference/check_connection.html
- [x] https://inbo.github.io/etn/reference/check_datetime.html
- [x] https://inbo.github.io/etn/reference/check_null_or_value.html
- [x] https://inbo

[2020-02-17 15:33] bart-v commented on #81
Fixed
`chown peterd:lifewatch .Renviron`

[2020-02-17 15:36] damianooldoni commented on #82
Well, these functions are not listed in the [Reference](https://inbo.github.io/etn/reference/index.html) as we don't export them via `@export` in Roxygen. So, users don't get so easily to these helper functions unless they type the URL you mentioned, something I have never done, actually :smile:

By the way, i will add `@keywords internal` to solve this issue.

[2020-02-17 15:39] damianooldoni commented on #82
Bby the way, it seems `@keywords internal` doesn't work anymore with Roxygen 6.1.1 or higher.

[2020-02-17 15:51] damianooldoni commented on #82
I have to remove the Rds from `man` first, of course...

[2020-02-17 17:43] #81 closed

[2020-02-19 09:19] peterdesmet opened #85 "How to select acoustic vs c-pod?"
1. Are those two separate types of data that should never be shown together: e.g. never showing receivers for both c-pod and acoustic at the same time?
2. Should the visible fields in receivers, deployments and detections differ between acoustic and c-pod, or should it be the same, i.e. different views or shared views?
3. Dependent on 2 we need a way to select c-pod vs acoustic. For now we can onl

[2020-02-19 09:58] peterdesmet opened #86 "Create projects view"
Create a view for projects, with specific names and order of fields.

View is defined in the spreadsheet: https://docs.google.com/spreadsheets/d/1XVmoxrzxoBGqC7AYBjTgzUAer0w04D6iiCJW2TW41SU/edit?usp=sharing

[2020-02-19 10:19] peterdesmet opened #87 "Rename get_transmitters() to get_tags()"
The word `tags` is used in the views and application, I would rename the function.

[2020-02-19 14:38] peterdesmet opened #88 "How to return animal-tag relationship?"
Currently:

- `get_tags()` doesn't return unique tags, as it's internally linked to animals to allow filtering on animal project. Since a tag (`A69-1303-20695`) can be associated with multiple animals (`673` and `674`), duplicates are returned
- `get_animals()` doesn't return unique animals, as the view return animals + their tag ID. Since an animal (`2369`) can be associated with multiple tags (`

[2020-02-19 15:57] PieterjanVerhelst commented on #85
@peterdesmet the c-pod and acoustic telemetry data are two complete different systems, working on complete different animals. So in my opinion we should treat them as such and do not show them together.
With your second question, do you mean the view of the interface? Both can have the same interface style, but should be kept separate.

[2020-02-19 16:36] peterdesmet opened #89 "Many receivers don't have network_project_code in new view"
`get_receivers()` will in the background look for all network codes and filter receivers on those with a network code. As a result, that currently only returns 12 entries.

[code]

Returns 1640 entries, many of them without `network_project_code`. Why is this information missing?

[2020-02-19 16:54] peterdesmet commented on #85
By `view`, I mean what is returned by the database. For now, the receiver `view` returns both acoustic and c-pod.

[2020-02-19 19:47] peterdesmet commented on #89
Ping @fwaumans

[2020-02-20 08:02] PieterjanVerhelst commented on #85
I would suggest to keep both techniques separate, since a c-pod is a completely different thing than an acoustic receiver.

[2020-02-20 10:05] fwaumans commented on #89
The network_project_code is based on the field` financing_project_fk` in the `receiver` table. In most of the records, this field is empty.

[2020-02-20 10:28] peterdesmet commented on #89
Aha, in that case I will have to update some functions.

We should probably rename the field to `financing_project` (cf. `tags`) and move it lower. I'll get back to you on this.

[2020-02-20 13:40] jreubens commented on #85
1. it are two different systems.However, the cpods are moored with an VR2AR receiver, which detects fish as well. Thus I would include them.
2. There are differences in the available/interesting fields for deployment, receiver and detections for cpod and acoustic.
3. THus the selection criterion is needed

[2020-02-21 10:40] peterdesmet opened #90 "Why was principal investigator dropped from projects"
That field contained email before. Is it because of GDPR? @fwaumans

[2020-02-21 12:15] niconoe opened #91 "External database access: considerations and discussion"
I've recently had a conversation with my colleague @peterdesmet  about the possibility, for the European Tracking Network, to give access to a PostgreSQL database (hosted at VLIZ) over the Internet.

A few details about how we would like to implement this:

A small group of users will have access to this database in read-only mode. We also plan to make use of the row security policies feature of P

[2020-02-21 12:41] peterdesmet commented on #89
Indeed, and the field `financing_project` is already part of that view, with the same information. @fwaumans you can remove `network_project_code` from `receivers_view2`.

[2020-02-21 14:43] niconoe opened #92 "API design: alias singular and plural functions"
Following discussions with @peterdesmet:

I personally quite like when the name of a functions gives a good idea about what it returns. That applies too to singular/plural: I expect to find:

- `get_receiver(receiver_id=x)`, that returns a single receiver. But also:
- `get_receivers(project_id=y)` that returns a multiple receivers.

I was therefore wondering if we could/should alias functions so `

[2020-02-21 16:06] #87 closed

[2020-02-21 16:08] peterdesmet commented on #82
Fixed

[2020-02-21 16:08] #82 closed

[2020-02-21 16:25] peterdesmet opened #94 "get_receivers(): remove network_project_code, add receiver_id"
- [x] Remove parameter `network_project_code` (not in view)
- [ ] Add parameter `receiver_id`

[2020-02-21 16:26] peterdesmet opened #95 "get_tags(): remove animal_project_code, add tag_id"
- Remove parameter `animal_project_code` (not in view)
- Add parameter `tag_id`

[2020-02-21 16:28] peterdesmet commented on #44
Parameter names have been updated to the more explicit `animal_project_code` and `network_project_code`.

[2020-02-21 16:28] #44 closed

[2020-02-21 16:31] peterdesmet commented on #44
#57 closed as well

[2020-02-21 16:32] peterdesmet commented on #80
This has now been done in #93

[2020-02-21 16:32] #80 closed

[2020-02-21 16:33] peterdesmet commented on #56
The parameter names now consistently use `under_scores`. Project names have been dropped (only `codes` are used). The project table still returns fields that are not underscore, but that should be fixed at the database site.

[2020-02-21 16:33] #56 closed

[2020-02-21 16:40] peterdesmet commented on #85
Ok, will add selection criterion. Note to self: test if `1610-POD` appears in other views.

[2020-02-21 16:43] peterdesmet commented on #91
Ping @fwaumans: some ideas/suggestions on how internet access to ETN database could be provided.

[2020-02-21 19:28] bart-v commented on #91
As explained during our "R meeting", we will not expose PostgreSQL to the internet.
We are in the process of a developing an API, that can do all of this, based on OpenCPU, see https://www.opencpu.org

[2020-02-22 07:19] peterdesmet commented on #91
Will the API have login capabilities, so ETN users can access their non-public data?

[2020-02-22 14:41] bart-v commented on #91
Yes

[2020-02-24 11:04] fwaumans commented on #86
Project view was created: project_view2

[2020-02-24 11:08] fwaumans commented on #89
The field `financing_project ` was removed.

[2020-02-24 11:48] peterdesmet commented on #89
You meant `network_project_code` was removed. 👍

[2020-02-24 11:48] #89 closed

[2020-02-24 11:50] peterdesmet commented on #86
Great! I will update the package to use it

[2020-02-24 13:41] peterdesmet opened #96 "Decide on application_type vs context_type"
The field for `acoustic_telemetry` vs `cpod` is named differently:

- In projects: `context_type`
- In receivers: `application_type`

I find `context_type` a better name. Should we use that for all?

[2020-02-24 14:05] #46 closed

[2020-02-24 14:18] PieterjanVerhelst commented on #96
I would prefer `application_type`.

[2020-02-24 14:53] peterdesmet opened #98 "Limit detections by default"
I would limit the result set of `get_detections()` to 100 records by default, so you don't accidentally run in long queries. I would also change the parameter to a boolean flag (`limit=TRUE`) rather than an integer set by the user.

[2020-02-24 14:54] peterdesmet opened #99 "Have a default connection"
All functions currently require a connection parameter. I would set a default value of `con`, so it's easier to use the functions.

[2020-02-25 11:19] peterdesmet commented on #95
Since one can look for a specific tag by `tag_id`, that should overwrite the default `include_ref_tags=FALSE`.

[2020-02-26 12:50] peterdesmet commented on #95
Tackled in 9d3476def6ce3d56b14a806d7cf8c9f2651ec137

[2020-02-26 12:51] peterdesmet commented on #96
@jreubens @IPauwels?

[2020-02-26 12:52] peterdesmet commented on #86
Fixed in f16a71e

[2020-02-26 12:52] #86 closed

[2020-02-26 12:58] peterdesmet opened #100 "Move receiver_status from get_deployments to get_receivers"
`get_deployments()` currently allows to filter on open ended deployments AND on receiver_status. The latter requires a join with the `receivers_view2`. I would move the parameter `receiver_status` to `get_receivers()`

[2020-02-26 13:38] #94 closed

[2020-02-26 13:38] #95 closed

[2020-02-26 13:38] #98 closed

[2020-02-26 13:38] #99 closed

[2020-02-26 13:39] peterdesmet commented on #96
Ok, will create issue to make some changes in DB.

[2020-02-26 13:39] #96 closed

[2020-02-26 13:40] peterdesmet opened #102 "Project views: update context_type to application_type"
@fwaumans can you update the fieldname `context_type` to `application_type` in `projects_view2`? (based on discussion in #96)

I will then update the function.

[2020-02-26 13:48] peterdesmet commented on #85
@fwaumans can you add the field `application_type` to:

- [ ] `projects_view2`: rename `context_type`, see #102
- [x] `receivers_view2`: already the case, as 3rd field (between `receiver_id` and `telemetry_type`)
- [ ] `deployments_view2`: field `application_type` as 3rd field (between `receiver_id` and `network_project_code`)
- [ ] `detections_view2`: field `application_type` as 4th field (betwee

[2020-02-26 13:50] peterdesmet opened #103 "Add `application_type` to relevant views"
@fwaumans can you add the field `application_type` to:

- [x] `projects_view2`: rename `context_type`, see #102
- [x] `receivers_view2`: already the case, as 3rd field (between `receiver_id` and `telemetry_type`)
- [x] `deployments_view2`: field `application_type` as 3rd field (between `receiver_id` and `network_project_code`)
- [x] `detections_view2`: field `application_type` as 4th field (betwee

[2020-02-26 13:52] peterdesmet commented on #85
For now, I would reuse the same views for both application types (=> same fields for both application types), but add a field so one can filter between one and the other: #103.

[2020-02-26 13:52] #85 closed

[2020-02-26 14:00] peterdesmet opened #104 "Allow filtering on application_type"
Answers #85 and #79. Can be implemented once #103 is done:

- [x] Add parameter `application_type` to `get_projects()`:
  - [x] Default: `NULL`
- [x] Add parameter `application_type` to `get_receivers()`:
  - [x] Default: `NULL`
- [x] Add parameter `application_type` to `get_deployments()`:
  - [x] Default: `NULL`
- [x] Maybe add parameter `application_type` to `get_detections()`:
  - [x] Default:

[2020-02-26 14:01] #91 closed

[2020-02-26 14:49] PieterjanVerhelst commented on #104
I agree. If the purpose of the ETN-package is to get access to all kinds of tracking data (acoustic, cpod...), there should not be a default value.

[2020-02-27 08:46] #102 closed

[2020-02-27 08:47] fwaumans commented on #102
Done

[2020-02-27 09:07] fwaumans commented on #103
done!

[2020-02-27 09:08] fwaumans commented on #90
`principal_investigator `is added to `projects`.

[2020-02-27 16:22] IPauwels commented on #104
agree as well!

[2020-02-27 18:18] #90 closed

[2020-02-27 23:07] peterdesmet commented on #103
Nice! The change resulted in 3 failed tests as expected: now updated.

[2020-03-02 10:51] #103 closed

[2020-03-02 11:00] peterdesmet commented on #104
@IPauwels @jreubens Ok, what kind of values do you want the user to provide? Currently the values in the database are: `acoustic_telemetry` and `cpod`.

Do you prefer these, or should we shorted them to `acoustic` and `cpod`, keeping in mind that more values could be added in the future and that we should avoid changing these values.

[2020-03-02 15:45] #104 closed

[2020-03-02 15:46] peterdesmet commented on #104
Is now implemented with `acoustic_telemetry` and `cpod`. Reopen if you want other values.

[2020-03-02 15:54] peterdesmet commented on #79
Hi Elisabeth, if you reinstall the package (https://inbo.github.io/etn/#installation), you'll see that it is now possible to filter the data on `application_type="cpod"`, in the functions:

- `get_projects(application_type="cpod")`
- `get_deployments(application_type="cpod")`
- `get_receivers(application_type="cpod")`
- `get_detections(application_type="cpod")`

But the `get_detections()` function

[2020-03-02 15:55] peterdesmet opened #105 "Allow to query on cpod detections"
See #79: cpod metadata for deployments, projects and receivers can be queried, but not detections, because these are summarized in two different views:

- Train analysis per minute
- Train details

Will have to think how to best implement this.

[2020-03-02 16:03] IPauwels commented on #104
I leave it up to Jan to make a final decision. Personally I would keep acoustic_telemetry. Because CPOD is also based on acoustics, and acoustic_telemetry is more referring to "remotely measuring" (since you tag the animal) so perhaps closer related to the true definition of tele-metry..

[2020-03-10 16:00] damianooldoni commented on #88
After discussing `get_animals()` with @peterdesmet, we opt for the following option:  return **unique animals** collapsing tags in a comma separated string.

[2020-03-11 15:42] damianooldoni commented on #88
There are multiple tag related columns in returned data.frame of `get_animals()`:
1. `tag_id`
2. `tag_fk`
3. `tagger`
4. `tagging_type`
5. `tagging_methodology`

Example:
| pk | tag_id | tag_fk | tagger | tagging_type | tagging_methodology
| --- | --- | --- | --- | --- | --- |
2827 | A69-9006-904 | 1794 | - | Internal |
2827 | A69-9006-903 | 1793 | - | Internal |

A possible strategy is to collaps

[2020-03-11 16:44] peterdesmet commented on #88
Agree: all tag* columns

[2020-03-12 21:44] damianooldoni commented on #88
PR #106 should solve uniqueness of `get_animals`().
About `get_tags()`, it seems that it is already fixed.

[2020-03-17 15:02] peterdesmet opened #107 "Hide check_date_time"
I notice we have a doc page for https://inbo.github.io/etn/reference/check_date_time.html. Shouldn't this be hidden? It has:

https://github.com/inbo/etn/blob/0722c9a17eb33b8de9653543cfb94989169b5920/R/zzz.R#L116

Other functions in `zzz.R` seem to be hidden.

[2020-03-17 15:09] damianooldoni commented on #107
Indeed. I'll do it.

[2020-03-18 11:35] peterdesmet commented on #74
@jreubens @IPauwels @PieterjanVerhelst, the following etn functions allow to search for a single item by ID:

- `get_receivers()`: possible, with parameter `receiver_id`
- `get_tags()`: possible, with parameter `tag_id`
- `get_projects()`: not possible, not necessary
- `get_deployments()`: not possible, probably not necessary
- `get_detections()`: not possible, not necessary
- `get_animals()`: **n

[2020-03-18 11:42] peterdesmet commented on #74
## Current situation

pk | animal_id | animal_project_code | tag_id | tag_fk | animal_nickname
--- | --- | --- | --- | --- | ---
234 | | 2011_rivierprik | A69-1303-3556 | 213 |
235 | A1 | 2015_phd_verhelst | A69-1601-13631 | 405 |

Disadvantage: `animal_id` cannot be used as a parameter, as it is not unique or always populated. `pk` is the unique identifier, but that name is not consistent with `t

[2020-03-18 11:43] #107 closed

[2020-03-18 11:43] peterdesmet commented on #88
Fixed in #106

[2020-03-18 11:43] #88 closed

[2020-03-18 14:58] PieterjanVerhelst commented on #74
Indeed, I would suggest as well to use the database unique key as the animal_id :thumbsup:

[2020-03-18 22:04] IPauwels commented on #74
@peterdesmet I support your suggestion
@PieterjanVerhelst yours as well to enable the indication of an additional lable ID. Perhaps the latter can be named label_id to be in line with "tag_id"? Or do we have the possibility (and is it a good idea or not?) to view an additional plastic label as a tag?

Then a question regarding this situation: if you tag an animal with two tags (not plastic ones, b

[2020-03-19 07:03] peterdesmet commented on #74
Ok, so I see consensus for using the database pk as the identifier for the animal, and naming it “animal_id”

But not for moving A1 etc to animal_nickname. I like animal_label better than label_id (which seems to imply another label table?).

Do you think animal_nickname will be used at all?

And animals with two tags (consecutive in time, or at the same time) appear twice in the table, but we upd

[2020-03-19 08:32] PieterjanVerhelst commented on #74
I think animal_nickname will be used; for twaite shad we did this, but I don't think it was fed into the database.
@IPauwels, correct remark about double tagging. I prefer various tag information is given in the same animal/line. Would it be an option to make a distinction by different tag IDs, by including the telemetry type in the header's name:
- acoustic_tag_id
- pit_tag_id
- radio_tag_id
- ds

[2020-03-19 09:11] peterdesmet commented on #74
@PieterjanVerhelst multiple tags associated with one animal seem to currently be of the same type:
fk | animal_id | animal_project_code | tag_id | tag_fk | scientific_name
-- | -- | -- | -- | -- | --
2834 | NA | 2015_phd_verhelst | A69-9006-917,A69-9006-918 | 1807,1808 | Gadus morhua

Where is this other tag (different kind) information stored?

[2020-03-19 09:16] PieterjanVerhelst commented on #74
@peterdesmet not really. Those two codes are both acoustic codes. Specifically, acoustic transmitters with sensors have multiple codes. For instance, a transmitter with a temperature and depth sensor has two IDs: one for the temperature information and one for the pressure. Yet, it is the same device/transmitter. When uploading an animal in the ETN database, the `tag_id` field uses a drop downs fi

[2020-03-19 09:25] peterdesmet commented on #74
Ok, so `A69-9006-917`, `A69-9006-918` are two different sensors in the same acoustic device/transmitter. 👍

Do you have examples currently in the database of non-acoustic tags? Such pit tags or radio tags? And where are those tag_ids stored?

[2020-03-19 09:37] PieterjanVerhelst commented on #74
Indeed, that is correct.
I myself don't at the moment. However, I have eels in the database with both an acoustic and pop-off tag, but only the acoustic tag is indicated because there is no field yet for the pop-off tag ID.  @IPauwels did you store PIT IDs in the database? I would assume this is added to the `comments` field of the `animal` information

[2020-03-19 11:29] damianooldoni commented on #74
Based on @PieterjanVerhelst's comment, I think `animal_nickname` is not ideal as it is not what people imagine while thinking to nicknames. `animal_label` sounds me much better.

[2020-03-19 13:41] peterdesmet opened #108 "Add different tag_ids in animals"
@PieterjanVerhelst:

@jreubens , what is your opinion on this?

[2020-03-19 13:44] peterdesmet commented on #108
https://github.com/inbo/etn/issues/74#issuecomment-601080633 (regarding _using_ other tags):

[2020-03-19 13:46] peterdesmet opened #109 "Update animals_view2 regarding animal_id"
As discussed in #74, we would like `animal_id` to be a duplicate of `pk`, as that will be used the primary identifier of the animal.

## Changes in animals_view2

- [x] rename the current user-edited field `animal_id` to `animal_label` (ideally also in interface)
- [x] place `animal_label` between `aphia_id` and `animal_nickname`
- [x] add a field `animal_id` with the same content as `pk` (in plac

[2020-03-19 13:46] peterdesmet commented on #74
Ok, since the discussion is diverging here, I'll split this in two issues

- Including other tag ids is now a new issue: #108
- Changing the view to use animal id is now a new issue: #109
- This issue reserved for adding the `animal_id` parameter in the `get_animals()` function

[2020-03-19 13:58] peterdesmet commented on #109
@PieterjanVerhelst @IPauwels @jreubens can you review the above, so @fwaumans can implement this?

[2020-03-19 13:59] peterdesmet commented on #74
Issue blocked by https://github.com/inbo/etn/issues/109

[2020-03-19 15:56] PieterjanVerhelst commented on #109
I agree

[2020-03-19 19:34] jreubens commented on #109
I agree as well

[2020-03-19 19:43] jreubens commented on #108
the choice between 'cpod' and 'acoustic telemetry' should be renamed to 'telemetry' in general. This covers all types of telemetry.
You specify your 'type' thus no need to have this mentioned before ID to my opinion

[2020-03-19 19:50] jreubens commented on #108
there is no metadata on other telemetry types yet in the DB. It still needs to be developed.
The only thing that is already possible is to upload project info on other telemetry types

[2020-03-19 19:58] PieterjanVerhelst commented on #108
But it would be interesting to add different tag IDs from different telemetry types to an animal.

[2020-03-19 20:24] jreubens commented on #104
currently we can leave it as is.
DB structure will change in the future, and then we'll need to do some adaptations I guess

[2020-03-19 20:35] jreubens commented on #96
agreed!

[2020-03-20 09:40] IPauwels commented on #108
Yes indeed, I agree.

[2020-03-20 09:41] IPauwels commented on #108
No, we don't have PIT data in the database yet, as Jan also indicated already that only project info on other telemetry data can be added so far, but not meta and detection data.

We don't have double tagged animals either, so no PIT label info in the database yet from INBO.

[2020-03-20 09:45] peterdesmet commented on #108
Agree, but then we should maybe use the same strategy as currently: by having one row per animal-tag, with the tag (of any type) in `tag_id`, rather than adding more columns, which isn't scalable for tags of the same type anyway. Right now, the R function is going to return that information collapsed: one row per animal, with tag identifiers comma separated.

[2020-03-20 09:48] peterdesmet commented on #109
Great, @fwaumans you can then implement these changes in the two views mentioned above (when telework/time allows). Ping me here if done, so I can update the function.

[2020-03-20 09:48] IPauwels commented on #109
Agree as well :-)

[2020-03-20 09:57] IPauwels commented on #108
I think this is a perfect way of sticking to the same strategy and still being able to get the info returned in one row (in R then, not in the database).
So I would say: let's stick to the same strategy and having a double tagged animal twice in the database (two separate rows) with another tag per row..

[2020-03-20 10:00] peterdesmet commented on #19
Update on this issue: the function `get_animals()` is the only one with a `scientific_name` parameter. Input values are compared with all scientific names in the animals view (using [`list_scientific_names()`](https://inbo.github.io/etn/reference/list_scientific_names.html)) before running the query, so an error can be returned if a name is not recognized:

[code]

If a name is written incorrectly

[2020-03-20 10:00] #19 closed

[2020-03-20 10:02] peterdesmet commented on #108
Note that it is also returned similarly in the etn application, so that is consistent as well:

![](https://user-images.githubusercontent.com/600993/74852124-78ea8500-533c-11ea-8bda-94651cb1a510.png)

[2020-03-20 10:07] peterdesmet commented on #108
If we go this route, it is probably useful to also include the tag type in the animals view, so you can immediately see (comma-separated) what tag types are added to an animal.

I assume that would the `telemetry_type` field (from the `tags` view), which currently has the following values: `acoustic`, `Acoustic`, `acoustic tag`, `ADST` (ideally more controlled, and where PIT etc. would be addition

[2020-03-20 10:11] peterdesmet commented on #27
This is now implemented for all parameters where it makes sense. First all valid values are queried with a `list_()` function and then compared with the input value using `check_value()`. See e.g.:

https://github.com/inbo/etn/blob/aa0b739f3866c3b83126fb275846cd921c724c6d/R/get_animals.R#L43-L50

The `animal_project_code_query` is the subquery (either TRUE or an actual subquery) that is then combi

[2020-03-20 10:11] #27 closed

[2020-03-20 10:21] peterdesmet commented on #41
Trying to close this issue.

Agree, this is now the case. `network_project_code` is no longer a parameter

As mentioned by @stijnvanhoey, let's not do this: it's a complicated way to get there and doesn't really make sense in the model.

As mentioned by @stijnvanhoey in https://github.com/inbo/etn/pull/54#issue-191450536, you can do this with `get_receivers(con) %>% filter(owner_organization == "I

[2020-03-20 10:21] #41 closed

[2020-03-20 10:35] peterdesmet commented on #42
Trying to close this issue. From what I gather, all action items are completed/discussed and are all relating to the `projects` view

- `principal_investigator` is available in the project view, with an email address
- There is a test for the presence of this field: https://github.com/inbo/etn/blob/aa0b739f3866c3b83126fb275846cd921c724c6d/tests/testthat/test-get_projects.R#L14
- `owner_organizatio

[2020-03-20 10:35] #42 closed

[2020-03-20 10:49] peterdesmet opened #110 "Consistency in owner_organization and owner_pi"
The following views have organization/pi information, but it is not very consistent.

projects

- `owner_organization`: not present, difficult to talk about "owner" here.
- `principal_investigator`: an email address

receivers

- `owner_organization`: INBO, DTU-AQUA, VLIZ, AST, ODNATUUR, ...
- `owner_pi`: not present

tags

- `owner_organization`: VLIZ, NTNU-VM, DTU-AQUA, INBO, IMARES, ...
- `owne

[2020-03-20 10:50] #52 closed

[2020-03-20 11:02] #65 closed

[2020-03-20 11:06] peterdesmet commented on #68
@PieterjanVerhelst @jreubens @IPauwels this issue has been dormant. No need to read it all, the basic question is: do you want an automatic assessment (by the database (ideally) or package) to assess which detections are likely to be ghost detections?

[2020-03-20 11:11] peterdesmet commented on #92
@jreubens @PieterjanVerhelst @IPauwels do you see a need for this: having both single `get_project()` and plural `get_projects()` function names? All names are currently plural: https://inbo.github.io/etn/reference/index.html

[2020-03-20 11:15] peterdesmet commented on #79
Closing this issue. As mentioned above, many functions now accept `application_type="cpod"`. But the main functionality (getting detections) is not yet possible, which is discussed in #105. @DebusschereE I suggest you subscribe to that issue to get updates.

[2020-03-20 11:15] #79 closed

[2020-03-20 11:17] peterdesmet commented on #92
Method to implement this: https://github.com/tidyverse/dplyr/blob/abb86fc49cbfda0d036a871c76b6bdd10030fc63/R/summarise.R#L107-L109

[2020-03-20 11:27] peterdesmet opened #111 "Release pkg 0.2.0"
- [ ] Solve and close issues in https://github.com/inbo/etn/milestone/2
- [ ] Extend README a bit (especially the contributors/license part)
- [ ] Run pkgdown
- [ ] Create a new GitHub release

[2020-03-20 15:38] PieterjanVerhelst commented on #108
Indeed, I agree. `acoustic` can be used for acoustic telemetry type.

[2020-03-20 15:42] PieterjanVerhelst commented on #92
I personally don't think that is necessary and would keep one function.

[2020-03-20 15:46] PieterjanVerhelst commented on #68
I would say yes, to some degree. That is, all 'detections' occurring after the battery of the transmitter dropped dead, I would consider ghost detections. Other forms of uncertainty  are up to the researcher to decide what to do with it (include it in analysis or not). However, I think @jreubens may have some additional thoughts on this one ;-).

[2020-03-20 16:25] IPauwels opened #112 "owner_organization in get_receivers() and get_tags()"
I would think it is useful to be able to filter on owner_organization for getting receivers and tags, so to add owner_organisation as a parameter to get_receivers() and get_tags().

@jreubens @PieterjanVerhelst, what is your opinion?

[2020-03-20 16:29] PieterjanVerhelst commented on #112
Is this necessary at 'R-level' or does this practicality at the ETN database suffice?

[2020-03-20 16:36] IPauwels commented on #92
same here..

[2020-03-20 16:40] IPauwels commented on #68
I will leave it up to Jan as well, but had this small thought: you are never sure about the actual battery-end-date of the transmitter isn't it? So perhaps detections after the expected end date are still real detections.. Or did I understand your suggestion wrongly PJ?

[2020-03-20 16:41] IPauwels commented on #112
Actually only at ETN database indeed.. I would think..

[2020-03-20 16:51] peterdesmet commented on #92
Ok, closing without further action. Thanks for the suggestion @niconoe: now I at least know how to do it.

[2020-03-20 16:51] #92 closed

[2020-03-20 19:10] PieterjanVerhelst commented on #68
Transmitters have an end date and on that particular date, the transmitter runs dead.

[2020-03-20 19:53] jreubens commented on #112
In most cases webapp will be sufficient, but I'm in favour as well to have this at R-level.
If you want to do meta-analyses on e.g. 'brand use' in Europe over different users, this kind of info becomes interesting.

[2020-03-20 20:01] jreubens commented on #68
Yes this is needed! However to my opinion this should be tackled on DB level.

[2020-03-21 15:02] peterdesmet commented on #112
@IPauwels I guess you opened this issue in response to https://github.com/inbo/etn/issues/41#issuecomment-601626126, see also issue #110 where the consistency of this type of information is discussed. There are a couple of questions there

@jreubens so you _are_ in favour of adding this as a parameter, but I wonder if it's typical enough as a use case to add it. I'm in favour of keeping it in the

[2020-03-23 07:18] fwaumans commented on #109
@peterdesmet : I will do this during this week, asap.

[2020-03-23 13:33] peterdesmet commented on #69
This is now included in `get_tags()` (but not via PR #70):

https://github.com/inbo/etn/blob/aa0b739f3866c3b83126fb275846cd921c724c6d/tests/testthat/test-get_tags.R#L30

[2020-03-23 13:48] peterdesmet opened #113 "Public website with fields and definitions for all views"
@fwaumans @jreubens (and @PieterjanVerhelst @IPauwels) at the January meeting, we mentioned setting up a **public website with the fields and definitions of the 6 main ETN views** (i.e. what is in the ETN fields & definitions spreadsheet). The website would ideally:

- Be referenced by published datasets, so external users of the data can read the definitions of the fields they want to use and pub

[2020-03-23 15:55] PieterjanVerhelst opened #114 "'ETN group' filter"
It would be interesting to allow a filter on ETN user groups in the functions `get_projects()`, `get_detections()`, `get_animals()`, `get_transmitters()` and `get_deployments`.
The majority of the groups are institutes like 'VLIZ', 'INBO' and 'UGENT' and would allow a filtering on their specific data and meta data. Even more, I am currently performing an eel meta-analysis using data from various i

[2020-03-24 09:22] fwaumans commented on #109
@peterdesmet : Can you check?

[2020-03-24 14:50] itstheclyde opened #115 "Get deployments function to get deployments history"
Hi I'm Clyde and I am working on all the data of Atlantic cod. I would like to get all the deployments history in Belgium so that I know how many receivers are available in each month. The get_deployments() only give me a portion of the deployments compared to what I can see in the ETN website. Does this function only gives a portion of the deployments metadata or it is supposed to give all the de

[2020-03-24 15:49] peterdesmet commented on #109
Looks good in `animals_view2`, but in `detections_view2` the field `animal_id` seems to be `NA` while it should have the same content as `animal_fk`. Since this is now a duplicate field, the action to take can be:

- [ ] In `detections_view2`, replace `animal_fk` with `animal_id` (same content)

[2020-03-24 15:55] peterdesmet commented on #115
Hi Clyde, see https://inbo.github.io/etn/reference/get_deployments.html: by default the function only returns open deployments. You can return all deployments by using:

[code]

Which currently returns 4420 results rather than 800.

Let me know if this is a counter-intuitive default setting.

[2020-03-24 16:04] itstheclyde commented on #115
Hi Peter,

Thanks for the response. I did not notice this argument. I don't think it's counter-intuitive default setting. I think most people are interested only in open deployments rather than getting the whole deployment history. Thanks again!

[2020-03-24 16:04] #115 closed

[2020-03-24 16:30] fwaumans commented on #109
@peterdesmet : Can you check agian?

[2020-03-24 20:25] peterdesmet commented on #109
Almost 😁  `animal_label` can be removed from detections, so:

[2020-03-24 20:37] fwaumans commented on #109
@peterdesmet : new attempt

[2020-03-25 07:40] peterdesmet commented on #109
Great! Now ok.

[2020-03-25 07:40] #109 closed

[2020-03-25 08:21] peterdesmet commented on #114
Sounds interesting, but the concept of a `group` is not available in any of the views. Where are those defined?

[2020-03-25 08:23] PieterjanVerhelst commented on #114
@jreubens can you answer this question?

[2020-03-25 12:48] peterdesmet commented on #68
@jreubens should I leave this issue open then? Or are you following this up on your side?

[2020-03-25 14:30] peterdesmet commented on #74
Fixed in #116

[2020-03-25 14:30] #74 closed

[2020-03-25 14:31] PieterjanVerhelst commented on #110
- Is an owner_pi actually useful for tags?
Yes; transmitters are often project-specific and hence have a PI
- If so, should it be added for receivers?
I would say no, since receivers are more often part of an institute and involved in various projects
- If so, should the values be controlled?
What do you mean with this?
- Is there any need for an owner_organization parameter in get_receivers and g

[2020-03-25 14:54] IPauwels commented on #110
Agree

Agree

Same question here..

Agree

Agree

Question about the definition of projects: is this both animal projects as well as receiver network projects?
Are there cases where the PI is not part of the organization that financed the project? Because in that case, it is more correct I think to refer to the financing organization (where financing also means salary of persons doing the work apa

[2020-03-26 08:21] peterdesmet opened #117 "Add owner_organization as parameter to get_tags() and get_receivers()"
As discussed in #110, it is considered useful to add `owner_organization` as a parameter to `get_tags()` and `get_receivers()`, to know which organization has financed these. I just checked the available values, and they seem to be controlled (i.e. there are no variations in spelling):

owner_organization | tags | receivers
-- | -- | --
AST | 143 | 65
CCMAR | 211 | 63
CEFAS | 94 | 56
CNR-IAS | 102

[2020-03-26 08:28] PieterjanVerhelst commented on #117
I agree 👍

[2020-03-26 08:40] peterdesmet commented on #110
1. Thanks, I get that `owner_organization` in tags and receivers is useful, as the organization that financed the tag. I have created a separate issue for this #117

2. > Yes; transmitters are often project-specific and hence have a PI

What projects do you mean here? `animal_project`? Because if so, the correct way to find out the pi would be: tag > attached to animal > part of animal_project > h

[2020-03-26 12:28] PieterjanVerhelst commented on #110
2. Raf, David and Erwin were the PIs of different animal projects for which transmitters were purchased. However, left-over tags were used in other projects. Hence, two PIs for one animal project (i.e. `2015_fint`) and IMARES being the owner of a tag for a Belgian project (`2019_Grotenete`). Consequently, the PI should be linked to a transmitter and not an animal project.
3. Values should indeed b

[2020-03-27 06:25] jreubens commented on #110
2-3. A Project always has a PI, this is a drop down list in the DB, thus values will be consistent here./
Thus normally PI of tags should be the same as PI of project. Thus, I suggest to have this as Project PI by default. However, as @PieterjanVerhelst mentioned, it can occur that switches happen, on that occassion, the PI of the tag should be changed.

If all agree, I'll ask IT to do the necessa

[2020-03-27 06:29] jreubens commented on #113
@fwaumans what is your opinion on this? I've never done this before...

[2020-03-27 06:55] jreubens commented on #112
@peterdesmet I agree with your comments.. thus we can leave as is

[2020-03-27 06:58] jreubens commented on #114
I guess @PieterjanVerhelst is referring to owner_organisations.
Correct?

[2020-03-27 08:13] PieterjanVerhelst commented on #110
@jreubens I wouldn't change the PI of the transmitter when it is used in another project, because the transmitter is still owned by the PI who purchased the transmitter. Would it be a suggestion to make a distinction between `project_PI` and `transmitter_owner` (hence also `receiver_owner`). That is, a project PI and device owner can actually be different...

[2020-03-27 08:16] PieterjanVerhelst commented on #114
that is correct 😃

[2020-03-27 08:48] peterdesmet commented on #112
With so many issues about `owner_organization`, I failed to see this is a duplicate of #117. I'll close this one here and discuss over there.

[2020-03-27 08:48] #112 closed

[2020-03-27 08:51] peterdesmet commented on #117
#112 was a duplicate. I'll try to summarize:

@PieterjanVerhelst @IPauwels and @jreubens are in favour of adding `owner_organization` as a parameter to `get_tags()` and `get_receivers()` with an implementation as discussed above.

@jreubens also agreed with [my comment](https://github.com/inbo/etn/issues/112#issuecomment-602057303) to **not** implement this:

So, can you please give :+1:  to imple

[2020-03-27 08:51] peterdesmet commented on #114
@PieterjanVerhelst so, the same field as discussed in #117? But extended to more views?

[2020-03-27 09:07] peterdesmet commented on #110
We have to make sure this doesn't get mighty confusing 😂. I propose:

## Tags

- `owner_organization` (existing field):  a way to find out the owner. I don't think it is necessary to have a person name here (thus drop `owner_pi`)
- `financing_project` (existing field): I forgot about this field, but this is an actual link between a `tag` and an (from what I gather from the dropdown) _network_ proj

[2020-03-27 09:08] PieterjanVerhelst commented on #114
indeed

[2020-03-27 09:10] peterdesmet commented on #114
But it's a bit an odd concept to "own" deployments, animals and detections. And before we tackle this, I think we first need to figure out https://github.com/inbo/etn/issues/110#issuecomment-604893158

[2020-03-27 09:12] PieterjanVerhelst commented on #117
I personally don't think we need any parameter into the functions if we can simply apply a filter (just to make the specific functions not too exhaustive).

[2020-03-27 09:15] peterdesmet commented on #117
@PieterjanVerhelst great! So that would be a :-1: 😄

[2020-03-30 05:02] jreubens commented on #110
@fwaumans see suggestion above in projects. Can this be implemented in the view?

[2020-03-30 08:02] PieterjanVerhelst opened #118 "Select multiple projects"
How can I select and download data from multiple projects (animal or network) via the `get_detections()` function? I checked the manual, but couldn't find any info on this.

[2020-03-30 08:34] damianooldoni commented on #118
based on [documentation of `?get_detections`](https://inbo.github.io/etn/reference/get_detections.html#arguments), you should just provide a vector with network/animal projects. Example:

[code]

Does it make sense? Or do you mean something else? Thanks.

[2020-03-30 08:47] PieterjanVerhelst commented on #118
@damianooldoni thanks! I was looking for a solution based in the `tidyverse` codings, but this is obvious much more convenient.

[2020-03-30 08:54] damianooldoni commented on #118
No worries. Just for your info in case you will have to work with functions which don't support multiple values in one argument:

[code]
But, indeed, this is absolutely not needed in `get_detections`.

[2020-03-30 08:54] #118 closed

[2020-03-30 15:56] IPauwels commented on #117
All fine by me..

[2020-03-30 16:05] peterdesmet commented on #117
Ok, then I'll close this issue without further action.

[2020-03-30 16:05] #117 closed

[2020-04-01 09:24] fwaumans commented on #113
@peterdesmet @jreubens We could provide a repository on github.com/lifewatch  for this goal. How will we feed this page?

[2020-04-01 13:38] peterdesmet commented on #113
Well, how you feed it depends on where you want to keep the source fieldnames and their definitions.

## If those are maintained in the database

- Suggestions made here on the website (like fixing typos), will then manually need to be copied to the database by someone from VLIZ
- You will need an automated way to export the info from the database, and code it in a way that can be displayed nicely

[2020-04-01 14:49] fwaumans commented on #110
I have added the fields
`coordinating_organization `
`principal_investigator`
`principal_investigator_email`

The information is in the IMIS database but I have not a imis id for each PI so the information is not complete for all projects. I will try to fix that.

[2020-04-01 15:36] fwaumans commented on #113
I think the best option is to maintain this in the database because most of the definitions are already stored in the database.

[2020-04-03 11:27] peterdesmet commented on #110
@fwaumans if I try to run any function or query, I get:

[code]

Has something changed?

[2020-04-03 11:28] peterdesmet commented on #113
Can you easily export these as yaml? See https://inbo.github.io/ctms/terms/ for an example on how we can display the information from yaml

[2020-04-06 06:32] fwaumans commented on #113
The information is stored in a table of the database. I have to convert it to a yaml. I will do this in the last week of april.

[2020-04-06 10:46] peterdesmet commented on #113
Great! Obviously best if this output to yaml can be generated automatically/repeatably, so changes only need to be manually in one place (the database).

[2020-04-08 09:43] peterdesmet commented on #110
Above error resolved

[2020-04-08 09:50] peterdesmet commented on #110
@fwaumans I only see the renamed field `principal_investigator_email`. I do not see `coordinating_organization` and `principal_investigator` in `projects_view2`. Can you verify?

[2020-08-14 13:57] LienReyserhove opened #119 "limit = FALSE as default in get_detections()"
In the function `get_detections()`, the default for `limit` is now `TRUE`, which returns only 100 records. I find this rather confusing, althoug I understand the rationale behind this. One suggestion would be to set the default for limit as `FALSE`

[2020-08-14 14:35] peterdesmet commented on #119
I understand, it might be better to leave the parameter, but set it to FALSE by default (this reverts #98).

[2020-08-14 14:54] #119 closed

[2020-08-25 10:28] peterdesmet opened #121 "Default "order by""
Currently, data are returned as they are in the view. This is not always the most convenient for users to explore. Should they be returned with a default sort? @IPauwels @jreubens @PieterjanVerhelst

Conclusion:

- [x] animals: by `animal_project_code`, `release_date_time` and then `tag_id`. Same is used by Movebank
- [x] tags: by `tag_id`
- [x] detections: by `tag_id` and then `date_time`. Same i

[2020-08-25 14:32] IPauwels commented on #121
This would be my suggestion:
- animals by release_date_time
- tags by tag_id
- detections by date_time
- deployments by station_name?
- receivers by receiver_id

[2020-08-25 14:34] jreubens commented on #121
I agree with Ine

[2020-08-26 10:16] peterdesmet commented on #121
There is also `get_projects()`. Should this be by `project_code` or `start_date` (not always populated)

[2020-08-26 11:12] peterdesmet opened #122 "Quotes in tag_id for KAU-SLU"
KAU-SLU has tags with quotes in the `tag_id`, e.g. `"A180-1702-"-49684`. It is probably better to correct these.

[2020-08-26 14:37] IPauwels commented on #121
- Detections: that is fine by me and a good idea
- Deployments: I think I would like it as a user to have the deployments sorted as how they are geographically located, but I understand that consistency is also important, so then I would prefer perhaps indeed receiver_id. It is up to the scientist then to account for the fact that a minority of them might have changed location during the project.

[2020-08-27 06:38] jreubens commented on #121
For get_projects, I agree with project_code.
For detections I agree as well
For Deployments however, it occurs that several receivers are used at one station (in different deployments).
Sorting by station_name and then on date_time seems more logic to me. But I guess it won't differ too much...

[2020-08-27 10:09] peterdesmet commented on #121
That's two votes for sorting by station_name, which makes sense, as it is geographical.

1. One issue is a bit that `station_names` are not very controlled, so sorting by `station_name` and `deploy_date_time` mixes projects:

pk | receiver_id | network_project_code | station_name | station_description | deploy_date_time
--- | --- | --- | --- | --- | ---
5552 | VR2-6481 | EMMN | 12 | 12 | 2007-04-2

[2020-08-27 10:51] damianooldoni commented on #121
For deployments, I vote for option 2: sort by `station_name`, `network_project_code `and then `deploy_date_time`.
For the others (animals, ...) I agree 100%

[2020-08-27 11:49] peterdesmet commented on #121
I think what will us closest to the expectations is:

- animals: by `animal_project_code`, `release_date_time`, `tag_id`
- deployments: by `network_project_code`, `station_name`, `deploy_date_time`

Very often you will filter by project first and then only see the second filtering.

[2020-08-27 12:46] damianooldoni commented on #121
This is even better, especially if we think that network/animal project code is an argument of the functions to get deployments/animals. So, contrarily to what I wrote above, sorting by project code first seems the most natural option.

I also gave a look to station names, naming them is totally uncontrolled as @peterdesmet already mentioned: I found even the `""` (empty string) value as station n

[2020-08-27 15:44] jreubens commented on #122
We are aware of this. Will be updated in the next days. But this project is not part of the datapaper...

[2020-08-28 08:57] peterdesmet commented on #122
Great! No, I just noticed it. 😄 Closing this issue.

[2020-08-28 08:57] #122 closed

[2020-08-28 09:32] peterdesmet commented on #121
Thanks for the feedback! @damianooldoni regarding `station_name`: see discussion above, even though it's not super controlled, it is preferred to group by geographical unit (station) rather than receiver_id. Within a project there are seldom duplicates of station names

[2020-08-31 07:48] peterdesmet commented on #121
@IPauwels @jreubens @PieterjanVerhelst One remaining issue @damianooldoni and I have been trying to sort out (pun not intended) is the default sorting of `tag_id` (and to lesser extend `station_name` and `receiver_id`), which is:

[code]

The more natural order you would expect is:

[code]

But we haven't found an elegant solution yet that does not affect the speed of the functions. Is it worth pu

[2020-09-01 04:32] jreubens commented on #121
I also prefer the natural sorting...

[2020-09-01 09:38] PieterjanVerhelst commented on #121
Here the same; I prefer the natural sorting.

[2020-09-01 14:12] peterdesmet commented on #121
Ok, it took me a while to figure it out, but we now have an elegant solution using `str_sort()` and `arrange()` in d2134eb. The order of `tag_ids`, `station_names` or `receiver_ids` will now be the same when using `list_` or `get_` functions.

[2020-09-01 14:36] damianooldoni opened #124 "Add unit tests for sorting of results"
In #121 we discussed the sorting of the results. PR #123 will be fast approved for fast use of the functionality in `master` branch. However, it is better to write some tests about sorting.

[2020-09-01 18:41] peterdesmet commented on #124
It took me a while to find an example of the correct natural sorting in animals, but here it is (99 before 100):

animal_project_code | release_date_time | tag_id
--- | --- | ---
OTN-Skjerstadfjorden | 2016-10-19 01:00:00 | S256-99
OTN-Skjerstadfjorden | 2016-10-19 01:00:00 | S256-100

[2020-09-02 10:13] peterdesmet commented on #121
This is now implemented in #123 and version `0.1.0.9123` of the package. Thanks for all the feedback.

[2020-09-02 10:13] #121 closed

[2020-09-08 07:32] fwaumans commented on #113
I have exported the fields and their definitions in a JSON file. Is this ok for you?
[metadata.txt](https://github.com/inbo/etn/files/5186768/metadata.txt)

[2020-09-08 07:50] peterdesmet commented on #113
I can probably work with that.

@jreubens should this be displayed to the user on the ETN R package website (that is something I can take care of) or did you have another place in mind?

[2020-09-08 13:02] jreubens commented on #113
@peterdesmet ETN R package website seems good place to me

[2020-09-10 14:49] peterdesmet commented on #113
@fwaumans I inspected the JSON file. Would it be possible to:

1. Indicate which **view** a field belongs to
2. Have the fields in the order they appear in
3. Indicate the field type

Thanks!

[2020-09-10 16:04] peterdesmet opened #125 "ETN field name typo"
@fwaumans two weird things I noticed in the file with all the field names you shared in https://github.com/inbo/etn/issues/113#issuecomment-688678735:

- [x] HYDROPHONE_CABLE_LENGHT: typo, should be HYDROPHONE_CABLE_LENGTH
- [x] RECEIVER: appears twice

[2020-09-11 07:58] peterdesmet commented on #113
Based on the json file, I have now created an extra page (not online yet):

<img width="871" alt="Screenshot 2020-09-11 at 09 56 40" src="https://user-images.githubusercontent.com/600993/92887979-33df8a80-f415-11ea-97ca-a320d0d0141b.png">

But as mentioned, it would be better if these fields were organized by view + have data type. @jreubens Thoughts?

[2020-09-11 08:01] peterdesmet commented on #113
Page is online, so you can see: https://inbo.github.io/etn/articles/etn_fields.html

[2020-09-12 07:39] PieterjanVerhelst commented on #113
Great 👍 !

[2020-09-15 07:25] fwaumans commented on #125
These names appears in the headers of the tables in the webapplication.  The info is stored in a metadatatable in the database.
HYDROPHONE_CABLE_LENGHT: I have corrected the typo in the database.
RECEIVER: can be a cpod hydrophone (cpod table in webapp) or a acoustic telemetry receiver.
I will make a view in the database that links the data in the metadatatable with the fields of the views and gra

[2020-09-15 13:12] fwaumans commented on #110
I have added principal_investigator and principal_investigator_email.

[2020-09-15 13:31] fwaumans commented on #108
Now, you can only store acoustic tags in the database.   In the tag table one record is actually one transmitter. An acoustic tag with two transmitters (ex. P and T) is stored as two records in the tag table with the same serial number in the serial number field.  From ADST tags, only  the acoustic transmitter can be stored in the database.  We plan to extend the database to store DST.

[2020-09-16 09:44] fwaumans commented on #110
The full name of the principal investigator and the coordinating organization are not directly stored in the database. You can derive the full name and organization from the imis personid (`pi_imis_person_id`)  and imis datasetid (`imis_dataset_id`) in the projects_view2 view with a webservice call.
datasets:
[](http://www.vliz.be/imis?module=dataset&dasid=6560&show=json) (key ownerships defines t

[2020-09-16 19:51] fwaumans commented on #110
`coordinating_organization` and `principal_investigator` were added.

[2020-09-18 09:32] jreubens commented on #113
Very Nice!

[2020-09-22 15:50] fwaumans commented on #113
I have made a view in the database which stores the information about the etn fields: `vliz.datapaper_metadata_fields`. We can use the database as primary source for storing the metadata about the etn fields.

[2020-09-29 13:49] peterdesmet commented on #110
Tests updated, issue can be closed.

[2020-09-29 13:49] #110 closed

[2020-09-29 13:50] #125 closed

[2020-09-29 17:20] peterdesmet commented on #113
Page updated at https://inbo.github.io/etn/articles/etn_fields.html. Still some corrections to be made (communicated by email), but a big improvement at least.

[2020-10-01 13:28] peterdesmet opened #127 "Fields without a name in field_definitions"
Reported by @fwaumans:

- animal_view2:pk
- animal_view2:animal_id
- receivers_view2:telemetry_type: ?
- tags_view2: tag_id_alternative: thelma_converted_code?

@fwaumans

- I noticed it is the other way around: the `database_column_name` is populated, but `field` is empty. Can you confirm?
- I am using `field` on https://inbo.github.io/etn/articles/etn_fields.html, because I assumed that is the f

[2020-10-01 13:45] peterdesmet opened #128 "Order fields correctly on field definitions page"
The fields on https://inbo.github.io/etn/articles/etn_fields.html should be displayed in the order they are returned by the view and thus functions. This is achieved by having an `order` column in the `field_definitions` table. However, that column is currently sequential over all views: 1 -> 212

1. I think it will be easier to maintain if those numbers were sequential per view, e.g. `animal_view

[2020-10-01 14:05] peterdesmet opened #129 "Maintain a csv export of field_definitions view"
https://inbo.github.io/etn/articles/etn_fields.html is a human readable overview of the fields and definitions, but I think it would be useful to also provide this as a csv file (which could additionally be deposited on Zenodo).

@damianooldoni it is a bit unclear to me where this file should be stored, see https://r-pkgs.org/data.html. It's not in `data` as it's not binary R data. So, is it `inst

[2020-10-01 14:18] peterdesmet commented on #129
Implemented in `inst/extdata` in 7e087ed7, but feedback on best practice still welcome.

[2020-10-01 14:19] peterdesmet commented on #113
Fields are now also ordered and a csv export is made available: https://inbo.github.io/etn/articles/etn_fields.html Closing this issue, rest can be tackled in separate issues.

[2020-10-01 14:19] #113 closed

[2020-10-02 07:41] damianooldoni commented on #129
First of all, thanks @peterdesmet for this precious documentation work!

About che choice of using `inst` directory: YES.
I am doubting about the subdirectory `extdata`. After googling and checking other packages as rgbif, I think we could best make use of `assets` subdirectory for this kind of data.
Example: https://github.com/ropensci/rgbif/blob/master/inst/assets/typestatus.csv

[2020-10-02 09:01] #129 closed

[2020-10-07 12:42] peterdesmet commented on #100
Follow up: removing `receiver_status` from deployments will also bring the data.frame you get from `get_deployments()` in line with what the view (and what is described in https://inbo.github.io/etn/articles/etn_fields.html#deployments). I have already dropped the field for data publication.

[2020-10-07 12:53] peterdesmet opened #130 "Create function to download data for publication"
Create function that replicates functionality of https://github.com/inbo/etn-occurrences/blob/master/src/1_download.Rmd

`download_dataset()`

## Input

- `directory`: where files should be put
- `animal_project_code`
- `scientific_name` (to filter e.g. `sync tag` out)
- ~~`cut_off_date`: is this necessary? **see below: at least not for deployments**. Undecided for detections~~

## Output

- `anim

[2020-10-08 19:19] peterdesmet commented on #130
@PieterjanVerhelst (in conversation in Google spreadsheet) says cut-off date for deployments not necessary:

[2020-10-12 13:11] #100 closed

[2020-10-12 13:13] peterdesmet commented on #100
This is now implemented. Note that to some this might be a loss of functionality, but it makes much more sense conceptionally (`receiver_status` is not a field in `deployments`). The example in the vignette shows how it is possible to still filter deployments on status: https://inbo.github.io/etn/articles/etn.html#deployments-overview

[2020-10-12 13:29] peterdesmet commented on #130
@jreubens @PieterjanVerhelst will it ever be useful to download sync/sentinel data for an animal project as a dataset?

[2020-10-15 10:20] damianooldoni opened #133 "Add tests for download_dataset() function"

[2020-10-15 10:59] peterdesmet commented on #127
activation_date in tags_view2 seems to be dropped too

[2020-10-15 11:11] peterdesmet commented on #130
This is now implemented in #132, see online function documentation at https://inbo.github.io/etn/reference/download_dataset.html.

@jreubens @PieterjanVerhelst The above question regarding sync/sentinel data remains. If a scientific_name is not provided, the function will download all data including sync/sentinel data. This can be a lot (for a default option).

[2020-10-15 15:22] PieterjanVerhelst commented on #130
@jreubens we think it would be better to put sync/sentinel/range_test tags and data under a separate project. This would make those 'sub' datasets better traceable. For instance, researchers may be interested in a range test rather than the fish detections. Putting them in another project will make their existence clear.

[2020-10-15 15:23] PieterjanVerhelst opened #134 "Seperate project for sync/sentinel/range_test tags"
@jreubens we think it would be better to put sync/sentinel/range_test tags and data under a separate project. This would make those 'sub' datasets better traceable. For instance, researchers may be interested in a range test rather than the fish detections. Putting them in another project will make their existence clear.

_Originally posted by @PieterjanVerhelst in https://github.com/inbo/etn/issu

[2020-10-16 05:56] jreubens commented on #130
@PieterjanVerhelst; @peterdesmet  I wouldn't put this type of data under a separate project.
It is often part of the analyses you perform in the framework of you species data as it is a proxy for environmental factors influencing your detectability...
However, I do agree that you are not always interested in this part of the data and perform the analysis separate from your species analysis. Can yo

[2020-10-16 07:07] peterdesmet commented on #130
Jan, the issue is a bit that when publishing a dataset: do you want both included or is it easier for users if those are separate datasets (that link to each other)?

[2020-10-16 08:51] jreubens commented on #130
will depend on the context... but isn't this a choice researchers should have?

[2020-10-16 09:16] peterdesmet commented on #130
Yes, and by offering two datasets/projects, I think the choice is easier for them. The question came up in context of the current data paper. Until now I've always hear to _not_ included the sync data, but keep it to the biological data. But then we need another avenue to (maybe later) publish the sync data, e.g. as a separate project.

[2020-10-22 20:07] peterdesmet opened #135 "Handle multiple tag_id in datapackage.json"
Multiple `tag_id` associated with a single animal fail the `datapackage.json` validation. I should look into if that can be expressed differently in the `datapackage.json`. Example for `2015_phd_verhelst_cod`:

[code]

Because of:

pk | animal_id | animal_project_code | tag_id | tag_fk | scientific_name
--- | --- | --- | --- | --- | ---
2827 | 2827 | 2015_phd_verhelst_cod | A69-9006-904,A69-9006-9

[2020-10-23 10:23] peterdesmet commented on #134
Discussion was continued in #130, but eventually agreed with @jreubens to move sync tags to separate project/dataset. This needs to be done for:

- [ ] `2010_phd_reubens_sync`
- [ ] `2012_leopoldkanaal_sync`

[2020-10-23 10:24] peterdesmet commented on #130
This function is now implemented, sync tags will be returned by the function, but to better describe methodology/allow users to download biological vs sync data, those will be moved to separate projects.

[2020-10-23 10:24] #130 closed

[2020-10-26 11:29] JolienGoossens opened #136 "Add built_in_tag_id to output of get_receivers function"
In ETN database, the full tag ID (eg. A69-1601-60183) is added to receiver metadata (column (BUILT_IN_TAG_ID). Could this be added to the output of get_receivers()?

(built_in_tag_fk is included in the output)

[2020-10-26 11:36] peterdesmet commented on #136
Hi @JolienGoossens, I checked and the column `built_in_tag_id` is included in the output of `get_receivers()`, with `tag_id` values (e.g. `A69-1601-60511`). Can you:

1. Verify what version of the etn package you are using?
2. Give an example of where `tag_fk` is included rather than `tag_id`?

Thanks

[2020-10-26 13:07] JolienGoossens commented on #136
Updated etn package and problem is indeed solved!
Thanks!

[2020-10-26 13:19] #136 closed

[2020-10-26 13:25] peterdesmet commented on #135
The type error could be solved if `tag_fk` has data type `string` rather than `integer`, maybe even with `xx,xx,xx` pattern constraint. It is not going to solve the foreign key issue.

[code]

[2020-11-01 21:31] fwaumans commented on #127
Indeed, the database_column_name is populated and the field is empty.

Correct

[2020-11-01 21:46] fwaumans commented on #127
For the animal view. I don't understand the difference between pk and animal_id

| view/table field   (animals) | suggested_field |                                   |   |   |
|------------------------------|-----------------|-----------------------------------|---|---|
| id_pk                        | pk              | primary key (autoincrement field) |   |   |
| id_pk                        | a

[2020-11-01 21:50] fwaumans commented on #127
Receivers
What is the difference between `telemetry_type` and `application_type`?

[2020-11-01 21:52] fwaumans commented on #127
Tags:
I will rename the field `thelma_converted_code`   by `tag_id_alternative`

[2020-11-02 12:26] peterdesmet commented on #127
:+1: `tag_id_alternative` should be the 3rd field, between `tag_id` and `telemetry_type`

`application_type` is a high level distinction (populated with `cpod` or `acoustic_telemetry`), but `telemetry_type` seems never populated. I'm not sure what is should be populated with (@jreubens @PieterjanVerhelst), but for now it can be added to the list of fields without definition.

The field that was in

[2020-11-03 20:16] fwaumans commented on #127
Ok for tags and animals.

About the difference between telemetry_type and application_type (receivers).
I think for application_type the two different values should be `telemetry ` (=tracking of tagged (known) animals' ) or `cpod` (=tracking of non-tagged (not-known) animals (porpoises)).

I case of telemetry you can specify the type of telemetry (telemetry_type):  `Acoustic`, `Archival`, `Satelli

[2020-11-05 11:10] jreubens commented on #127
@fwaumans, @peterdesmet  telemetry_type is indeed specifiying which telemetry technology you are using (i.e. acoustic, archival, satellite, ...) But I don't see this column on receiver level, only on tag level...Where are you looking?

[2020-11-09 10:05] fwaumans commented on #127
Tags: `tag_id_alternative` was added
Receivers: the value 'acoustic' was completed in the field `telemetry_type`
Animals; `animal_id `and `id.pk` were adjusted

[2020-11-09 12:45] peterdesmet commented on #127
Thanks! I noticed `step1_duration` jumped in front of `step1_power` in tags, can you revert that to `power`, then `duration`?

[2020-11-10 09:09] fwaumans commented on #127
Done!

[2020-11-10 09:18] #127 closed

[2020-11-10 09:18] peterdesmet commented on #127
Thanks, fix now on website.

[2020-11-12 16:48] peterdesmet opened #137 "Error for summarize"
When using `download_dataset(con, "2011_rivierprik")` I'm getting an error:

[code]

Even though that function is listed in importFrom (see https://github.com/inbo/etn/commit/6d6f0f444a4a20fd186106788e6260a08b6c6599). @damianooldoni care to take a look what might be causing this?

[2020-11-12 17:58] damianooldoni commented on #137
I cannot reproduce your error. I am working on master and everything is working fine. Can you give me more details about the error?

Try maybe to restart R, reinstall etn, loading it and then auto completion should work while typing `summarize()`.

[2020-11-12 18:31] peterdesmet commented on #137
I must have been using the wrong installation. Clean install works now.

[2020-11-12 18:31] #137 closed

[2020-11-12 18:41] peterdesmet commented on #135
Table schemas (rightfully) doesn't support foreign keys that are comma separated, so the `foreign_key` issue is going to remain. I'm also not going to change `integer` to `string` for the `tag_fk` data type, since seeing that error is actually useful in understanding the foreign key error (which does not list the value `1794,1793` itself):

[code]

[2020-11-12 18:41] #135 closed

[2020-11-12 18:43] #134 closed

[2020-11-12 18:50] peterdesmet commented on #128
This is now largely implemented in https://github.com/inbo/etn/commit/5c1618a01b3c20d38633effa750f0b14b61e40b9

@fwaumans I noticed one field in `vliz.field_definitions` is still empty! That is `receivers_view2:telemetry_type`. This should be added as the 4th field in that view, after `application_type`.

[2020-11-12 18:55] peterdesmet commented on #128
Correction: in addition to `receivers_view2:telemetry_type`, there is also an empty field for `tags_view2`:

`tags_view2:activation_date` should be added right after `status`, at position 13. Luckily, the order `13` is currently missing, so nothing needs to be shifted in `order`.

[2020-11-16 13:00] damianooldoni commented on #133
Using `2011_rivierprik` to test `download_dataset()` is still taking too much time. This is due to the third step, downloading `detections.csv` of size 22.9 MB. There are two options;

1. a even smaller project
2. introducing the option of downloading a subset of data files from the project, with download ALL as default option (something like `which = NULL` for the default behavior and `which = c(

[2020-11-16 13:33] peterdesmet commented on #133
1. 2015_homarus is a very small project (2 animals)
2. Sound like a good idea, but although you might not need to download detections, you still need to query them to know which receiver projects are included, so you're not going to save on time.

[2020-11-16 14:21] damianooldoni commented on #133
1. Indeed, way smaller. But it takes still few seconds (~2.65s on my home connection). I think I will still opt for stubbing :hocho: Something like:
[code]
With such tubbing will take less than 2s

2. If you think it can be an useful, although not urgent enhancement, I would refer to this in a new issue and I will add myself as assignee, ok?

[2020-11-18 09:01] damianooldoni opened #138 "Bug with connection arg in download_dataset()"
This doesn't work:

[code]

The reason is that the get_*() functions called in `download_dataset()` are using `con` instead of `connection`.
This bug is hidden in some way if you use default `con` instead of another variable name as R uses any `con` it can find in global environment.

Bug found thanks to unit-tests by the way :test_tube: even if at first I thought it was a problem while using `tes

[2020-11-18 09:30] damianooldoni opened #139 "Documentation of download_dataset(): line width wider than 100 characters"
While running devtools::check(), one of the notes I get is the following:

[code]

@peterdesmet: Is there a reason to use the animal project `2014_demer` in `@example`? Using a smaller project (aka less scientific names) would solve this note easily, e.g. `2015_homarus`.

I can do it, I will include it in the PR I am writing now.

[2020-11-18 09:44] peterdesmet commented on #139
I'm using `2014_demer` because it showcases some of the warning messages

[2020-11-18 09:51] peterdesmet opened #140 "Make searching on codes case insensitive"
Since not all project_codes are using the same capitalization (`JSATS-PalmaBay-2019`, `2015_Albertkanaal_VPS_Ham`), I'm suggesting to make searching on codes case insensitive, so that you can e.g. search for the following animal_project_codes:

[code]

To query data for `2010_phd_reubens`. This would then apply to:

- animal_project_code
- network_project_code
- ~receiver_id~
- station_name
- ~tag

[2020-11-18 16:16] PieterjanVerhelst commented on #140
@peterdesmet this is about the search functionality in the data publication? If so, I agree for the project codes but would also do this for the station names.

[2020-11-18 18:21] peterdesmet commented on #140
This is about search functionality using ETN functions:

    get_animals(animal_project_code = “VALUE”)
    get_animals(animal_project_code = “value”)

Ok, could implement it for station names too.

[2020-11-18 19:40] damianooldoni opened #141 "Avoid arising warning in summary for empty projects in download_dataset()"
While trying to download data of a project, `2018_Iller`, I get an additional warning at the end:

[code]

This is due to the fact that the project is empty, so no min or max date for `detections` can be returned:

[code]

I would fix it by adding a small `if (nrow(detections) == 0) {}- else{}` to embed these two lines of codes.

@peterdesmet: is it ok for you?

[2020-11-18 20:11] damianooldoni commented on #139
I understand. Good point. :+1:
What about `2012_leopoldkanaal` then? It showcases a warning message and satisfies the check.

[code]

[2020-11-18 22:53] peterdesmet commented on #139
Ok for me!

[2020-11-18 22:54] peterdesmet commented on #141
Yes, good catch.

[2020-11-19 09:40] damianooldoni commented on #141
Fixed in https://github.com/inbo/etn/commit/1bace2b513c3fd007e834a9a970113764e9ca9a7

[2020-11-20 16:18] damianooldoni commented on #133
@peterdesmet : what about point 2? This would solve also the problem of adding detections (as csv or zipped) for tests as we can simply avoid to tests for detections. See your comment: https://github.com/inbo/etn/pull/142#pullrequestreview-535551403

[2020-11-23 19:14] peterdesmet commented on #133
@damianooldoni we did avoid using stubbing right? And this issue is now implemented in #142?

[2020-11-23 19:24] #138 closed

[2020-11-23 19:24] #139 closed

[2020-11-23 19:28] damianooldoni commented on #133
Yes. I close this issue.

Adding the option of downloading a subset of data files from the project can be seen as a new issue, if you still think it is a good idea to add such functionality to `download_dataset()`.

[2020-11-23 19:28] #133 closed

[2020-12-02 18:52] damianooldoni commented on #141
@peterdesmet, this issue has been solved. We can close it, isn't?

[2020-12-02 18:59] damianooldoni opened #145 "Improve testing download_dataset()"
As mentioned by @peterdesmet in https://github.com/inbo/etn/commit/8f456b1249cf6efd3509a32bbafc0140484824c9, using a small but active project is not a very good idea in testing :smile:

But it's not only that. with a real (=big) download it's impossible to check whether the numbers returned in summary are right. The only thing it can really check is the structure of the printed message.

TO DO

-

[2020-12-10 17:20] peterdesmet commented on #141
Yes indeed.

[2020-12-10 17:20] #141 closed

[2020-12-16 16:11] peterdesmet opened #146 "Include all tags by default in get_tags()"
The parameter `include_ref_tags` (default `FALSE`) in `get_tags()` currently excludes too much. It searches on `type = animal`, while that field contains other values as well:

[code]

The first 3 are considered animals. In addition, `include_ref_tags` can be set to default `TRUE`

[2021-01-04 15:57] peterdesmet opened #147 "Review examples"
- [ ] Make use of stable dataset `2014_demer`
- [ ] Add case insensitive examples
- [ ] Review if the default parameters are still valid (e.g. `include_animals` etc.)

[2021-01-05 16:24] peterdesmet opened #148 "Add tags_view2.activation_date to field_definitions"
In field descriptions there is an empty `tags_view2` field at [line 213](https://github.com/inbo/etn/blob/master/inst/assets/etn_fields.csv#L213). I think that should become `activation_date` with order `13`. That is how it appears in the `datapackage.json` and the actual view (even though it is only populated for 515 of the 11,434 tags):

[code]

@aubrivliz can this be updated in `vliz.field_defi

[2021-01-05 16:35] peterdesmet opened #149 "accelerometer_samples_per_second: integer or double"
I noticed the date type of the `tags_view2` field `accelerometer_samples_per_second` has changed from `integer` to `double`: https://github.com/inbo/etn/commit/9bfb4298ecaf12c58576b8b068461f0444384454

Also in the view return I get: `accelerometer_samples_per_second <dbl>`

@jreubens can it be confirmed this is intentional? If so, I need to update the `datapackage.json`.

[2021-01-05 16:46] peterdesmet opened #150 "Add receivers_view2.telemetry_type to field_descriptions"
In field descriptions there is an empty `receivers_view2` field at [line 168](https://github.com/inbo/etn/blob/master/inst/assets/etn_fields.csv#L168). I think that should become `telemetry_type` with order 4, with the order of the other fields shifting down (4 becomes 5 etc, all the way to 26). The datatype is `string`. The field is already listed in the view and `datapackage.json`.

@aubrivliz c

[2021-01-05 16:49] peterdesmet commented on #148
Note that in `deployments_view2` there is a field called `activation_date`**`_time`**. Not entirely sure why we decided on date here (but other field have it too: `ar_battery_installation_date`

[2021-01-12 13:53] jreubens commented on #149
@peterdesmet this is intentional as we can numbers with a decimal value

[2021-01-13 08:53] peterdesmet commented on #140
This is implemented in #144

[2021-01-13 08:53] #140 closed

[2021-01-13 08:54] peterdesmet commented on #128
This issue can be closed after #148 and #150 are done.

[2021-01-20 10:58] #149 closed

[2021-03-12 08:35] IPauwels opened #151 "Error in downloading certain animal_projects"
I encountered the following error when trying to download the data of the animal project 2013_albertkanaal. I also encountered this for some other animal projects, but not for all.

Downloading data to directory "2013_albertkanaal":
(existing files with the same name will be overwritten)
* (1/6): downloading animals.csv
* (2/6): downloading tags.csv
* (3/6): downloading detections.csv
* (4/6): dow

[2021-03-12 08:52] damianooldoni commented on #151
I think it's a problem of rights. I got full rights to see all datasets, but not everybody has such rights. You are using the most updated etn package version, so I don't see any other reason for such error.
I remember I got sam errors while trying to test this functionality by using some animal projects I didn't have read rights.

[2021-03-15 08:21] damianooldoni commented on #151
@IPauwels: a simple test can demonstrate if my hypothese is true. How many networks do you get back if you run this? I got 126.

[code]

[2021-04-23 13:31] peterdesmet opened #153 "Short controlled names for scopes"
@aubrivliz @jreubens can you give us a list of the different (new) scopes, so we can come up with good short names for them such as `pit`, `acoustic`, `dst`. These names will be important for function names or parameters.

[2021-04-26 14:47] jreubens commented on #153
@peterdesmet  I suppose you refer to the different contexts here.
What it will be:
- Acoustic Telemetry
- Archival Data
- Acoustic-Archival
- Underwater Acoustics
- Passive Integrated Transponders
Later others can be added

[2021-04-26 14:56] peterdesmet commented on #153
Great, since those names are quite long, can you suggest shorter, lowercase values? Except for `pit` I won't make an attempt, because it is unclear to me what those contexts mean and how they are different.

[2021-05-17 09:25] peterdesmet opened #155 "Add data type back to field_metadata"
The table `app.field_metadata` seems to replace the previous `vliz.field_definitions`. Field names have been renamed but I could find the columns we originally had. Except for `datatype` (character varying, text, double precision, etc.). @aubrivliz can that be added again?

Columns as we had it previously:

<img width="879" alt="Screenshot 2021-05-17 at 10 46 57" src="https://user-images.githubuse

[2021-05-17 13:30] peterdesmet opened #156 "Removed definitions in field_metadata"
In the new `field_metadata` table, a number of definitions were removed from the `tags_view2` table, even though they still appear in that view:

order | field | remark
--- | --- | ---
1 | pk |
2 | tag_id | definition deleted
3 | tag_id_alternative |
4 | telemetry_type |
5 | manufacturer | definition deleted
6 | model | definition deleted
7 | frequency
8 | type | definition deleted
9 | serial_numb

[2021-05-26 13:27] peterdesmet opened #157 "Different names in app, views and download files"
In noticed that the field names you see in the http://www.lifewatch.be/etn/ app are different from what you get when you click the `Download data` button. I think what is listed in the data download are the actual db field names, but I think it would be much more user friendly if those were the same names they see in the app.

Example for `Deployments`:

View field name | Download field name
--- |

[2021-05-31 12:40] peterdesmet commented on #157
After discussion with @aubrivliz

- Both applications and R package will make use of `field_metadata` for field name mapping
- The download functionality in the application currently returns DB names and will be looked into by @aubrivliz.

[2021-05-31 12:40] #157 closed

[2021-05-31 12:56] peterdesmet opened #158 "Don't make use of view2 views for functions"
As discussed with @aubrivliz on May 31.

There are three reasons to stop making use of the `view2` views:
- The ETN application will never make use of these views
- The view maps colnames  (`minDelayStep1` ->`step1_min_delay`), but so does the `field_metadata` table. That is a duplication of effort.
- As R package devs we can't control what is returned by the views (e.g. adding a field)

The R fun

[2021-05-31 13:46] peterdesmet opened #159 "Create function to rename, select and order columns"
Create helper function that renames, selects and orders columns returned by DB, based on information in `field_metadata`.

So, given a `df1` with columns `a, c, d, e, b` and a `df2` with:
[code]

Transform `df2` to have columns `Alfa`, `Bravo`, `Charlie`, `Delta` (and dropping `e`).

[2021-05-31 13:56] damianooldoni commented on #159
Something like this?
[code]
Created on 2021-05-31 by the reprex package (v2.0.0)

[2021-05-31 14:00] damianooldoni commented on #159
Something like this?

[code]
Created on 2021-05-31 by the reprex package (v2.0.0)

In your example `df2` is already ordered by `View_order` but you can try to change such order and result will change as well based such order.

[2021-06-01 09:32] peterdesmet opened #160 "Define new function names"
With the extended scope of ETN, we need to come up with stable, intuitive function names. Here are some suggestions per data table:

# TAGS

`get_tags(scope = "")`
`get_acoustic_tags()` + `get_sensor_tags()`
`get_acoustic_tags()` + `get_adst_tags` + `get_dst_tags()` + `get_pit_tags()`

# ANIMALS

`get_animals(scope = "")`
`get_acoustic_animals()` + `get_adst_animals()` + `get_dst_animals()` + `get

[2021-06-01 09:39] PieterjanVerhelst commented on #160
I prefer a general function where you can add the `scope` instead of making many similar functions.
For `PROJECTS` I would also go for the function where you can add both `scope` and `type`.

[2021-06-01 10:35] peterdesmet commented on #160
There are definitely benefits in doing it like that, but I see two downsides:

1. Not all scopes apply to all functions. That is made clearer to users by not having a `get_adst_receivers()` rather than getting an error when trying `get_receivers(scope="adst")`
2. `get_tags()` will return different dataframes (partly different columns) depending on the scope, so it makes sense to split those at lea

[2021-06-01 11:30] peterdesmet commented on #160
After discussion with @jreubens the current proposal is:

[code]

[2021-06-01 12:54] jreubens commented on #160
Get_id_tags is only possible for acoustic and PIT. keep in mind that pit is not yet implemented. But is planned to be done in the coming year...
I don't know whether PIT tags can have sensor_Tags. @PieterjanVerhelst, @IPauwels  do you know?

[2021-06-01 13:14] PieterjanVerhelst commented on #160
PIT tags do not have sensors. I suppose `adst` tags should be added to every function that is relevant for `acoustic` and `dst`?

[2021-06-02 09:09] PieterjanVerhelst opened #161 "No data is returned for life4fish project"
I run the following code to download data from the `life4fish` project:
[code]

[2021-06-03 07:14] jreubens commented on #161
@PieterjanVerhelst I can confirm that you have writing access

[2021-06-03 21:11] PieterjanVerhelst commented on #161
@peterdesmet any ideas on why I don't get the data from ETN through the package?

[2021-06-03 21:14] PieterjanVerhelst commented on #161
Update: I do get data when requesting animal data:

[code]

[2021-06-21 13:25] PieterjanVerhelst opened #162 "Tag_id_alternative returned by 'get_animals()'"
It would be beneficial to return the `tag_id_alternative` when info on animals is called by `get_animals()`. For instance to link the animal info or metadata to the detection data.

[2021-06-24 14:42] aspillaga opened #163 "Error when connecting to the database ("connect_to_etn" function)"
I am getting the following error when I try to connect to the database using the "connect_to_etn function":

Error: nanodbc/nanodbc.cpp:1021: 00000: [unixODBC][Driver Manager]Data source name not found and no default driver specified

I am using a MacOs and R version 4.0.4.

[2021-06-25 08:29] peterdesmet commented on #163
It seems you are connecting from your local computer. That is unfortunately not possible, due to connection restrictions to the ETN database. The package only works on https://rstudio.lifewatch.be/ (which is in behind the same firewall as the database). A login can be requested at http://www.lifewatch.be/etn/contact.

In the future, we hope to use a different way of connecting to ETN (over webserv

[2021-06-25 08:49] aspillaga commented on #163
Thanks for the answer! Before I tried with my local computer, I did try to work with the remote server, but I was not able to install the "etn" package. I get an error related to the compilation of the "odbc" package.

[2021-06-25 08:59] PieterjanVerhelst commented on #163
@aspillaga have you tried the code I sent ou on the remote server? Normally that should work.

[2021-06-25 09:10] aspillaga commented on #163
Thanks @PieterjanVerhelst! It worked! I guess that some dependencies were missing or had to be updated...

I paste here Pieterjan's code in case is useful for anyone:

# Install and load packages
install.packages("devtools")
install.packages("digest")
#install.packages("processx")
devtools::install_github("inbo/etn")

[2021-06-25 09:33] jonasmortelmansvliz commented on #163
Hi, thanks!
I actually had the same issue simultaneously.
However - Pieterjan's code was not helping me...
In my case, library(etn) is running just fine.

I am working on remote server (in VLIZ), via rstudio.lifewatch.be, and trying to connect with my lifewatch.be/etn credentials.
I am getting an error: "Error: nanodbc/nanodbc.cpp:983: 00000: [unixODBC]fe_sendauth: no password supplied"

Anybody e

[2021-06-25 10:12] PieterjanVerhelst commented on #163
I would guess that you either did not add your password or put a wrong one.  Did you make connection like this?
[code]

[2021-06-25 14:27] aspillaga commented on #163
Hi! I am having a similar problem as @jonasmortelmansvliz. When I try to connect to the database I get this error:

Error: nanodbc/nanodbc.cpp:983: 00000: [unixODBC]FATAL: password authentication failed for user "[my actual email]"

I am using the same email and password I use at the ETN data portal and the Rstudio server.

[2021-06-25 14:30] PieterjanVerhelst commented on #163
@aspillaga @jonasmortelmansvliz the password is different than the one you use for the ETN data portal. I would think you got the relevant password when registering at the VLIZ Rstudio server.

[2021-06-25 14:33] jreubens commented on #163
hi,
try this
Sys.setenv(PG_LOGIN = "jonas.mortelmans@vliz.be", PG_PASS = "***")
my_con <- connect_to_etn(Sys.getenv("PG_LOGIN"), Sys.getenv("PG_PASS"))
------------------

*** replace by real password

[2021-06-25 14:40] aspillaga commented on #163
Hi!
@PieterjanVerhelst I use the same username and password for all the different logins, so I guess that they should work...
@jreubens this is not working either...

[2021-06-25 21:41] PieterjanVerhelst commented on #163
@aspillaga, I got the password needed to connect to ETN via the VLIZ Rstudio server from VLIZ and don't think I could change it myself (but it's a long time ago, so can be wrong). Better to check with @jreubens if your login & password are valid to connect. I am quite sure that will be the problem holding your from downloading the data.

[2021-06-28 11:45] aspillaga commented on #163
Thanks @PieterjanVerhelst! You were right. I needed the specific password to access the ETN database, which I had to request from the database administrators. With this password, I was finally able to access the data.

[2021-06-28 11:48] damianooldoni commented on #163
That's good news @aspillaga.
@jonasmortelmansvliz: could you please check if this helps you as well and let us know?

[2021-06-30 06:47] jonasmortelmansvliz commented on #163
Yes!
same for me, the password given by database administrator did the job ;-)
thanks

[2021-06-30 07:34] #163 closed

[2021-08-17 12:29] damianooldoni commented on #151
Issue has been solved.

[2021-08-17 12:29] #151 closed

[2021-08-17 12:47] peterdesmet commented on #159
Function name: `rename_fields()`

[2021-08-17 13:16] damianooldoni opened #164 "Deprecate get_projects() and get_tags()"
`get_projects()` and `get_tags()` should be deprecated.

- [ ] `get_tags()` should redirect to `get_id_tags()`
- [ ] `get_projects(type = "animal")` should redirect to `get_animal_project()`
- [ ] `get_projects(type = "network")` should redirect to `get_network_project()`
- [ ] `get_projects()` should return error

[2021-08-17 13:17] peterdesmet commented on #159
Not every `table_column` is mapped to the same `field_name`:

[code]

So, we need to pass an extra "entity" parameter to the helper function. Rather than having the literal `entity` names, I would pass the function name (e.g. `get_detections`) and handle the mapping in the helper function.

[2021-08-17 13:21] damianooldoni opened #165 "Create dev branch"
We are going to work on a `dev` branch as reference branch for developing the migration of the package to the new format.

In this branch, all "old" functions will get `_old` suffix, e.g. `get_animals_old`.

Tests will break of course. That's exactly what we want.

[2021-08-17 13:22] damianooldoni commented on #165
Exceptions:
- `connect_to_etn()`

[2021-08-17 14:02] peterdesmet opened #166 "Add order and view for OWNER_ORGANISATION"
In the table `field_metadata`, please update `OWNER_ORGANISATION` (id_pk: `7`):

- data_format_field_views_definition: `receivers_view2`
- view_order: `10`

[2021-08-17 14:05] aubrivliz commented on #166
This has been changed.

[2021-08-17 14:34] #166 closed

[2021-08-17 14:52] peterdesmet commented on #150
@aubrivliz @jreubens the result of `get_receivers()` has the field `telemetry_type`, which only had the value `acoustic`. Is this field still useful (note that pit can also have receivers)? If so @aubrivliz, how do I get this value using the new model?

[2021-08-17 14:53] peterdesmet opened #167 "Add 2 missing receiver to field_metadata"
2 receiver fields are missing in `field_metadata`:

table_column | field_name | view_order
--- | --- | ---
id_pk | PK | 1
receiver_type | APPLICATION_TYPE | 3

@aubrivliz Can those be added?

[2021-08-17 14:56] peterdesmet opened #168 "Correct receiver model_number in field_metadata"
In field_metadata, id_pk 4:

    field_name: RECEIVER_ID_MODEL
    table_column: ar_model_number

Should be:

    field_name: RECEIVER_ID_MODEL
    table_column: model_number

[2021-08-17 15:10] aubrivliz commented on #150
@peterdesmet for acoustic this has been changed to `receiver_type` to get the acoustic receivers and the cpod receivers (this table is also used for the cpod receivers). When we add PIT in the future we will have a new table `receivers` in a new schema for pit.

[2021-08-17 15:18] aubrivliz commented on #167
Has been added

[2021-08-17 15:20] aubrivliz commented on #168
This has been changed

[2021-08-17 15:26] peterdesmet commented on #150
Ok, the field `receiver_type` (mapped to `application_type`) has always been there indeed, with the values `cpod` and `acoustic_telemetry`. I draw a number of conclusions:

- The field `telemetry_type` should no longer be returned by the function: it does not provide useful information.
- As a design principle, functions should always return the same data.frame structure (no matter the scope). If

[2021-08-17 15:29] #167 closed

[2021-08-17 15:37] #168 closed

[2021-08-18 09:28] damianooldoni commented on #165
Done in b19bafc0a3d056995d84c5965f75b31798fd48b2, 3cb220695a62325d05b9fb457d5ef9e45c0d600a, 04541640f62fffd835ea21da8de97e170b8c3b88

[2021-08-18 09:28] #165 closed

[2021-08-18 09:30] damianooldoni commented on #164
`get_transmitters()` is deprecated already and it points to `get_tags`. It should point to `get_id_tags()`.

[2021-08-18 10:07] peterdesmet opened #170 "Changes to animal fields in field_names"
@aubrivliz can you do the following actions for the animal entity in field_names. ~Crossed words~ mean that the field should be empty or replaced with the value after it.

action | id_pk | table_column | field_name | view_order
--- | --- | --- | --- | ---
add |  | id_pk | PK | 1
add |  | id_pk | ANIMAL_ID | 2
add |  | (leave empty) | ANIMAL_PROJECT_CODE | 3
update | 96 | ~TBD~ | TAG_ID | 4
add | |

[2021-08-20 12:36] peterdesmet opened #171 "Handle user access and moratorium in views"
If we create our own views in the data package, we should make sure it handles/respects moratorium and user access.

[2021-09-08 11:42] peterdesmet commented on #171
Rather than defining in the R package what the user can see, it was decided that this would be handled by views in the database. The R package will then define the field names and order. @aubrivliz as discussed, can you let us know what views we should use for:

- [ ] animals
- [ ] acoustic_tags
- [ ] archival_tags
- [ ] archival_readings
- [ ] acoustic_detections
- [ ] archival_detections
- [ ] a

[2021-09-08 11:51] peterdesmet opened #172 "Number of records (for validation)"
## animals

[code]

8051

[2021-09-08 13:08] peterdesmet opened #173 "Some tag_device have the same serial_number: is this by design?"
[code]

serial_number | animal_release_fk | count
--- | --- | ---
1293290 | 5363 | 2
1293289 | 5364 | 2
1280669 | 5840 | 2
1280688 | 5841 | 2
1400261 |  7180 | 2
1400259 |  7181 | 2
1400260 |  7182 | 2
1400262 |  7183 | 2
1400264 |  7184 | 2
1400268 |  7575 | 2
etc. | ... | ...

Some tags (of the same or different type) have the same serial_number. Is this by design? I though - especially for tags

[2021-09-08 13:44] peterdesmet commented on #173
To visualize my question, the situation for some tags seems to be this:

[code]

Rather than:

[code]

Examples:

https://www.lifewatch.be/etn/animals/5340 (archival + archival)
https://www.lifewatch.be/etn/animals/5841 (archival + acoustic)

[2021-09-09 07:39] peterdesmet opened #174 "How can reference tags be identified in acoustic.tags?"
Acoustic tags used to be organized in `animal` and `reference` tags. How can I identify these in the new model?

[2021-09-15 11:43] peterdesmet opened #175 "Error in current version of package: projects_view2 does not exist"
@jreubens reported:

@aubrivliz was that view removed?

[2021-09-15 11:48] aubrivliz commented on #175
@peterdesmet, all the views are under the "acoustic" schema, so acoustic.projects_view2 should work fine.

[2021-09-17 08:50] peterdesmet commented on #175
@jreubens, I think you can resolve this issue by updating to the latest version of the package:

[code]

[2021-09-20 10:29] jreubens commented on #175
ISsue persists..

Error: <SQL> '  SELECT *
  FROM vliz.projects_view2
  WHERE
    'True'
    AND 'True''
  nanodbc/nanodbc.cpp:1587: 42P01: ERROR: relation "vliz.projects_view2" does not exist;
Error while executing the query

It still refers to 'view2' .. anything else I can do?

[2021-09-22 14:21] peterdesmet commented on #174
After investigation: non-animals (`Built-in`, `Plastic`, `Sync-tag`, `Range tag`) exist at the level of animals: that is the scientific name they get. I have therefore added a parameter `exclude_non_animals` (default FALSE) for `get_animals()` so the user can exclude those 4 if needed. I will remove the `include_ref_tags` parameter for `get_acoustic_tags()`.

[2021-09-22 14:45] peterdesmet opened #176 "1 duplicate tag_id in acoustic_tags"
There is one duplicate `tag_id` (`12140 `) in acoustic.tags:

[code]

[code]

Is this an error? How can a different `acoustic_tag_id` share the same common tag identifier?

[2021-09-22 16:51] peterdesmet opened #177 "acoustic_tag_id with multiple tag_serial_numbers and vice versa"
[code]

There are 331 occurrences of acoustic_tag_id with multiple associated tag_serial_number. Is this to be expected?

[code]

There are 193 occurrences of tag_serial_number with multiple associated acoustic_tag_id. Is this to be expected?

[2021-09-22 17:38] peterdesmet commented on #175
@jreubens the fact that your code refers to `vliz.projects_view2` indicates that you are still using an outdated version of the package. Try again with:

[code]

[2021-09-22 17:39] peterdesmet commented on #175
Our browse to your packages and remove "etn" before installing again.

[2021-09-23 07:11] jreubens commented on #174
Hi Peter, on tag level there is also a field called 'tag_sub_type' where 'animal' can be selected. Only plastic is not part of this...
But I agree with your solution

[2021-09-23 07:26] jreubens commented on #176
seems strange indeed. they both belong to the same institute. thus I contacted them to get more info

[2021-09-23 07:29] jreubens commented on #177
Yes it is expected
1 physical tag can have 2 sensors. then you get 2 IDs for 1 serial. This can however only be the case for Sensor tags at 69khz
AT 180kHz it can also be for ID tags (correct @IPauwels ?)

[2021-09-23 07:42] jreubens commented on #176
reaction of Eneko: "Hi Jan,

Yes, it is correct, it's a VEMCO tag that emits two different types of signals, one is a coded signal and the other a signal with another code and the sensor information (not sure why was programmed like that, it's a pretty old tag). It is there a better way to include this kind of tags in the database?

Cheers,"

[2021-09-23 07:48] IPauwels commented on #177
Yes, for 180 kHz ID tags there can be two tag ID's per serial number.

The prefix of the ID is different as it refers to the type of submission (PPM versus HR). But the suffix is the same.

- PPM transmissions of the same tag have: H170-xxxx-tagID
- HR transmissoins of the same tag have: A180-xxxx-tagID
(or the other way around, I always tend to forget).

[2021-09-23 08:18] peterdesmet commented on #174
Thanks for the clarification, then I prefer to select on `tag_sub_type` (as it is controlled) and have it at the level of `get_acoustic_tags()` (as it is a property of an acoustic tag). However, there seems to be some mismatch:

subtype_name | scientific_name | n
--- | --- | ---
animal | Built-in | 1
animal | Plastic | 30
animal | Range tag | 61
animal | Sync tag | 14
animal |  | 3664
built-in tag

[2021-09-24 11:56] peterdesmet commented on #177
Thanks, I understand the concept of the same suffix but different prefix, and that explains 70 of the duplicates, but not all. I think the others are the result of bad importing and require data cleaning: they currently mess up the model. I created a [spreadsheet](https://docs.google.com/spreadsheets/d/1f5zWe37BSua2jbxPC-asZVCL2wgY2ZdxXWtJS2yg7BU/edit#gid=0) with the full list.

The issue consiste

[2021-09-24 11:59] peterdesmet opened #178 "acoustic_tag_id with multiple serial_number"
There are 331 occurrences of `acoustic_tag_id` that occur more than once, some are associated with different `tag_serial_number`. Is this to be expected?

[code]

[2021-09-24 12:08] peterdesmet commented on #176
This one case seems actually the proper way to do it, but most are not implemented like this:

## Proper way (I think)

Only used for the one described in this issue.

[code]

## Currently

Used for all other records, see #178.

[code]

@jreubens @aubrivliz  I think there should be one way to do this (to be decided) and some data cleaning to get everything treated the same way.

[2021-09-24 12:28] peterdesmet commented on #174
Ha, seems that these "acoustic tag subtypes" are used for acoustic tags **as well as archival tags**, so I'm pretty confused now. 😅  Since it seems a generic common.tag property, I'm tempted to keep the filter at the `get_animals()` level, and not for both `get_archival_tags()` and `get_acoustic_tags()`. I see a benefit of using a controlled vocabulary (`animal`, `built-in tag`, `sentinel tag` and

[2021-09-27 15:25] salvafern opened #179 "Column 'order_field_definitions' does not exist"
Hi,

I'm trying to install the package and build the vignettes. One of the queries is failing because relies in a column that does not exist in the database. Could you have a look?

Environment -> https://rstudio.lifewatch.be/

[code]
<sup>Created on 2021-09-27 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

This runs fine:

[code]

[2021-09-28 09:03] peterdesmet opened #180 "Create get_definitions() function"
Suggestion by @jreubens: create function to get the definitions that are displayed on this page: https://inbo.github.io/etn/articles/etn_fields.html

[2021-09-28 09:04] peterdesmet opened #181 "Drop archival_tag.protocol field"
- [x] From database
- [x] From R package

[2021-09-28 09:05] peterdesmet opened #182 "Why do many archival_tag not have an id_code?"

[2021-09-28 09:11] peterdesmet opened #183 "Helper function to pull unique lists"
I often want a unique list of items from my selection, e.g. get the tag_serial_numbers associated with my animals:

[code]

I can use that vector to do:

[code]

@jreubens @PieterjanVerhelst @damianooldoni Would it be useful to have a helper function for this:

[code]

Note that this function could have build-in functionality to deal with multiple comma separated values:

[code]

[2021-09-28 09:12] peterdesmet opened #184 "tag_serial_number as parameter for get_animals()?"
@PieterjanVerhelst @jreubens Is it common to have a list of `tag_serial_numbers` that you then want the animals for? If so, it might be worth it to add `tag_serial_number` as a parameter to `get_animals()`:

[code]

[2021-09-28 09:14] peterdesmet opened #185 "Why are many "animal" archival_tags not associated with an animal"
@jreubens I notice many archival_tags with subtype "animal" that are not associated with an animal. What is the explanation for this?

[2021-09-28 09:15] peterdesmet commented on #175
@jreubens is this issue resolved for you?

[2021-09-28 09:19] peterdesmet commented on #158
This has been reassessed:

- Yes, the new version of the package will no longer make use of view2 views
- Yes, the new version of the package should get data from views that are used by the application (which filters data on what the user can see)
- No, we won't use `field_metadata` to try to map field names etc. The R package will define the order and name of the fields
- No we won't need helper

[2021-09-28 09:19] #158 closed

[2021-09-28 09:26] peterdesmet commented on #171
As discussed:
- the R package should use the views that are used by the application: **easier debugging and maintenance**
- those views should return at minimum all fields from the originating table
- those views should have the field names of the originating table
- those views should limit the records to what the user is allowed to see

[2021-09-29 13:13] peterdesmet opened #186 "Allow to return detections not associated with an animal"
If I remember correctly, this is a request made by @jreubens.

[2021-09-29 13:37] PieterjanVerhelst commented on #183
I think this is highly relevant and was actually something I was missing a bit already. Although you can get those info by working around it as suggested, this is much more elegant. Another example is getting receiver info for the receivers involved in a deployment-selection.

[2021-09-29 13:43] PieterjanVerhelst commented on #184
Yes! I now do this through subsetting (`filter()`). Does such a functionality already exist for the `tag_id_code` as well?

[2021-09-29 15:26] peterdesmet opened #187 "Add tests for sorting of returned df"

[2021-09-29 16:03] damianooldoni commented on #183
I think it's quite good to have, yes. It should not be a big function. I can write it for you if you want.

[2021-09-29 16:10] peterdesmet opened #188 "get_acoustic_detections(): missing sensor_ fields"
@PieterjanVerhelst @jreubens Here's a table of the fields that we used to have in `get_detections()` compared with the actual fields in the `detections` table of the database. Can you let me know for the elements in bold what to do?

what we used to have | what is in detections table | remarks
--- | --- | ---
detection_id ~pk~ | pk | ok
date_time | date_time | ok
receiver_id | receiver | ok
\- | r

[2021-09-29 17:16] peterdesmet commented on #183
@damianooldoni Yes, please. How should we name it without clashing with base or dplyr functions?

- `extract()`: generic short name
- `pull_distinct()`: verb first
- `distinct_pull()`: what actually happens
- `distinct_vector()`: what is returned
- `list_values()`: similar to other `list_` functions already in ETN who also return a unique vector of elements

I think `list_values()` is the best one

[2021-09-29 17:57] peterdesmet opened #189 "Add tests for expected data type of df columns"

[2021-09-29 20:07] PieterjanVerhelst commented on #183
Definitely `list_values()` to keep it straightforward with those other functions.

[2021-09-30 08:16] PieterjanVerhelst commented on #188
Here my comments in bullet points:

- `receiver_serial`: redundant
- `transmitter_name`: what is this?
- `transmitter_serial`: the DB uses the serial number as the unique identifier for a transmitter, because some transmitters (i.e. transmitters with sensors) can have multiple IDs. So would include this field
- `station_name`: preferably keep this name. It is self-explanatory. An alternative would

[2021-09-30 11:55] damianooldoni commented on #183
Yes, I vote for `list_values()` too.

[2021-09-30 19:11] jreubens commented on #183
me too of list _values and yes this is a functionality that we warmly welcome :-)

[2021-09-30 19:21] jreubens commented on #188
Hi, some extra info:

-'receiver_serial' is indeed redundant
- 'transmitter_name': redundant. Is a name people give to a tag
- 'transmitter_Serial': as @PieterjanVerhelst mentioned: should stay in
- station_name: not sure what the difference is with 'deployment.station_name'. We don't see the latter in the frontend
- lat and long: I agree with @peterdesmet to rename to deployment.lat and long as t

[2021-09-30 19:26] jreubens commented on #184
would definitely help to easily have access to tag serial numbers in  `get_animal`

[2021-09-30 19:27] jreubens commented on #186
Yes, that is a request from my side. Aubri is working on a view to enable this. Once available @aubrivliz can provide you the view.

[2021-10-01 07:57] damianooldoni commented on #183
Expect a PR in a moment.

[2021-10-01 09:14] jreubens commented on #175
yes it is resolved! I'll close it

[2021-10-01 09:14] #175 closed

[2021-10-01 09:14] jreubens commented on #175
done

[2021-10-01 09:23] jreubens commented on #185
@peterdesmet I don't see the field subtype in the frontend. But the reason that these tags are not yet linked to an animal is because @PieterjanVerhelst still needs to link to his animals. @PieterjanVerhelst am I correct?

[2021-10-01 09:24] jreubens commented on #182
If I'm correct archival tags never have an id_code, but only a serial. no distinction is made between both in archival tags

[2021-10-01 09:27] PieterjanVerhelst commented on #182
Indeed, they don't send out an ID that can be picked up by a beacon. So there is only a serial number of the product, the archival tag.

[2021-10-01 09:28] PieterjanVerhelst commented on #185
Not sure if that causes this issue, but it is correct that my animals still need to be uploaded in ETN. Aubri was working on a bug that prevented upload.

[2021-10-01 14:05] peterdesmet commented on #188
Ok, summary and questions in bold:

- `transmitter_serial`: I will not use this detections field, but look it up via `acoustic_tag_id` > `tag_device` instead
- `station_name`: I will not use this detections field, but look it up via `deployment` instead. **Is it useful to return this field for every detections or is it fine that you can join with deployments later**?
- `deploy_latitude`: I will no

[2021-10-01 14:14] PieterjanVerhelst commented on #188
@peterdesmet not sure if I understand you first 3 questions right. Every detection needs to have a `deployment_name`, `deployment_latitude` and `deployment_longitude`.  This is very essential info, so better comes 'standard' with detection data download. Does that answer your question?

[2021-10-01 15:41] peterdesmet commented on #188
Yes, that answers my question.

For `deployment_name`: I think we should keep the name `station_name`: the field is called as such is the deployment and detections table. What is unclear to me is whether we should return the one from the deployment or detections table?

[2021-10-01 16:12] peterdesmet commented on #188
FYI, the station_name values differ between the detections table and the deployment table.

[code]

- detections.station_name: `M-6`: also what is returned by the application
- deployments.station_name: `de-7`: probably the correct one.

[2021-10-01 16:14] peterdesmet commented on #188
Meanwhile, @aubrivliz can you explain how the application returns `sensor_value_depth` and `sensor_value_accelaration`. @jreubens Note that `sensor_value_temperature` is not returned by the application either.

[2021-10-02 18:51] jreubens commented on #188
the deployments.station_name is the correct one. This is what we give in as metadata. The dectections.station_name is the name as in the receiver. THis is entered in the field and prone to errors. Correct @aubrivliz

[2021-10-02 18:51] jreubens commented on #188
Interested in the answer myself. thus hope @aubrivliz can clarify :-)

[2021-10-02 18:57] jreubens commented on #174
I think this is a mistake. Archival tags shouldn't have a subtype. correct @aubrivliz

[2021-10-02 18:59] jreubens commented on #176
all tags should be implemented as the second (as most are)..

[2021-10-02 19:38] jreubens commented on #178
Can you provide me the full list of duplicates to check? This can occur as sometimes manufacturers re-use their ID codes because there is only a limited number of IDs in a protocol (and you can only have a limited number of protocols on a receiver).
But if both serial and ID are the same than it are real duplicates. Can you list these?

[2021-10-04 08:16] peterdesmet commented on #178
I have shared the full list of duplicates as a [spreadsheet](https://docs.google.com/spreadsheets/d/1f5zWe37BSua2jbxPC-asZVCL2wgY2ZdxXWtJS2yg7BU/edit?usp=sharing) (a new sheet on the one already created for #177). These are the full duplicates (both serial number and acoustic tag id occur twice):

serial_number | acoustic_tag_id
--- | ---
1310634 | A180-1702-48973
1319845 | A180-1702-50100
1712169

[2021-10-04 08:18] peterdesmet commented on #176
Can you explain why most should be implemented as such? Is it because 2 acoustic_tag_ids be considered as two (tag) devices?

[2021-10-04 08:20] peterdesmet commented on #174
@jreubens do you then suggest to implement `tag_subtype` as a filter specific for `get_acoustic_tags()`? That probably makes the most sense right, if it is not supposed to be a property of archival_tags?

[2021-10-04 08:22] peterdesmet commented on #183
Implemented in `sql_views` branch via #190.

[2021-10-04 08:22] #183 closed

[2021-10-04 08:32] peterdesmet commented on #182
The `archival.tags` table does have an `id_code` field however and when populated, it is different from the serial number:

<img width="559" alt="Screenshot 2021-10-04 at 10 29 09" src="https://user-images.githubusercontent.com/600993/135818708-94932736-47ba-4aa0-bb4c-e3be43b5b6d6.png">

If that field does not make sense, it **should be removed**. It was confusing to me, because I implemented it a

[2021-10-04 08:34] peterdesmet commented on #146
Everything is returned in the new `get_acoustic_tags()`.

[2021-10-04 08:34] #146 closed

[2021-10-04 08:35] peterdesmet commented on #153
For now, the scopes are `acoustic` and `archival` and those are part of the function names. Closing.

[2021-10-04 08:35] #153 closed

[2021-10-04 08:41] peterdesmet commented on #174
@jreubens you mention:

But note that the field is currently a property of `common.tag_device` (rather than `acoustic.tags`), which is why `archival_tags` can have it too. To change this, the database structure should be updated.

[2021-10-05 07:09] aubrivliz commented on #181
This field has been removed from the DB

[2021-10-05 09:14] aubrivliz commented on #181
This is incorrect, i will revert the changes.

For Archival tags we do not have a protocol but the Acoustic archival we do have a protocol.
Those 2 sesnsors are using the same sensor table

[2021-10-05 09:24] peterdesmet commented on #181
Can you give an example of an acoustic archival tag_serial_number?

[2021-10-05 09:59] aubrivliz commented on #181
serial_number:
1292638
1292639
1292640

[2021-10-05 10:56] jreubens commented on #174
Ok, Database structure won't be updated for this. Thus if possible tag_subtype should then be a filter for get_acoustic_tags

[2021-10-05 12:37] peterdesmet opened #192 "New model for tags"
@jreubens and I discussed the data model on the phone and we think it should be updated so that:

1. Table `tag_device` should only contain unique serial numbers: one device = one serial number = one row
2. (New) table `tags` contains one or more identifiers associated with the `tag_device`. It is a combination of the current tables `acoustic.tags` and `sensor.tags`, but also allows to store acous

[2021-10-05 12:38] peterdesmet commented on #176
After discussion with @jreubens, should likely be modelled as described in "Proper way". Model discussed in #192.

[2021-10-05 12:40] peterdesmet commented on #182
The field should stay, as it is used for **acoustic** archival tags. Model should likely be changed though, see #192. Moving issue to new milestone.

[2021-10-05 12:41] peterdesmet commented on #181
Thanks! I'll associate this issue with the model milestone, which is to be tackled later.

[2021-10-05 12:43] peterdesmet opened #193 "Create get_tags rather than separate get_acoustic_tags() get_archival_tags()"
After discussion with @jreubens, `get_tags()` should remain a generic function, as you currently don't know how to get acoustic archival tags. It will return the same dataframe for acoustic, archival and acoustic archival tags.

[2021-10-05 17:12] peterdesmet opened #194 "Need for protocol + tag_id columns"
@jreubens @PieterjanVerhelst Given that the `acoustic_tag_id` always (I checked) consists of `protocol` + `id_code`, is it still necessary for functions to return `protocol` and `id_code` as separate columns? It seems redundant:

acoustic_tag_id | protocol | id_code
--- | --- | ---
A69-1008-102 | A69-1008 | 102

[2021-10-06 08:25] peterdesmet opened #195 "Standardize sensor type across all tags"
Archival tags use a controlled vocabulary for sensor type, while acoustic tags do not. It would be best if all tags use the same controlled vocab. Will be easier once all tabs share the same table (see #192). Currently:

[code]

[2021-10-06 13:39] peterdesmet commented on #193
Fixed in #196

[2021-10-06 13:39] #193 closed

[2021-10-06 13:41] peterdesmet commented on #182
There is not action item in this issue, closing.

[2021-10-06 13:41] #182 closed

[2021-10-06 14:08] peterdesmet commented on #177
I have included the H170 vs A180 as a test in f34aa3bf4678cab2b522dd852a51d7a5cb464931. There are however still other tags where the protocol is not the difference. To be tackled after reworking model.

[2021-10-06 14:17] peterdesmet commented on #174
Update: all tags (acoustic, archival-acoustic) can have a `tag_subtype`. This is now a parameter in `get_tags()`. It is no longer possible to filter on this in animals, but the field `tag_subtype` is returned.

[2021-10-06 14:22] peterdesmet opened #197 "Data cleaning needed in scientific name and tag_subtype"
[code]

Selection of odd tag_subtype, scientific_name combinations:

tag_subtype | scientific_name | n
--- | --- | ---
"" | Alosa fallax | 23
"" | Anguilla anguilla | 2
"" | Built-in | 1
"" | Dicentrarchus labrax | 1
animal | Abramis brama Rutilus rutilus | 1
animal | Built-in | 1
animal | Petromyzon marinus Linnaeus | 25
animal | Plastic | 30
animal | Range tag | 60
animal |  Salmo trutta `extra

[2021-10-06 14:37] peterdesmet opened #198 "tag_full_id sometimes empty while protocol+id_code are not"
`acoustic_tag_id` is based on `protocol` + `id_code`. In the acoustic tags, this is always populated, but in acoustic-archival tags this is often empty even when `protocol` and `id_code` are not. It should always be populated in those cases

[code]

id_pk | sensor_full_id | protocol | id_code
--- | --- | --- | ---
2106 | NA | A69-9007 | 16275
2107 | NA | A69-9007 | 16276
2108 | NA | A69-9007 | 162

[2021-10-07 06:49] peterdesmet opened #201 "get_tags(): searching on acoustic_tag_id_alternative"
@PieterjanVerhelst it sounds like `acoustic_tag_id_alternative` (previously `tag_id_alternative`/`thelma_converted`) would be a useful field to search on in `get_tags()`. I'm thinking that rather than adding it as a separate parameter, the function could **look in both columns** for a given value. That would then return more than one row:

[code]

Does this sound useful?

[2021-10-07 06:53] #172 closed

[2021-10-07 06:55] peterdesmet commented on #159
We decided to rename the fields in the SQL queries themselves, rather than relying on the mappings in `field_definitions` as that became too complex (also to maintain). The suggested `rename_fields()` function is therefore not needed.

[2021-10-07 07:49] peterdesmet opened #202 "Create get_acoustic_deployments()"

[2021-10-07 07:49] peterdesmet opened #203 "Create get_acoustic_receivers()"
- [ ] SQL: define field names
- [ ] SQL: define field order
- [ ] SQL: make use of view
- [ ] Function: include SQL
- [ ] Function: update parameters (queries)
- [ ] Function: update documentation
- [ ] Tests: new order
- [ ] Tests: coverage
- [ ] Tests: pass
- [ ] Add deprecated forward

[2021-10-07 07:50] peterdesmet opened #204 "Update download_dataset()"
Maybe rename to `download_acoustic_dataset()`

[2021-10-07 10:07] #198 closed, assigned to aubrivliz

[2021-10-07 18:45] peterdesmet opened #205 "get_acoustic_deployments(): is location_manager supposed to be free text?"
These are the values for `location_manager` (i.e. `station_manager`):

[code]

Some values are free text, other numbers: are these referring to an identifier? Should free text be allowed?

[2021-10-07 19:43] peterdesmet opened #206 "get_acoustic_deployments(): additional fields needed?"
The following fields are available in the table `acoustic.deployments`, but were **not** returned by the original `get_deployments()`. Some of them are available in the application. @jreubens @PieterjanVerhelst can you have a look and tell me if any of these need to be added to the data frame returned by `get_acoustic_deployments()`?

field | shown in app | example | remark
--- | --- | --- | ---
d

[2021-10-07 19:50] peterdesmet opened #207 "Create get_cpod_deployments()"

[2021-10-08 07:49] peterdesmet opened #208 "get_tags(): field names for resolution, unit, accuracy, range_min, range_max"
I have now included 5 sensor-specific fields (resolution, unit, accuracy, range_min, range_max) in the data frame returned by `get_tags()`. These are fields that are present in `archival.sensor` but not in `acoustic.tag` (so they will be `NA` for acoustic tags). The 5 fields are shown in the context of other returned fields below, in **bold**.

@jreubens @PieterjanVerhelst

1. If these are specifi

[2021-10-08 08:12] #202 closed, assigned to peterdesmet

[2021-10-08 08:22] #162 closed

[2021-10-08 08:31] peterdesmet opened #209 "Create get_cpod_receivers()"
- [ ] SQL: define field names
- [ ] SQL: define field order
- [ ] SQL: make use of view
- [ ] Function: include SQL
- [ ] Function: update parameters (queries)
- [ ] Function: update documentation
- [ ] Tests: new order
- [ ] Tests: coverage
- [ ] Tests: pass
- [ ] Add deprecated forward

[2021-10-08 08:32] peterdesmet opened #210 "Create get_archival_readings()"
- [ ] SQL: define field names
- [ ] SQL: define field order
- [ ] SQL: make use of view
- [ ] Function: include SQL
- [ ] Function: update parameters (queries)
- [ ] Function: update documentation
- [ ] Tests: new order
- [ ] Tests: coverage
- [ ] Tests: pass

[2021-10-08 08:34] peterdesmet opened #211 "Update get_projects()"
- [ ] SQL: define field names
- [ ] SQL: define field order
- [ ] SQL: make use of view
- [ ] Function: include SQL
- [ ] Function: update parameters (queries)
- [ ] Function: update documentation
- [ ] Tests: new order
- [ ] Tests: coverage
- [ ] Tests: pass
- [ ] Add deprecated forward

[2021-10-08 10:50] #203 closed, assigned to peterdesmet

[2021-10-08 12:58] peterdesmet opened #212 "get_acoustic_detections(): Improve performance of acoustic.detections_limited"
@aubrivliz the `acoustic.detections_limited` view is working 👍 but could be improved:

1. Queries over it run rather slow, can we have a look to improve this?
2. In the table below I indicated the fields that are used in parameters for searching (in bold). Having an index on those fields could maybe improve performance?
3. Some of the returned fields are not use in R. If they are not used by the a

[2021-10-08 15:02] peterdesmet opened #213 "get_projects() how to get coordinating_organization, principal_investigator, principal_investigator_email"
@aubrivliz How are the following fields obtained in `projects_view2`? I want to replace the behaviour without making use of `view2`:

- coordinating_organization
- principal_investigator
- principal_investigator_email

Also, are the project fields `mrgid` and `mda_folder_id` important to return?

[2021-10-08 20:21] #211 closed

[2021-10-10 11:29] PieterjanVerhelst commented on #208
1. Yes, these are sensor-specific fields
2. I would remove `sensor_range` and keep your suggested, separated fields for min and max

Is this table for a specific sensor or for an archival tag with multiple sensors? Shouldn't there be a field indicating what type the sensor is (temp, pressure, light etc.)?
`frequency` is the time interval the sensor records a measurement, I guess?

[2021-10-11 07:05] jreubens commented on #206
agree with @PieterjanVerhelst

[2021-10-11 09:21] peterdesmet opened #215 "get_tags(): additional tag_device fields"
@PieterjanVerhelst @jreubens the following `tag_device` fields are currently not returned by `tag_tags()`. Should they?

- [ ] tag_device.qc_migration
- [ ] tag_device.archive_floating
- [ ] tag_device.archive_weight
- [ ] tag_device.archive_length
- [ ] tag_device.archive_diameter
- [ ] tag_device.order_number
- [ ] tag_device.device_internal_memory
- [ ] tag_device.external_id

Note that the sam

[2021-10-11 11:35] peterdesmet commented on #212
The current speed difference is 164.0s (no view) vs 1512.6s (detections_limited) for running all `get_acoustic_detections()` tests.

[2021-10-11 15:21] peterdesmet opened #216 "`get_acoustic_detections()`: handle `acoustic_tag_id_alternative`"
Create list of acoustic_tag_id_alternative that do not occur in acoustic_tag_id:

[code]

[2021-10-11 17:10] peterdesmet commented on #171
Now mostly solved in #217. The last view is to be tackled in #212.

[2021-10-11 17:17] peterdesmet commented on #212
@aubrivliz I think I was able to create a performant query for detections (all tests run in 103s):

https://github.com/inbo/etn/blob/586e19857b1a9e7107f1be78a11552d9d67ee1aa/R/get_acoustic_detections.R#L189-L259

- It links with acoustic tags and acoustic-archival tags, on tag_full_id and thelma_converted_code
- When the tag is associated with an animal, it only returns detections within data rang

[2021-10-11 17:25] #208 closed, assigned to peterdesmet

[2021-10-12 11:18] damianooldoni opened #218 "get_acoustic_deployments(): add arg deployment_id?"
While using `get_acoustic_deployments()`, you can filter by using arg `receiver_id` but not by `deployment_id`, which I found a little strange.

Usecase: I have a set of detections from `get_acoustic_detections()` and I want to get informations about the deployments involved. I can search by `recevier_id`, but searching by `deployment_id` sounds more logic to me.

@peterdesmet : what do you think

[2021-10-12 13:33] peterdesmet opened #219 "download_acoustic_dataset() returns acoustic_projects in other order"
For some reason, the `download_acoustic_dataset()` _in_ the test, does not return the acoustic_project_codes in the right order. 🤷‍♂️

[code]

[2021-10-12 13:39] peterdesmet opened #220 "Ghost detections for demer_2014"
An animal in 2014_DEMER (A69-1601-28296, 384, Silurus glanis) has a single detection on 2020-09-07 17:25:22 by VR2W-126349 (acoustic project MOBEIA). As a result, it alters the expect test results for `download_acoustic_dataset()`.

@IPauwels says this is outside temporal and spatial range, and thus a ghost detection.

This records should be flagged as a ghost detection? How can we do that? Can an

[2021-10-12 13:40] peterdesmet commented on #220
Once solved, revert b856d82.

[2021-10-12 14:01] peterdesmet opened #222 "Make station_name case insensitive?"
This is currently disabled for `get_acoustic_deployments()` and `get_acoustic_detections()`, because it slows down `get_acoustic_detections()` considerably. That could maybe improved if `detections_limited` always returns `station_name` in uppercase?

@PieterjanVerhelst how important is it that this parameter is case insensitive?